### Import libraries

In [1]:
#  import libraries
from bs4 import BeautifulSoup
import requests
import re #regex
import pandas as pd
from tqdm.notebook import tqdm
import time
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium import webdriver
from lxml import etree
import lxml.html as lh

### Get url and ids list

In [2]:
# 2. find url and store it in avariable
url = "https://www.christies.com/lotfinder/print_sale.aspx?saleid=28619"

# 3. download html with a get request
response = requests.get(url)

#check response status code 
response.status_code

# create a beautiful soup
soup = BeautifulSoup(response.content, 'html.parser')

In [3]:
antiquities_list = [29064,29150,28840,29063,28980,
                    28619,28775,28620,28629,28618,28783,28785,28552,28917,28682,
                    28125,28597,28295,28580,28201,28097,28363,28178,28329,28200,
                    27821,27423,27522,27422,27942,27521,
                    26822,26920,26821,26919,
                    26158,27002,26172,26744,26157,26171,
                    25353,25123,25307,25122,
                    25050,24491,24743,24670,24618,24445,24628,
                    24269,24033,24150,24337,24554,23986,24219,24516,24326,
                    24268,23585,23820,17246,23545,23710,23760,
                    23097,23096,23264,23019,23214,23416,
                    22640,22639,22908,22631,22857,22937,22824,
                    22181,22180,22407,22490,22121,22384
                   ]
len(antiquities_list)

87

In [4]:
# get the estimated price (strip min and max by dividing by -)
soup.find_all("span",{"class":"lot-description"})[1].get_text(strip=True)

'£7,000 - £9,000'

### Get the data of one page

In [5]:
all_data = [] 
for i in soup.find_all("tr"):
    all_data.append(i.text)
all_data = [x.strip().split("\n") for x in all_data]
all_data
#df = pd.DataFrame(all_data[1:])

[['55 Lots for Sale 18864'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 5/8 X 4 in. (9.2 x 10.2 cm.)',
  '',
  'estimate £7,000 - £9,000($9,324 - $11,988) ',
  'price realized £8,750  ($11,778)'],
 ['Lot 5',
  'AN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL',
  'MIDDLE KINGDOM, EARLY 12TH DYNASTY, CIRCA 1981-1802 B.C.',
  '12 3/8 in. (31.5 cm.) high',
  '',
  'estimate £30,000 - £50,000($39,960 - $66,600) ',
  'price realized £35,000  ($47,110)'],
 ['Lot 6',
  'AN EGYPTIAN PAINTED CARTONNAGE MUMMY MASK',
  'NEW KINGDOM, 19TH DYNASTY, CIRCA 1292-1185 B.C.',
  '8 ½ in. (21.5 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £18,750  ($25,238)'],
 ['Lot 7',
  'AN EGYPTIAN TURQUOISE FAIENCE FLASK',
  'NEW KINGDOM, 18TH DYNASTY, CIRCA 1550-1292 B.C.',
  '5 in. (12.8 cm.) high',
  '',
  'estimate £15,000 - £25,000($19,980 - $33,300) ',
  'price realized £4,375  ($5,889)'],
 ['Lot 9',
  'AN EGYPTIAN NUMMULITIC LIMESTONE FIGURE OF AN AMARNA PRINCESS',
  'NEW KINGDOM, 18TH DYNASTY, REIGN OF AKHENATEN, CIRCA 1347-1345 B.C.',
  '13 ½ in. (34.3 cm.) high',
  '',
  'estimate ($532,800 - $799,200) This lot was withdrawn from the sale'],
 ['Lot 11',
  'AN EGYPTIAN BRONZE CAT',
  'PTOLEMAIC PERIOD, CIRCA 332-30 B.C.',
  '6 5/16 in. (16 cm.) high',
  '',
  'estimate £15,000 - £25,000($19,980 - $33,300) ',
  'price realized £27,500  ($37,015)'],
 ['Lot 13',
  'AN EGYPTIAN BRONZE OSIRIS-PTAH',
  'LATE PERIOD, 26TH DYNASTY, REIGN OF PSAMTIK I, 664-610 B.C.',
  '8 ¼ in. (21 cm.) high',
  '',
  'estimate £80,000 - £120,000($106,560 - $159,840) ',
  'price realized £387,500  ($521,575)'],
 ['Lot 15',
  'A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY',
  'ARCHAIC PERIOD, CIRCA LATE 6TH CENTURY B.C.',
  '7 5/16 in. (18.6 cm.) high',
  '',
  'estimate £40,000 - £60,000($53,280 - $79,920) ',
  'price realized £50,000  ($67,300)'],
 ['Lot 16',
  'A CYPRIOT POTTERY ANTHROPOMORPHIC JUG',
  'CYPRO-ARCHAIC I-II, CIRCA 600-480 B.C.',
  '10 ¾ in. (27.3 cm.) high',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £21,250  ($28,603)'],
 ['Lot 17',
  'A CYPRIOT BICHROME POTTERY JUG',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '14 1/8 in. (36.1 cm.) high',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £12,500  ($16,825)'],
 ['Lot 18',
  'A CYPRIOT BICHROME POTTERY JUG',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '15 7/8 in. (40.1 cm.) high',
  '',
  'estimate £5,000 - £7,000($6,660 - $9,324) ',
  'price realized £10,000  ($13,460)'],
 ['Lot 19',
  'A CYPRIOT LIMESTONE HEAD OF HERAKLES',
  'CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.',
  '4 ½ in. (11.5 cm.) high',
  '',
  'estimate £5,000 - £7,000($6,660 - $9,324) ',
  'price realized £6,875  ($9,254)'],
 ['Lot 20',
  'A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY',
  'CLASSICAL PERIOD, CIRCA MID-5TH CENTURY B.C.',
  '10 ½ in. (26.8 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £11,250  ($15,143)'],
 ['Lot 21',
  'A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '4 ½ in. (11.5 cm.) high',
  '',
  'estimate £4,000 - £6,000($5,328 - $7,992) ',
  'price realized £5,250  ($7,067)'],
 ['Lot 22',
  'A CYPRIOT LIMESTONE HEAD OF A FEMALE VOTARY',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '5 ¼ in. (13.5 cm.) high',
  '',
  'estimate £4,000 - £6,000($5,328 - $7,992) ',
  'price realized £5,250  ($7,067)'],
 ['Lot 24',
  'A CYPRIOT LIMESTONE VOTIVE BUST OF A WOMAN',
  'CLASSICAL PERIOD, CIRCA 4TH CENTURY B.C.',
  '17 3/8 in. (44.2 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £22,500  ($30,285)'],
 ['Lot 26',
  'A GREEK BRONZE VOTIVE BULL',
  'CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.',
  '4 in. (10 cm.) long',
  '',
  'estimate £40,000 - £60,000($53,280 - $79,920) ',
  'price realized £68,750  ($92,538)'],
 ['Lot 27',
  'AN ATTIC BLACK-FIGURED BAND-CUP',
  'SIGNED BY TALEIDES AS POTTER, CIRCA 550-540 B.C.',
  '8 7/8 in. (22.6 cm.) diam. excl. handles',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £37,500  ($50,475)'],
 ['Lot 28',
  'AN ATTIC RED-FIGURED KYLIX',
  'ATTRIBUTED TO THE ANCONA PAINTER, CIRCA 470-460 B.C.',
  '15 ½ in. (39.5 cm.) diam. incl. handles',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £17,500  ($23,555)'],
 ['Lot 29',
  'AN ATTIC BLACK-FIGURED AMPHORA',
  'MANNER OF THE ANTIMENES PAINTER, CIRCA 530-520 B.C.',
  '15 ¾ in. (40 cm.) high',
  '',
  'estimate £40,000 - £60,000($53,280 - $79,920) ',
  'price realized £68,750  ($92,538)'],
 ['Lot 31',
  'AN ETRUSCAN BRONZE MIRROR',
  'CIRCA 4TH-3RD CENTURY B.C.',
  '8 11/16 in. (22.1 cm.) high',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £7,500  ($10,095)'],
 ['Lot 32',
  'AN APULIAN RED-FIGURED PELIKE',
  'CIRCA LATE 4TH CENTURY B.C.',
  '12 ¾ in. (32.5 cm.) high',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £16,250  ($21,873)'],
 ['Lot 33',
  'A GREEK BLACK-GLAZED BOAR ASKOS',
  'SOUTH ITALY, CIRCA 320-290 B.C.',
  '6 ¼ in. (16 cm.) long',
  '',
  'estimate £2,500 - £3,500($3,330 - $4,662) ',
  'price realized £4,375  ($5,889)'],
 ['Lot 34',
  'AN APULIAN RED-FIGURED LOUTROPHOROS',
  'ATTRIBUTED TO THE GROUP OF RUVO 423, CIRCA SECOND HALF OF THE 4TH CENTURY B.C.',
  '37 ½ in. (95.1 cm.) high',
  '',
  'estimate £70,000 - £100,000($93,240 - $133,200) ',
  'price realized £312,500  ($420,625)'],
 ['Lot 38',
  'AN ILLYRIAN BRONZE HELMET',
  'ARCHAIC PERIOD, CIRCA 6TH CENTURY B.C.',
  '10 ½ in. (26.5 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £68,750  ($92,538)'],
 ['Lot 41',
  'A GREEK MARBLE HEAD OF APHRODITE',
  'HELLENISTIC PERIOD, CIRCA 2ND CENTURY B.C.',
  '6 in. (15.2 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £25,000  ($33,650)'],
 ['Lot 42',
  'A GREEK MARBLE GODDESS',
  'HELLENISTIC PERIOD, CIRCA 3RD CENTURY B.C.',
  '13 13/16 in. (35.1 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £12,500  ($16,825)'],
 ['Lot 43',
  'A GREEK MARBLE FIGURE OF A DANCING MAENAD',
  'ROMAN PERIOD, CIRCA 1ST CENTURY B.C./A.D.',
  '22 ¼ in. (56.5 cm.) high',
  '',
  'estimate £50,000 - £70,000($66,600 - $93,240) ',
  'price realized £156,250  ($210,313)'],
 ['Lot 44',
  'A ROMAN BRONZE HYPNOS',
  'CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.',
  '11 7/8 in. (30.2 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £32,500  ($43,745)'],
 ['Lot 45',
  'A ROMAN BRONZE MINERVA',
  'CIRCA 1ST CENTURY A.D.',
  '4 ¼ in. (10.8 cm.) high',
  '',
  'estimate ($39,960 - $66,600) This lot was withdrawn from the sale'],
 ['Lot 46',
  'A ROMAN BRONZE MASK OF A COMIC ACTOR',
  'CIRCA 1ST CENTURY A.D.',
  '5 5/8 in. (14.3 cm.) high',
  '',
  'estimate £80,000 - £120,000($106,560 - $159,840) ',
  'price realized £218,750  ($294,438)'],
 ['Lot 47',
  'A ROMAN MARBLE TORSO OF HERCULES',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '9 ¼ in. (23.5 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £38,750  ($52,158)'],
 ['Lot 49',
  'A GALLO-ROMAN BLUE-GREEN BLOWN GLASS CINERARY URN',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '10 ¾ in. (27.5 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £52,500  ($70,665)'],
 ['Lot 50',
  'A ROMAN MARBLE TERMINAL FIGURE OF DIONYSUS',
  'CIRCA 2ND CENTURY A.D.',
  '59 ½ in. (151 cm.) high',
  '',
  'estimate £700,000 - £1,000,000($932,400 - $1,332,000) ',
  'price realized £862,500  ($1,160,925)'],
 ['Lot 51',
  'A ROMAN MARBLE HEAD OF VENUS',
  'CIRCA 2ND-3RD CENTURY A.D.',
  '10 3/8 in. (26.4 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £62,500  ($84,125)'],
 ['Lot 52',
  'A ROMAN MARBLE HEAD OF A GODDESS',
  'CIRCA 1ST CENTURY A.D.',
  '10 13/16 in. (27.5 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £43,750  ($58,888)'],
 ['Lot 53',
  'A ROMAN SILVER SHELL-SHAPED DISH',
  'CIRCA 3RD CENTURY A.D.',
  '6¾ in. (17 cm.) wide max.',
  '',
  'estimate ($53,280 - $79,920) This lot was withdrawn from the sale'],
 ['Lot 54',
  'A ROMAN MARBLE VENUS',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '50 in. (127 cm.) high',
  '',
  'estimate £250,000 - £350,000($333,000 - $466,200) ',
  'price realized £550,000  ($740,300)'],
 ['Lot 55',
  'A ROMAN BRONZE COW',
  'CIRCA 1ST CENTURY B.C.',
  '10 1/8 in. (25.5 cm.) long',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £37,500  ($50,475)'],
 ['Lot 56',
  'A ROMAN BRONZE HORSE',
  'CIRCA 2ND CENTURY A.D.',
  '6 ¾ in. (17.2 cm) long',
  '',
  'estimate £7,000 - £9,000($9,324 - $11,988) ',
  'price realized £27,500  ($37,015)'],
 ['Lot 57',
  'A ROMAN BRONZE DRAPED LEFT ARM',
  'CIRCA 3RD CENTURY A.D.',
  '13 1/8 in. (33.5 cm.) long',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £30,000  ($40,380)'],
 ['Lot 58',
  'A ROMAN BRONZE VENUS ANADYOMENE',
  'CIRCA 2ND CENTURY A.D.',
  '6 1/8 in. (15.5 cm.) high',
  '',
  'estimate £4,000 - £6,000($5,328 - $7,992) ',
  'price realized £1,875  ($2,524)'],
 ['Lot 59',
  'A MONUMENTAL ROMAN GREY MARBLE HEAD OF MINERVA',
  'CIRCA LATE 2ND CENTURY A.D.',
  '25 ½ in. (65 cm.) high',
  '',
  'estimate £500,000 - £800,000($666,000 - $1,065,600) ',
  'price realized £622,500  ($837,885)'],
 ['Lot 60',
  'A ROMAN MARBLE SARCOPHAGUS FRAGMENT',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '14 5/8 in. (37.2 cm.) high',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £16,250  ($21,873)'],
 ['Lot 62',
  'A ROMAN ALABASTER HEAD OF SERAPIS',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '3 7/8 in. (9.7 cm.) high',
  '',
  'estimate £5,000 - £7,000($6,660 - $9,324) ',
  'price realized £7,500  ($10,095)'],
 ['Lot 63',
  'A ROMAN MARBLE TORSO OF A YOUTH',
  'CIRCA 1ST CENTURY A.D.',
  '20 ½ in. (52 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £75,000  ($100,950)'],
 ['Lot 64',
  'A GREEK GOLD DIADEM',
  'CIRCA FIRST HALF OF THE 4TH CENTURY B.C.',
  '13 ¾ in. (35 cm.) long',
  '',
  'estimate £80,000 - £120,000($106,560 - $159,840) ',
  'price realized £100,000  ($134,600)'],
 ['Lot 65',
  'TWENTY-FOUR EGYPTIAN STEATITE SCARABS MOUNTED AS A SUITE OF JEWELLERY',
  'NEW KINGDOM, 1550-1069 B.C. AND LATER, WITH 19TH CENTURY MOUNTS',
  'Necklace: 18 in. (46 cm.) long ',
  'Brooch: 3 ¼ in. (8.3 cm.) long ',
  'Earrings: 2 ¼ in. (5.7 cm.) long',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £18,750  ($25,238)'],
 ['Lot 66',
  'A ROMAN GOLD SNAKE RING',
  'CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.',
  '3.4 in. (2 cm) wide max.',
  '',
  'estimate £3,000 - £5,000($3,996 - $6,660) ',
  'price realized £10,625  ($14,301)'],
 ['Lot 68',
  'A MINOAN BANDED AGATE LENTOID',
  'LATE MINOAN II-III, CIRCA 1430-1330 B.C.',
  '¾ in. (2 cm.) wide',
  '',
  'estimate £2,500 - £3,500($3,330 - $4,662) ',
  'price realized £8,125  ($10,936)'],
 ['Lot 70',
  'A ROMAN ROCK CRYSTAL RINGSTONE WITH A PYGMY CARRYING A CICADA',
  'CIRCA 1ST CENTURY B.C.',
  '¾ in. (2 cm.) high',
  '',
  'estimate £7,000 - £9,000($9,324 - $11,988) ',
  'price realized £28,750  ($38,698)'],
 ['Lot 74',
  'A BYZANTINE GOLD AND NIELLO RING',
  'CIRCA 6TH-7TH CENTURY A.D.',
  'Bezel: 11 mm. wide. Ring size: M',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £15,000  ($20,190)'],
 ['Lot 75',
  'A BYZANTINE GOLD, NIELLO AND GARNET CROSS',
  'CIRCA 6TH-7TH CENTURY A.D.',
  '1 ½ in. (4 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £10,000  ($13,460)'],
 ['Lot 76',
  'A BYZANTINE GOLD AND NIELLO RING',
  'CIRCA 6TH-7TH CENTURY A.D.',
  'Bezel: 12 mm. wide. Ring size: T',
  '',
  'estimate £3,000 - £5,000($3,996 - $6,660) ',
  'price realized £8,750  ($11,778)'],
 ['Lot 77',
  'AN EARLY BYZANTINE MARBLE RELIEF FRAGMENT',
  'CIRCA 4TH-5TH CENTURY A.D.',
  '17 in. (43 cm.) high',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £21,250  ($28,603)']]

In [7]:
# this gets the data of one page lots 
url = "https://www.christies.com/lotfinder/print_sale.aspx?saleid=28619"
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, 'html.parser')

lot_data = [] 
for i in soup.find_all("tr"):
    lot_data.append(i.text)
lot_data = [x.strip().split("\n") for x in lot_data]
df_lot = pd.DataFrame(lot_data[1:])#, columns=['lot','title','descr','measures','empty','estimated','realizes'])



head = [[
        #auction title/cat: 
        re.sub("[\n\r/]", "", soup.find_all("h2",{"class":"browse-sale-title"})[0].get_text(strip=True)),
        #auction id: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-number"})[0].get_text(strip=True)),
        #date: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #location: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #total sale: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"id":"spanTotal"})[0].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("div",{"id":"lots_for_sale"},"strong")[0].get_text(strip=True))
        ]]
df_head = pd.DataFrame(head*(len(df_lot)), columns = ['category','id','date','location','total_sale','nooflots'])

result = pd.concat([df_head, df_lot], axis=1, join="inner")

In [9]:
result

,category,id,date,location,total_sale,nooflots,0,1,2,3,4,5,6,7,8
0,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 4,AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD,"NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-106...",3 5/8 X 4 in. (9.2 x 10.2 cm.),,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £8,750 ($11,778)",None,None
1,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 5,AN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL,"MIDDLE KINGDOM, EARLY 12TH DYNASTY, CIRCA 1981...",12 3/8 in. (31.5 cm.) high,,"estimate £30,000 - £50,000($39,960 - $66,600)","price realized £35,000 ($47,110)",None,None
2,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 6,AN EGYPTIAN PAINTED CARTONNAGE MUMMY MASK,"NEW KINGDOM, 19TH DYNASTY, CIRCA 1292-1185 B.C.",8 ½ in. (21.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £18,750 ($25,238)",None,None
3,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 7,AN EGYPTIAN TURQUOISE FAIENCE FLASK,"NEW KINGDOM, 18TH DYNASTY, CIRCA 1550-1292 B.C.",5 in. (12.8 cm.) high,,"estimate £15,000 - £25,000($19,980 - $33,300)","price realized £4,375 ($5,889)",None,None
4,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 9,AN EGYPTIAN NUMMULITIC LIMESTONE FIGURE OF AN ...,"NEW KINGDOM, 18TH DYNASTY, REIGN OF AKHENATEN,...",13 ½ in. (34.3 cm.) high,,"estimate ($532,800 - $799,200) This lot was wi...",None,None,None
5,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 11,AN EGYPTIAN BRONZE CAT,"PTOLEMAIC PERIOD, CIRCA 332-30 B.C.",6 5/16 in. (16 cm.) high,,"estimate £15,000 - £25,000($19,980 - $33,300)","price realized £27,500 ($37,015)",None,None
6,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 13,AN EGYPTIAN BRONZE OSIRIS-PTAH,"LATE PERIOD, 26TH DYNASTY, REIGN OF PSAMTIK I,...",8 ¼ in. (21 cm.) high,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £387,500 ($521,575)",None,None
7,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 15,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH CENTURY B.C.",7 5/16 in. (18.6 cm.) high,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £50,000 ($67,300)",None,None
8,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 16,A CYPRIOT POTTERY ANTHROPOMORPHIC JUG,"CYPRO-ARCHAIC I-II, CIRCA 600-480 B.C.",10 ¾ in. (27.3 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £21,250 ($28,603)",None,None
9,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 17,A CYPRIOT BICHROME POTTERY JUG,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",14 1/8 in. (36.1 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £12,500 ($16,825)",None,None
10,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 18,A CYPRIOT BICHROME POTTERY JUG,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",15 7/8 in. (40.1 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £10,000 ($13,460)",None,None
11,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 19,A CYPRIOT LIMESTONE HEAD OF HERAKLES,"CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.",4 ½ in. (11.5 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £6,875 ($9,254)",None,None
12,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 20,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"CLASSICAL PERIOD, CIRCA MID-5TH CENTURY B.C.",10 ½ in. (26.8 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £11,250 ($15,143)",None,None
13,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 21,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",4 ½ in. (11.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £5,250 ($7,067)",None,None
14,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 22,A CYPRIOT LIMESTONE HEAD OF A FEMALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",5 ¼ in. (13.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £5,250 ($7,067)",None,None
15,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 24,A CYPRIOT LIMESTONE VOTIVE BUST OF A WOMAN,"CLASSICAL PERIOD, CIRCA 4TH CENTURY B.C.",17 3/8 in. (44.2 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £22,500 ($30,285)",None,None
16,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 26,A GREEK BRONZE VOTIVE BULL,"CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.",4 in. (10 cm.) long,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £68,750 ($92,538)",None,None
17,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 27,AN ATTIC BLACK-FIGURED BAND-CUP,"SIGNED BY TALEIDES AS POTTER, CIRCA 550-540 B.C.",8 7/8 in. (22.6 cm.) diam. excl. handles,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £37,500 ($50,475)",None,None
18,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 28,AN ATTIC RED-FIGURED KYLIX,"ATTRIBUTED TO THE ANCONA PAINTER, CIRCA 470-46...",15 ½ in. (39.5 cm.) diam. incl. handles,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £17,500 ($23,555)",None,None
19,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 29,AN ATTIC BLACK-FIGURED AMPHORA,"MANNER OF THE ANTIMENES PAINTER, CIRCA 530-520...",15 ¾ in. (40 cm.) high,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £68,750 ($92,538)",None,None
20,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 31,AN ETRUSCAN BRONZE MIRROR,CIRCA 4TH-3RD CENTURY B.C.,8 11/16 in. (22.1 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £7,500 ($10,095)",None,None
21,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 32,AN APULIAN RED-FIGURED PELIKE,CIRCA LATE 4TH CENTURY B.C.,12 ¾ in. (32.5 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £16,250 ($21,873)",None,None
22,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 33,A GREEK BLACK-GLAZED BOAR ASKOS,"SOUTH ITALY, CIRCA 320-290 B.C.",6 ¼ in. (16 cm.) long,,"estimate £2,500 - £3,500($3,330 - $4,662)","price realized £4,375 ($5,889)",None,None
23,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 34,AN APULIAN RED-FIGURED LOUTROPHOROS,"ATTRIBUTED TO THE GROUP OF RUVO 423, CIRCA SEC...",37 ½ in. (95.1 cm.) high,,"estimate £70,000 - £100,000($93,240 - $133,200)","price realized £312,500 ($420,625)",None,None
24,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 38,AN ILLYRIAN BRONZE HELMET,"ARCHAIC PERIOD, CIRCA 6TH CENTURY B.C.",10 ½ in. (26.5 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £68,750 ($92,538)",None,None
25,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 41,A GREEK MARBLE HEAD OF APHRODITE,"HELLENISTIC PERIOD, CIRCA 2ND CENTURY B.C.",6 in. (15.2 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £25,000 ($33,650)",None,None
26,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 42,A GREEK MARBLE GODDESS,"HELLENISTIC PERIOD, CIRCA 3RD CENTURY B.C.",13 13/16 in. (35.1 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £12,500 ($16,825)",None,None
27,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 43,A GREEK MARBLE FIGURE OF A DANCING MAENAD,"ROMAN PERIOD, CIRCA 1ST CENTURY B.C./A.D.",22 ¼ in. (56.5 cm.) high,,"estimate £50,000 - £70,000($66,600 - $93,240)","price realized £156,250 ($210,313)",None,None
28,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 44,A ROMAN BRONZE HYPNOS,CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.,11 7/8 in. (30.2 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £32,500 ($43,745)",None,None
29,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 45,A ROMAN BRONZE MINERVA,CIRCA 1ST CENTURY A.D.,4 ¼ in. (10.8 cm.) high,,"estimate ($39,960 - $66,600) This lot was with...",None,None,None
30,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 46,A ROMAN BRONZE MASK OF A COMIC ACTOR,CIRCA 1ST CENTURY A.D.,5 5/8 in. (14.3 cm.) high,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £218,750 ($294,438)",None,None
31,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 47,A ROMAN MARBLE TORSO OF HERCULES,CIRCA 1ST-2ND CENTURY A.D.,9 ¼ in. (23.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £38,750 ($52,158)",None,None
32,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 49,A GALLO-ROMAN BLUE-GREEN BLOWN GLASS CINERARY URN,CIRCA 1ST-2ND CENTURY A.D.,10 ¾ in. (27.5 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £52,500 ($70,665)",None,None
33,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 50,A ROMAN MARBLE TERMINAL FIGURE OF DIONYSUS,CIRCA 2ND CENTURY A.D.,59 ½ in. (151 cm.) high,,"estimate £700,000 - £1,000,000($932,400 - $1,3...","price realized £862,500 ($1,160,925)",None,None
34,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 51,A ROMAN MARBLE HEAD OF VENUS,CIRCA 2ND-3RD CENTURY A.D.,10 3/8 in. (26.4 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £62,500 ($84,125)",None,None
35,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 52,A ROMAN MARBLE HEAD OF A GODDESS,CIRCA 1ST CENTURY A.D.,10 13/16 in. (27.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £43,750 ($58,888)",None,None
36,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 53,A ROMAN SILVER SHELL-SHAPED DISH,CIRCA 3RD CENTURY A.D.,6¾ in. (17 cm.) wide max.,,"estimate ($53,280 - $79,920) This lot was with...",None,None,None
37,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 54,A ROMAN MARBLE VENUS,CIRCA 1ST-2ND CENTURY A.D.,50 in. (127 cm.) high,,"estimate £250,000 - £350,000($333,000 - $466,2...","price realized £550,000 ($740,300)",None,None
38,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 55,A ROMAN BRONZE COW,CIRCA 1ST CENTURY B.C.,10 1/8 in. (25.5 cm.) long,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £37,500 ($50,475)",None,None
39,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 56,A ROMAN BRONZE HORSE,CIRCA 2ND CENTURY A.D.,6 ¾ in. (17.2 cm) long,,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £27,500 ($37,015)",None,None
40,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 57,A ROMAN BRONZE DRAPED LEFT ARM,CIRCA 3RD CENTURY A.D.,13 1/8 in. (33.5 cm.) long,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £30,000 ($40,380)",None,None
41,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 58,A ROMAN BRONZE VENUS ANADYOMENE,CIRCA 2ND CENTURY A.D.,6 1/8 in. (15.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £1,875 ($2,524)",None,None
42,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 59,A MONUMENTAL ROMAN GREY MARBLE HEAD OF MINERVA,CIRCA LATE 2ND CENTURY A.D.,25 ½ in. (65 cm.) high,,"estimate £500,000 - £800,000($666,000 - $1,065...","price realized £622,500 ($837,885)",None,None
43,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 60,A ROMAN MARBLE SARCOPHAGUS FRAGMENT,CIRCA 1ST-2ND CENTURY A.D.,14 5/8 in. (37.2 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £16,250 ($21,873)",None,None
44,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 62,A ROMAN ALABASTER HEAD OF SERAPIS,CIRCA 1ST-2ND CENTURY A.D.,3 7/8 in. (9.7 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £7,500 ($10,095)",None,None
45,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 63,A ROMAN MARBLE TORSO OF A YOUTH,CIRCA 1ST CENTURY A.D.,20 ½ in. (52 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £75,000 ($100,950)",None,None
46,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 64,A GREEK GOLD DIADEM,CIRCA FIRST HALF OF THE 4TH CENTURY B.C.,13 ¾ in. (35 cm.) long,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £100,000 ($134,600)",None,None
47,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 65,TWENTY-FOUR EGYPTIAN STEATITE SCARABS MOUNTED ...,"NEW KINGDOM, 1550-1069 B.C. AND LATER, WITH 19...",Necklace: 18 in. (46 cm.) long,Brooch: 3 ¼ in. (8.3 cm.) long,Earrings: 2 ¼ in. (5.7 cm.) long,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £18,750 ($25,238)"
48,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 66,A ROMAN GOLD SNAKE RING,CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.,3.4 in. (2 cm) wide max.,,"estimate £3,000 - £5,000($3,996 - $6,660)","price realized £10,625 ($14,301)",None,None
49,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 68,A MINOAN BANDED AGATE LENTOID,"LATE MINOAN II-III, CIRCA 1430-1330 B.C.",¾ in. (2 cm.) wide,,"estimate £2,500 - £3,500($3,330 - $4,662)","price realized £8,125 ($10,936)",None,None
50,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 70,A ROMAN ROCK CRYSTAL RINGSTONE WITH A PYGMY CA...,CIRCA 1ST CENTURY B.C.,¾ in. (2 cm.) high,,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £28,750 ($38,698)",None,None
51,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 74,A BYZANTINE GOLD AND NIELLO RING,CIRCA 6TH-7TH CENTURY A.D.,Bezel: 11 mm. wide. Ring size: M,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £15,000 ($20,190)",None,None
52,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 75,"A BYZANTINE GOLD, NIELLO AND GARNET CROSS",CIRCA 6TH-7TH CENTURY A.D.,1 ½ in. (4 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £10,000 ($13,460)",None,None
53,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 76,A BYZANTINE GOLD AND NIELLO RING,CIRCA 6TH-7TH CENTURY A.D.,Bezel: 12 mm. wide. Ring size: T,,"estimate £3,000 - £5,000($3,996 - $6,660)","price realized £8,750 ($11,778)",None,None
54,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 77,AN EARLY BYZANTINE MARBLE RELIEF FRAGMENT,CIRCA 4TH-5TH CENTURY A.D.,17 in. (43 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £21,250 ($28,603)",None,None

In [10]:
# print the length of i in lot_data
for i in lot_data:
    print(len(i))

1
7
7
7
7
6
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
6
7
7
7
7
7
7
6
7
7
7
7
7
7
7
7
7
7
9
7
7
7
7
7
7
7

In [11]:
for i in lot_data:                
    while len(i) == 7:
        print(len(i))
        break

7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7

-------

## Separately attempt

In [2]:
# this gets the data of the single lots 
url = "https://www.christies.com/lotfinder/print_sale.aspx?saleid=28619"
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, 'html.parser')

In [3]:
all_data = [] 
for i in soup.find_all("tr"):
    all_data.append(i.text)
all_data = [x.strip().split("\n") for x in all_data]
all_data
#df = pd.DataFrame(all_data[1:])

[['55 Lots for Sale 18864'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 5/8 X 4 in. (9.2 x 10.2 cm.)',
  '',
  'estimate £7,000 - £9,000($9,324 - $11,988) ',
  'price realized £8,750  ($11,778)'],
 ['Lot 5',
  'AN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL',
  'MIDDLE KINGDOM, EARLY 12TH DYNASTY, CIRCA 1981-1802 B.C.',
  '12 3/8 in. (31.5 cm.) high',
  '',
  'estimate £30,000 - £50,000($39,960 - $66,600) ',
  'price realized £35,000  ($47,110)'],
 ['Lot 6',
  'AN EGYPTIAN PAINTED CARTONNAGE MUMMY MASK',
  'NEW KINGDOM, 19TH DYNASTY, CIRCA 1292-1185 B.C.',
  '8 ½ in. (21.5 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £18,750  ($25,238)'],
 ['Lot 7',
  'AN EGYPTIAN TURQUOISE FAIENCE FLASK',
  'NEW KINGDOM, 18TH DYNASTY, CIRCA 1550-1292 B.C.',
  '5 in. (12.8 cm.) high',
  '',
  'estimate £15,000 - £25,000($19,980 - $33,300) ',
  'price realized £4,375  ($5,889)'],
 ['Lot 9',
  'AN EGYPTIAN NUMMULITIC LIMESTONE FIGURE OF AN AMARNA PRINCESS',
  'NEW KINGDOM, 18TH DYNASTY, REIGN OF AKHENATEN, CIRCA 1347-1345 B.C.',
  '13 ½ in. (34.3 cm.) high',
  '',
  'estimate ($532,800 - $799,200) This lot was withdrawn from the sale'],
 ['Lot 11',
  'AN EGYPTIAN BRONZE CAT',
  'PTOLEMAIC PERIOD, CIRCA 332-30 B.C.',
  '6 5/16 in. (16 cm.) high',
  '',
  'estimate £15,000 - £25,000($19,980 - $33,300) ',
  'price realized £27,500  ($37,015)'],
 ['Lot 13',
  'AN EGYPTIAN BRONZE OSIRIS-PTAH',
  'LATE PERIOD, 26TH DYNASTY, REIGN OF PSAMTIK I, 664-610 B.C.',
  '8 ¼ in. (21 cm.) high',
  '',
  'estimate £80,000 - £120,000($106,560 - $159,840) ',
  'price realized £387,500  ($521,575)'],
 ['Lot 15',
  'A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY',
  'ARCHAIC PERIOD, CIRCA LATE 6TH CENTURY B.C.',
  '7 5/16 in. (18.6 cm.) high',
  '',
  'estimate £40,000 - £60,000($53,280 - $79,920) ',
  'price realized £50,000  ($67,300)'],
 ['Lot 16',
  'A CYPRIOT POTTERY ANTHROPOMORPHIC JUG',
  'CYPRO-ARCHAIC I-II, CIRCA 600-480 B.C.',
  '10 ¾ in. (27.3 cm.) high',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £21,250  ($28,603)'],
 ['Lot 17',
  'A CYPRIOT BICHROME POTTERY JUG',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '14 1/8 in. (36.1 cm.) high',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £12,500  ($16,825)'],
 ['Lot 18',
  'A CYPRIOT BICHROME POTTERY JUG',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '15 7/8 in. (40.1 cm.) high',
  '',
  'estimate £5,000 - £7,000($6,660 - $9,324) ',
  'price realized £10,000  ($13,460)'],
 ['Lot 19',
  'A CYPRIOT LIMESTONE HEAD OF HERAKLES',
  'CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.',
  '4 ½ in. (11.5 cm.) high',
  '',
  'estimate £5,000 - £7,000($6,660 - $9,324) ',
  'price realized £6,875  ($9,254)'],
 ['Lot 20',
  'A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY',
  'CLASSICAL PERIOD, CIRCA MID-5TH CENTURY B.C.',
  '10 ½ in. (26.8 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £11,250  ($15,143)'],
 ['Lot 21',
  'A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '4 ½ in. (11.5 cm.) high',
  '',
  'estimate £4,000 - £6,000($5,328 - $7,992) ',
  'price realized £5,250  ($7,067)'],
 ['Lot 22',
  'A CYPRIOT LIMESTONE HEAD OF A FEMALE VOTARY',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '5 ¼ in. (13.5 cm.) high',
  '',
  'estimate £4,000 - £6,000($5,328 - $7,992) ',
  'price realized £5,250  ($7,067)'],
 ['Lot 24',
  'A CYPRIOT LIMESTONE VOTIVE BUST OF A WOMAN',
  'CLASSICAL PERIOD, CIRCA 4TH CENTURY B.C.',
  '17 3/8 in. (44.2 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £22,500  ($30,285)'],
 ['Lot 26',
  'A GREEK BRONZE VOTIVE BULL',
  'CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.',
  '4 in. (10 cm.) long',
  '',
  'estimate £40,000 - £60,000($53,280 - $79,920) ',
  'price realized £68,750  ($92,538)'],
 ['Lot 27',
  'AN ATTIC BLACK-FIGURED BAND-CUP',
  'SIGNED BY TALEIDES AS POTTER, CIRCA 550-540 B.C.',
  '8 7/8 in. (22.6 cm.) diam. excl. handles',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £37,500  ($50,475)'],
 ['Lot 28',
  'AN ATTIC RED-FIGURED KYLIX',
  'ATTRIBUTED TO THE ANCONA PAINTER, CIRCA 470-460 B.C.',
  '15 ½ in. (39.5 cm.) diam. incl. handles',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £17,500  ($23,555)'],
 ['Lot 29',
  'AN ATTIC BLACK-FIGURED AMPHORA',
  'MANNER OF THE ANTIMENES PAINTER, CIRCA 530-520 B.C.',
  '15 ¾ in. (40 cm.) high',
  '',
  'estimate £40,000 - £60,000($53,280 - $79,920) ',
  'price realized £68,750  ($92,538)'],
 ['Lot 31',
  'AN ETRUSCAN BRONZE MIRROR',
  'CIRCA 4TH-3RD CENTURY B.C.',
  '8 11/16 in. (22.1 cm.) high',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £7,500  ($10,095)'],
 ['Lot 32',
  'AN APULIAN RED-FIGURED PELIKE',
  'CIRCA LATE 4TH CENTURY B.C.',
  '12 ¾ in. (32.5 cm.) high',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £16,250  ($21,873)'],
 ['Lot 33',
  'A GREEK BLACK-GLAZED BOAR ASKOS',
  'SOUTH ITALY, CIRCA 320-290 B.C.',
  '6 ¼ in. (16 cm.) long',
  '',
  'estimate £2,500 - £3,500($3,330 - $4,662) ',
  'price realized £4,375  ($5,889)'],
 ['Lot 34',
  'AN APULIAN RED-FIGURED LOUTROPHOROS',
  'ATTRIBUTED TO THE GROUP OF RUVO 423, CIRCA SECOND HALF OF THE 4TH CENTURY B.C.',
  '37 ½ in. (95.1 cm.) high',
  '',
  'estimate £70,000 - £100,000($93,240 - $133,200) ',
  'price realized £312,500  ($420,625)'],
 ['Lot 38',
  'AN ILLYRIAN BRONZE HELMET',
  'ARCHAIC PERIOD, CIRCA 6TH CENTURY B.C.',
  '10 ½ in. (26.5 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £68,750  ($92,538)'],
 ['Lot 41',
  'A GREEK MARBLE HEAD OF APHRODITE',
  'HELLENISTIC PERIOD, CIRCA 2ND CENTURY B.C.',
  '6 in. (15.2 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £25,000  ($33,650)'],
 ['Lot 42',
  'A GREEK MARBLE GODDESS',
  'HELLENISTIC PERIOD, CIRCA 3RD CENTURY B.C.',
  '13 13/16 in. (35.1 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £12,500  ($16,825)'],
 ['Lot 43',
  'A GREEK MARBLE FIGURE OF A DANCING MAENAD',
  'ROMAN PERIOD, CIRCA 1ST CENTURY B.C./A.D.',
  '22 ¼ in. (56.5 cm.) high',
  '',
  'estimate £50,000 - £70,000($66,600 - $93,240) ',
  'price realized £156,250  ($210,313)'],
 ['Lot 44',
  'A ROMAN BRONZE HYPNOS',
  'CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.',
  '11 7/8 in. (30.2 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £32,500  ($43,745)'],
 ['Lot 45',
  'A ROMAN BRONZE MINERVA',
  'CIRCA 1ST CENTURY A.D.',
  '4 ¼ in. (10.8 cm.) high',
  '',
  'estimate ($39,960 - $66,600) This lot was withdrawn from the sale'],
 ['Lot 46',
  'A ROMAN BRONZE MASK OF A COMIC ACTOR',
  'CIRCA 1ST CENTURY A.D.',
  '5 5/8 in. (14.3 cm.) high',
  '',
  'estimate £80,000 - £120,000($106,560 - $159,840) ',
  'price realized £218,750  ($294,438)'],
 ['Lot 47',
  'A ROMAN MARBLE TORSO OF HERCULES',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '9 ¼ in. (23.5 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £38,750  ($52,158)'],
 ['Lot 49',
  'A GALLO-ROMAN BLUE-GREEN BLOWN GLASS CINERARY URN',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '10 ¾ in. (27.5 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £52,500  ($70,665)'],
 ['Lot 50',
  'A ROMAN MARBLE TERMINAL FIGURE OF DIONYSUS',
  'CIRCA 2ND CENTURY A.D.',
  '59 ½ in. (151 cm.) high',
  '',
  'estimate £700,000 - £1,000,000($932,400 - $1,332,000) ',
  'price realized £862,500  ($1,160,925)'],
 ['Lot 51',
  'A ROMAN MARBLE HEAD OF VENUS',
  'CIRCA 2ND-3RD CENTURY A.D.',
  '10 3/8 in. (26.4 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £62,500  ($84,125)'],
 ['Lot 52',
  'A ROMAN MARBLE HEAD OF A GODDESS',
  'CIRCA 1ST CENTURY A.D.',
  '10 13/16 in. (27.5 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £43,750  ($58,888)'],
 ['Lot 53',
  'A ROMAN SILVER SHELL-SHAPED DISH',
  'CIRCA 3RD CENTURY A.D.',
  '6¾ in. (17 cm.) wide max.',
  '',
  'estimate ($53,280 - $79,920) This lot was withdrawn from the sale'],
 ['Lot 54',
  'A ROMAN MARBLE VENUS',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '50 in. (127 cm.) high',
  '',
  'estimate £250,000 - £350,000($333,000 - $466,200) ',
  'price realized £550,000  ($740,300)'],
 ['Lot 55',
  'A ROMAN BRONZE COW',
  'CIRCA 1ST CENTURY B.C.',
  '10 1/8 in. (25.5 cm.) long',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £37,500  ($50,475)'],
 ['Lot 56',
  'A ROMAN BRONZE HORSE',
  'CIRCA 2ND CENTURY A.D.',
  '6 ¾ in. (17.2 cm) long',
  '',
  'estimate £7,000 - £9,000($9,324 - $11,988) ',
  'price realized £27,500  ($37,015)'],
 ['Lot 57',
  'A ROMAN BRONZE DRAPED LEFT ARM',
  'CIRCA 3RD CENTURY A.D.',
  '13 1/8 in. (33.5 cm.) long',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £30,000  ($40,380)'],
 ['Lot 58',
  'A ROMAN BRONZE VENUS ANADYOMENE',
  'CIRCA 2ND CENTURY A.D.',
  '6 1/8 in. (15.5 cm.) high',
  '',
  'estimate £4,000 - £6,000($5,328 - $7,992) ',
  'price realized £1,875  ($2,524)'],
 ['Lot 59',
  'A MONUMENTAL ROMAN GREY MARBLE HEAD OF MINERVA',
  'CIRCA LATE 2ND CENTURY A.D.',
  '25 ½ in. (65 cm.) high',
  '',
  'estimate £500,000 - £800,000($666,000 - $1,065,600) ',
  'price realized £622,500  ($837,885)'],
 ['Lot 60',
  'A ROMAN MARBLE SARCOPHAGUS FRAGMENT',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '14 5/8 in. (37.2 cm.) high',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £16,250  ($21,873)'],
 ['Lot 62',
  'A ROMAN ALABASTER HEAD OF SERAPIS',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '3 7/8 in. (9.7 cm.) high',
  '',
  'estimate £5,000 - £7,000($6,660 - $9,324) ',
  'price realized £7,500  ($10,095)'],
 ['Lot 63',
  'A ROMAN MARBLE TORSO OF A YOUTH',
  'CIRCA 1ST CENTURY A.D.',
  '20 ½ in. (52 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £75,000  ($100,950)'],
 ['Lot 64',
  'A GREEK GOLD DIADEM',
  'CIRCA FIRST HALF OF THE 4TH CENTURY B.C.',
  '13 ¾ in. (35 cm.) long',
  '',
  'estimate £80,000 - £120,000($106,560 - $159,840) ',
  'price realized £100,000  ($134,600)'],
 ['Lot 65',
  'TWENTY-FOUR EGYPTIAN STEATITE SCARABS MOUNTED AS A SUITE OF JEWELLERY',
  'NEW KINGDOM, 1550-1069 B.C. AND LATER, WITH 19TH CENTURY MOUNTS',
  'Necklace: 18 in. (46 cm.) long ',
  'Brooch: 3 ¼ in. (8.3 cm.) long ',
  'Earrings: 2 ¼ in. (5.7 cm.) long',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £18,750  ($25,238)'],
 ['Lot 66',
  'A ROMAN GOLD SNAKE RING',
  'CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.',
  '3.4 in. (2 cm) wide max.',
  '',
  'estimate £3,000 - £5,000($3,996 - $6,660) ',
  'price realized £10,625  ($14,301)'],
 ['Lot 68',
  'A MINOAN BANDED AGATE LENTOID',
  'LATE MINOAN II-III, CIRCA 1430-1330 B.C.',
  '¾ in. (2 cm.) wide',
  '',
  'estimate £2,500 - £3,500($3,330 - $4,662) ',
  'price realized £8,125  ($10,936)'],
 ['Lot 70',
  'A ROMAN ROCK CRYSTAL RINGSTONE WITH A PYGMY CARRYING A CICADA',
  'CIRCA 1ST CENTURY B.C.',
  '¾ in. (2 cm.) high',
  '',
  'estimate £7,000 - £9,000($9,324 - $11,988) ',
  'price realized £28,750  ($38,698)'],
 ['Lot 74',
  'A BYZANTINE GOLD AND NIELLO RING',
  'CIRCA 6TH-7TH CENTURY A.D.',
  'Bezel: 11 mm. wide. Ring size: M',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £15,000  ($20,190)'],
 ['Lot 75',
  'A BYZANTINE GOLD, NIELLO AND GARNET CROSS',
  'CIRCA 6TH-7TH CENTURY A.D.',
  '1 ½ in. (4 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £10,000  ($13,460)'],
 ['Lot 76',
  'A BYZANTINE GOLD AND NIELLO RING',
  'CIRCA 6TH-7TH CENTURY A.D.',
  'Bezel: 12 mm. wide. Ring size: T',
  '',
  'estimate £3,000 - £5,000($3,996 - $6,660) ',
  'price realized £8,750  ($11,778)'],
 ['Lot 77',
  'AN EARLY BYZANTINE MARBLE RELIEF FRAGMENT',
  'CIRCA 4TH-5TH CENTURY A.D.',
  '17 in. (43 cm.) high',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £21,250  ($28,603)']]

In [4]:
len(all_data)

56

In [5]:
clean_data = []
for i in all_data:
    lent=len(i)
    if lent==7:
        clean_data.append(i)

In [6]:
clean_data

[['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 5/8 X 4 in. (9.2 x 10.2 cm.)',
  '',
  'estimate £7,000 - £9,000($9,324 - $11,988) ',
  'price realized £8,750  ($11,778)'],
 ['Lot 5',
  'AN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL',
  'MIDDLE KINGDOM, EARLY 12TH DYNASTY, CIRCA 1981-1802 B.C.',
  '12 3/8 in. (31.5 cm.) high',
  '',
  'estimate £30,000 - £50,000($39,960 - $66,600) ',
  'price realized £35,000  ($47,110)'],
 ['Lot 6',
  'AN EGYPTIAN PAINTED CARTONNAGE MUMMY MASK',
  'NEW KINGDOM, 19TH DYNASTY, CIRCA 1292-1185 B.C.',
  '8 ½ in. (21.5 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £18,750  ($25,238)'],
 ['Lot 7',
  'AN EGYPTIAN TURQUOISE FAIENCE FLASK',
  'NEW KINGDOM, 18TH DYNASTY, CIRCA 1550-1292 B.C.',
  '5 in. (12.8 cm.) high',
  '',
  'estimate £15,000 - £25,000($19,980 - $33,300) ',
  'price realized £4,375  ($5,889)'],
 ['Lot 11',
  'AN EGYPTIAN BRONZE CAT',
  'PTOLEMAIC PERIOD, CIRCA 332-30 B.C.',
  '6 5/16 in. (16 cm.) high',
  '',
  'estimate £15,000 - £25,000($19,980 - $33,300) ',
  'price realized £27,500  ($37,015)'],
 ['Lot 13',
  'AN EGYPTIAN BRONZE OSIRIS-PTAH',
  'LATE PERIOD, 26TH DYNASTY, REIGN OF PSAMTIK I, 664-610 B.C.',
  '8 ¼ in. (21 cm.) high',
  '',
  'estimate £80,000 - £120,000($106,560 - $159,840) ',
  'price realized £387,500  ($521,575)'],
 ['Lot 15',
  'A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY',
  'ARCHAIC PERIOD, CIRCA LATE 6TH CENTURY B.C.',
  '7 5/16 in. (18.6 cm.) high',
  '',
  'estimate £40,000 - £60,000($53,280 - $79,920) ',
  'price realized £50,000  ($67,300)'],
 ['Lot 16',
  'A CYPRIOT POTTERY ANTHROPOMORPHIC JUG',
  'CYPRO-ARCHAIC I-II, CIRCA 600-480 B.C.',
  '10 ¾ in. (27.3 cm.) high',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £21,250  ($28,603)'],
 ['Lot 17',
  'A CYPRIOT BICHROME POTTERY JUG',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '14 1/8 in. (36.1 cm.) high',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £12,500  ($16,825)'],
 ['Lot 18',
  'A CYPRIOT BICHROME POTTERY JUG',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '15 7/8 in. (40.1 cm.) high',
  '',
  'estimate £5,000 - £7,000($6,660 - $9,324) ',
  'price realized £10,000  ($13,460)'],
 ['Lot 19',
  'A CYPRIOT LIMESTONE HEAD OF HERAKLES',
  'CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.',
  '4 ½ in. (11.5 cm.) high',
  '',
  'estimate £5,000 - £7,000($6,660 - $9,324) ',
  'price realized £6,875  ($9,254)'],
 ['Lot 20',
  'A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY',
  'CLASSICAL PERIOD, CIRCA MID-5TH CENTURY B.C.',
  '10 ½ in. (26.8 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £11,250  ($15,143)'],
 ['Lot 21',
  'A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '4 ½ in. (11.5 cm.) high',
  '',
  'estimate £4,000 - £6,000($5,328 - $7,992) ',
  'price realized £5,250  ($7,067)'],
 ['Lot 22',
  'A CYPRIOT LIMESTONE HEAD OF A FEMALE VOTARY',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '5 ¼ in. (13.5 cm.) high',
  '',
  'estimate £4,000 - £6,000($5,328 - $7,992) ',
  'price realized £5,250  ($7,067)'],
 ['Lot 24',
  'A CYPRIOT LIMESTONE VOTIVE BUST OF A WOMAN',
  'CLASSICAL PERIOD, CIRCA 4TH CENTURY B.C.',
  '17 3/8 in. (44.2 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £22,500  ($30,285)'],
 ['Lot 26',
  'A GREEK BRONZE VOTIVE BULL',
  'CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.',
  '4 in. (10 cm.) long',
  '',
  'estimate £40,000 - £60,000($53,280 - $79,920) ',
  'price realized £68,750  ($92,538)'],
 ['Lot 27',
  'AN ATTIC BLACK-FIGURED BAND-CUP',
  'SIGNED BY TALEIDES AS POTTER, CIRCA 550-540 B.C.',
  '8 7/8 in. (22.6 cm.) diam. excl. handles',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £37,500  ($50,475)'],
 ['Lot 28',
  'AN ATTIC RED-FIGURED KYLIX',
  'ATTRIBUTED TO THE ANCONA PAINTER, CIRCA 470-460 B.C.',
  '15 ½ in. (39.5 cm.) diam. incl. handles',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £17,500  ($23,555)'],
 ['Lot 29',
  'AN ATTIC BLACK-FIGURED AMPHORA',
  'MANNER OF THE ANTIMENES PAINTER, CIRCA 530-520 B.C.',
  '15 ¾ in. (40 cm.) high',
  '',
  'estimate £40,000 - £60,000($53,280 - $79,920) ',
  'price realized £68,750  ($92,538)'],
 ['Lot 31',
  'AN ETRUSCAN BRONZE MIRROR',
  'CIRCA 4TH-3RD CENTURY B.C.',
  '8 11/16 in. (22.1 cm.) high',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £7,500  ($10,095)'],
 ['Lot 32',
  'AN APULIAN RED-FIGURED PELIKE',
  'CIRCA LATE 4TH CENTURY B.C.',
  '12 ¾ in. (32.5 cm.) high',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £16,250  ($21,873)'],
 ['Lot 33',
  'A GREEK BLACK-GLAZED BOAR ASKOS',
  'SOUTH ITALY, CIRCA 320-290 B.C.',
  '6 ¼ in. (16 cm.) long',
  '',
  'estimate £2,500 - £3,500($3,330 - $4,662) ',
  'price realized £4,375  ($5,889)'],
 ['Lot 34',
  'AN APULIAN RED-FIGURED LOUTROPHOROS',
  'ATTRIBUTED TO THE GROUP OF RUVO 423, CIRCA SECOND HALF OF THE 4TH CENTURY B.C.',
  '37 ½ in. (95.1 cm.) high',
  '',
  'estimate £70,000 - £100,000($93,240 - $133,200) ',
  'price realized £312,500  ($420,625)'],
 ['Lot 38',
  'AN ILLYRIAN BRONZE HELMET',
  'ARCHAIC PERIOD, CIRCA 6TH CENTURY B.C.',
  '10 ½ in. (26.5 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £68,750  ($92,538)'],
 ['Lot 41',
  'A GREEK MARBLE HEAD OF APHRODITE',
  'HELLENISTIC PERIOD, CIRCA 2ND CENTURY B.C.',
  '6 in. (15.2 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £25,000  ($33,650)'],
 ['Lot 42',
  'A GREEK MARBLE GODDESS',
  'HELLENISTIC PERIOD, CIRCA 3RD CENTURY B.C.',
  '13 13/16 in. (35.1 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £12,500  ($16,825)'],
 ['Lot 43',
  'A GREEK MARBLE FIGURE OF A DANCING MAENAD',
  'ROMAN PERIOD, CIRCA 1ST CENTURY B.C./A.D.',
  '22 ¼ in. (56.5 cm.) high',
  '',
  'estimate £50,000 - £70,000($66,600 - $93,240) ',
  'price realized £156,250  ($210,313)'],
 ['Lot 44',
  'A ROMAN BRONZE HYPNOS',
  'CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.',
  '11 7/8 in. (30.2 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £32,500  ($43,745)'],
 ['Lot 46',
  'A ROMAN BRONZE MASK OF A COMIC ACTOR',
  'CIRCA 1ST CENTURY A.D.',
  '5 5/8 in. (14.3 cm.) high',
  '',
  'estimate £80,000 - £120,000($106,560 - $159,840) ',
  'price realized £218,750  ($294,438)'],
 ['Lot 47',
  'A ROMAN MARBLE TORSO OF HERCULES',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '9 ¼ in. (23.5 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £38,750  ($52,158)'],
 ['Lot 49',
  'A GALLO-ROMAN BLUE-GREEN BLOWN GLASS CINERARY URN',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '10 ¾ in. (27.5 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £52,500  ($70,665)'],
 ['Lot 50',
  'A ROMAN MARBLE TERMINAL FIGURE OF DIONYSUS',
  'CIRCA 2ND CENTURY A.D.',
  '59 ½ in. (151 cm.) high',
  '',
  'estimate £700,000 - £1,000,000($932,400 - $1,332,000) ',
  'price realized £862,500  ($1,160,925)'],
 ['Lot 51',
  'A ROMAN MARBLE HEAD OF VENUS',
  'CIRCA 2ND-3RD CENTURY A.D.',
  '10 3/8 in. (26.4 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £62,500  ($84,125)'],
 ['Lot 52',
  'A ROMAN MARBLE HEAD OF A GODDESS',
  'CIRCA 1ST CENTURY A.D.',
  '10 13/16 in. (27.5 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £43,750  ($58,888)'],
 ['Lot 54',
  'A ROMAN MARBLE VENUS',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '50 in. (127 cm.) high',
  '',
  'estimate £250,000 - £350,000($333,000 - $466,200) ',
  'price realized £550,000  ($740,300)'],
 ['Lot 55',
  'A ROMAN BRONZE COW',
  'CIRCA 1ST CENTURY B.C.',
  '10 1/8 in. (25.5 cm.) long',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £37,500  ($50,475)'],
 ['Lot 56',
  'A ROMAN BRONZE HORSE',
  'CIRCA 2ND CENTURY A.D.',
  '6 ¾ in. (17.2 cm) long',
  '',
  'estimate £7,000 - £9,000($9,324 - $11,988) ',
  'price realized £27,500  ($37,015)'],
 ['Lot 57',
  'A ROMAN BRONZE DRAPED LEFT ARM',
  'CIRCA 3RD CENTURY A.D.',
  '13 1/8 in. (33.5 cm.) long',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £30,000  ($40,380)'],
 ['Lot 58',
  'A ROMAN BRONZE VENUS ANADYOMENE',
  'CIRCA 2ND CENTURY A.D.',
  '6 1/8 in. (15.5 cm.) high',
  '',
  'estimate £4,000 - £6,000($5,328 - $7,992) ',
  'price realized £1,875  ($2,524)'],
 ['Lot 59',
  'A MONUMENTAL ROMAN GREY MARBLE HEAD OF MINERVA',
  'CIRCA LATE 2ND CENTURY A.D.',
  '25 ½ in. (65 cm.) high',
  '',
  'estimate £500,000 - £800,000($666,000 - $1,065,600) ',
  'price realized £622,500  ($837,885)'],
 ['Lot 60',
  'A ROMAN MARBLE SARCOPHAGUS FRAGMENT',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '14 5/8 in. (37.2 cm.) high',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £16,250  ($21,873)'],
 ['Lot 62',
  'A ROMAN ALABASTER HEAD OF SERAPIS',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '3 7/8 in. (9.7 cm.) high',
  '',
  'estimate £5,000 - £7,000($6,660 - $9,324) ',
  'price realized £7,500  ($10,095)'],
 ['Lot 63',
  'A ROMAN MARBLE TORSO OF A YOUTH',
  'CIRCA 1ST CENTURY A.D.',
  '20 ½ in. (52 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £75,000  ($100,950)'],
 ['Lot 64',
  'A GREEK GOLD DIADEM',
  'CIRCA FIRST HALF OF THE 4TH CENTURY B.C.',
  '13 ¾ in. (35 cm.) long',
  '',
  'estimate £80,000 - £120,000($106,560 - $159,840) ',
  'price realized £100,000  ($134,600)'],
 ['Lot 66',
  'A ROMAN GOLD SNAKE RING',
  'CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.',
  '3.4 in. (2 cm) wide max.',
  '',
  'estimate £3,000 - £5,000($3,996 - $6,660) ',
  'price realized £10,625  ($14,301)'],
 ['Lot 68',
  'A MINOAN BANDED AGATE LENTOID',
  'LATE MINOAN II-III, CIRCA 1430-1330 B.C.',
  '¾ in. (2 cm.) wide',
  '',
  'estimate £2,500 - £3,500($3,330 - $4,662) ',
  'price realized £8,125  ($10,936)'],
 ['Lot 70',
  'A ROMAN ROCK CRYSTAL RINGSTONE WITH A PYGMY CARRYING A CICADA',
  'CIRCA 1ST CENTURY B.C.',
  '¾ in. (2 cm.) high',
  '',
  'estimate £7,000 - £9,000($9,324 - $11,988) ',
  'price realized £28,750  ($38,698)'],
 ['Lot 74',
  'A BYZANTINE GOLD AND NIELLO RING',
  'CIRCA 6TH-7TH CENTURY A.D.',
  'Bezel: 11 mm. wide. Ring size: M',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £15,000  ($20,190)'],
 ['Lot 75',
  'A BYZANTINE GOLD, NIELLO AND GARNET CROSS',
  'CIRCA 6TH-7TH CENTURY A.D.',
  '1 ½ in. (4 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £10,000  ($13,460)'],
 ['Lot 76',
  'A BYZANTINE GOLD AND NIELLO RING',
  'CIRCA 6TH-7TH CENTURY A.D.',
  'Bezel: 12 mm. wide. Ring size: T',
  '',
  'estimate £3,000 - £5,000($3,996 - $6,660) ',
  'price realized £8,750  ($11,778)'],
 ['Lot 77',
  'AN EARLY BYZANTINE MARBLE RELIEF FRAGMENT',
  'CIRCA 4TH-5TH CENTURY A.D.',
  '17 in. (43 cm.) high',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £21,250  ($28,603)']]

In [7]:
len(clean_data)

51

In [19]:
lot_data = pd.DataFrame.from_records(clean_data, columns = ['lot','title','descr','measures','empty','estimated','realized'])
lot_data

,lot,title,descr,measures,empty,estimated,realized
0,Lot 4,AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD,"NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-106...",3 5/8 X 4 in. (9.2 x 10.2 cm.),,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £8,750 ($11,778)"
1,Lot 5,AN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL,"MIDDLE KINGDOM, EARLY 12TH DYNASTY, CIRCA 1981...",12 3/8 in. (31.5 cm.) high,,"estimate £30,000 - £50,000($39,960 - $66,600)","price realized £35,000 ($47,110)"
2,Lot 6,AN EGYPTIAN PAINTED CARTONNAGE MUMMY MASK,"NEW KINGDOM, 19TH DYNASTY, CIRCA 1292-1185 B.C.",8 ½ in. (21.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £18,750 ($25,238)"
3,Lot 7,AN EGYPTIAN TURQUOISE FAIENCE FLASK,"NEW KINGDOM, 18TH DYNASTY, CIRCA 1550-1292 B.C.",5 in. (12.8 cm.) high,,"estimate £15,000 - £25,000($19,980 - $33,300)","price realized £4,375 ($5,889)"
4,Lot 11,AN EGYPTIAN BRONZE CAT,"PTOLEMAIC PERIOD, CIRCA 332-30 B.C.",6 5/16 in. (16 cm.) high,,"estimate £15,000 - £25,000($19,980 - $33,300)","price realized £27,500 ($37,015)"
5,Lot 13,AN EGYPTIAN BRONZE OSIRIS-PTAH,"LATE PERIOD, 26TH DYNASTY, REIGN OF PSAMTIK I,...",8 ¼ in. (21 cm.) high,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £387,500 ($521,575)"
6,Lot 15,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH CENTURY B.C.",7 5/16 in. (18.6 cm.) high,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £50,000 ($67,300)"
7,Lot 16,A CYPRIOT POTTERY ANTHROPOMORPHIC JUG,"CYPRO-ARCHAIC I-II, CIRCA 600-480 B.C.",10 ¾ in. (27.3 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £21,250 ($28,603)"
8,Lot 17,A CYPRIOT BICHROME POTTERY JUG,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",14 1/8 in. (36.1 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £12,500 ($16,825)"
9,Lot 18,A CYPRIOT BICHROME POTTERY JUG,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",15 7/8 in. (40.1 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £10,000 ($13,460)"
10,Lot 19,A CYPRIOT LIMESTONE HEAD OF HERAKLES,"CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.",4 ½ in. (11.5 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £6,875 ($9,254)"
11,Lot 20,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"CLASSICAL PERIOD, CIRCA MID-5TH CENTURY B.C.",10 ½ in. (26.8 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £11,250 ($15,143)"
12,Lot 21,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",4 ½ in. (11.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £5,250 ($7,067)"
13,Lot 22,A CYPRIOT LIMESTONE HEAD OF A FEMALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",5 ¼ in. (13.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £5,250 ($7,067)"
14,Lot 24,A CYPRIOT LIMESTONE VOTIVE BUST OF A WOMAN,"CLASSICAL PERIOD, CIRCA 4TH CENTURY B.C.",17 3/8 in. (44.2 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £22,500 ($30,285)"
15,Lot 26,A GREEK BRONZE VOTIVE BULL,"CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.",4 in. (10 cm.) long,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £68,750 ($92,538)"
16,Lot 27,AN ATTIC BLACK-FIGURED BAND-CUP,"SIGNED BY TALEIDES AS POTTER, CIRCA 550-540 B.C.",8 7/8 in. (22.6 cm.) diam. excl. handles,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £37,500 ($50,475)"
17,Lot 28,AN ATTIC RED-FIGURED KYLIX,"ATTRIBUTED TO THE ANCONA PAINTER, CIRCA 470-46...",15 ½ in. (39.5 cm.) diam. incl. handles,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £17,500 ($23,555)"
18,Lot 29,AN ATTIC BLACK-FIGURED AMPHORA,"MANNER OF THE ANTIMENES PAINTER, CIRCA 530-520...",15 ¾ in. (40 cm.) high,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £68,750 ($92,538)"
19,Lot 31,AN ETRUSCAN BRONZE MIRROR,CIRCA 4TH-3RD CENTURY B.C.,8 11/16 in. (22.1 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £7,500 ($10,095)"
20,Lot 32,AN APULIAN RED-FIGURED PELIKE,CIRCA LATE 4TH CENTURY B.C.,12 ¾ in. (32.5 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £16,250 ($21,873)"
21,Lot 33,A GREEK BLACK-GLAZED BOAR ASKOS,"SOUTH ITALY, CIRCA 320-290 B.C.",6 ¼ in. (16 cm.) long,,"estimate £2,500 - £3,500($3,330 - $4,662)","price realized £4,375 ($5,889)"
22,Lot 34,AN APULIAN RED-FIGURED LOUTROPHOROS,"ATTRIBUTED TO THE GROUP OF RUVO 423, CIRCA SEC...",37 ½ in. (95.1 cm.) high,,"estimate £70,000 - £100,000($93,240 - $133,200)","price realized £312,500 ($420,625)"
23,Lot 38,AN ILLYRIAN BRONZE HELMET,"ARCHAIC PERIOD, CIRCA 6TH CENTURY B.C.",10 ½ in. (26.5 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £68,750 ($92,538)"
24,Lot 41,A GREEK MARBLE HEAD OF APHRODITE,"HELLENISTIC PERIOD, CIRCA 2ND CENTURY B.C.",6 in. (15.2 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £25,000 ($33,650)"
25,Lot 42,A GREEK MARBLE GODDESS,"HELLENISTIC PERIOD, CIRCA 3RD CENTURY B.C.",13 13/16 in. (35.1 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £12,500 ($16,825)"
26,Lot 43,A GREEK MARBLE FIGURE OF A DANCING MAENAD,"ROMAN PERIOD, CIRCA 1ST CENTURY B.C./A.D.",22 ¼ in. (56.5 cm.) high,,"estimate £50,000 - £70,000($66,600 - $93,240)","price realized £156,250 ($210,313)"
27,Lot 44,A ROMAN BRONZE HYPNOS,CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.,11 7/8 in. (30.2 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £32,500 ($43,745)"
28,Lot 46,A ROMAN BRONZE MASK OF A COMIC ACTOR,CIRCA 1ST CENTURY A.D.,5 5/8 in. (14.3 cm.) high,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £218,750 ($294,438)"
29,Lot 47,A ROMAN MARBLE TORSO OF HERCULES,CIRCA 1ST-2ND CENTURY A.D.,9 ¼ in. (23.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £38,750 ($52,158)"
30,Lot 49,A GALLO-ROMAN BLUE-GREEN BLOWN GLASS CINERARY URN,CIRCA 1ST-2ND CENTURY A.D.,10 ¾ in. (27.5 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £52,500 ($70,665)"
31,Lot 50,A ROMAN MARBLE TERMINAL FIGURE OF DIONYSUS,CIRCA 2ND CENTURY A.D.,59 ½ in. (151 cm.) high,,"estimate £700,000 - £1,000,000($932,400 - $1,3...","price realized £862,500 ($1,160,925)"
32,Lot 51,A ROMAN MARBLE HEAD OF VENUS,CIRCA 2ND-3RD CENTURY A.D.,10 3/8 in. (26.4 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £62,500 ($84,125)"
33,Lot 52,A ROMAN MARBLE HEAD OF A GODDESS,CIRCA 1ST CENTURY A.D.,10 13/16 in. (27.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £43,750 ($58,888)"
34,Lot 54,A ROMAN MARBLE VENUS,CIRCA 1ST-2ND CENTURY A.D.,50 in. (127 cm.) high,,"estimate £250,000 - £350,000($333,000 - $466,2...","price realized £550,000 ($740,300)"
35,Lot 55,A ROMAN BRONZE COW,CIRCA 1ST CENTURY B.C.,10 1/8 in. (25.5 cm.) long,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £37,500 ($50,475)"
36,Lot 56,A ROMAN BRONZE HORSE,CIRCA 2ND CENTURY A.D.,6 ¾ in. (17.2 cm) long,,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £27,500 ($37,015)"
37,Lot 57,A ROMAN BRONZE DRAPED LEFT ARM,CIRCA 3RD CENTURY A.D.,13 1/8 in. (33.5 cm.) long,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £30,000 ($40,380)"
38,Lot 58,A ROMAN BRONZE VENUS ANADYOMENE,CIRCA 2ND CENTURY A.D.,6 1/8 in. (15.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £1,875 ($2,524)"
39,Lot 59,A MONUMENTAL ROMAN GREY MARBLE HEAD OF MINERVA,CIRCA LATE 2ND CENTURY A.D.,25 ½ in. (65 cm.) high,,"estimate £500,000 - £800,000($666,000 - $1,065...","price realized £622,500 ($837,885)"
40,Lot 60,A ROMAN MARBLE SARCOPHAGUS FRAGMENT,CIRCA 1ST-2ND CENTURY A.D.,14 5/8 in. (37.2 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £16,250 ($21,873)"
41,Lot 62,A ROMAN ALABASTER HEAD OF SERAPIS,CIRCA 1ST-2ND CENTURY A.D.,3 7/8 in. (9.7 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £7,500 ($10,095)"
42,Lot 63,A ROMAN MARBLE TORSO OF A YOUTH,CIRCA 1ST CENTURY A.D.,20 ½ in. (52 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £75,000 ($100,950)"
43,Lot 64,A GREEK GOLD DIADEM,CIRCA FIRST HALF OF THE 4TH CENTURY B.C.,13 ¾ in. (35 cm.) long,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £100,000 ($134,600)"
44,Lot 66,A ROMAN GOLD SNAKE RING,CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.,3.4 in. (2 cm) wide max.,,"estimate £3,000 - £5,000($3,996 - $6,660)","price realized £10,625 ($14,301)"
45,Lot 68,A MINOAN BANDED AGATE LENTOID,"LATE MINOAN II-III, CIRCA 1430-1330 B.C.",¾ in. (2 cm.) wide,,"estimate £2,500 - £3,500($3,330 - $4,662)","price realized £8,125 ($10,936)"
46,Lot 70,A ROMAN ROCK CRYSTAL RINGSTONE WITH A PYGMY CA...,CIRCA 1ST CENTURY B.C.,¾ in. (2 cm.) high,,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £28,750 ($38,698)"
47,Lot 74,A BYZANTINE GOLD AND NIELLO RING,CIRCA 6TH-7TH CENTURY A.D.,Bezel: 11 mm. wide. Ring size: M,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £15,000 ($20,190)"
48,Lot 75,"A BYZANTINE GOLD, NIELLO AND GARNET CROSS",CIRCA 6TH-7TH CENTURY A.D.,1 ½ in. (4 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £10,000 ($13,460)"
49,Lot 76,A BYZANTINE GOLD AND NIELLO RING,CIRCA 6TH-7TH CENTURY A.D.,Bezel: 12 mm. wide. Ring size: T,,"estimate £3,000 - £5,000($3,996 - $6,660)","price realized £8,750 ($11,778)"
50,Lot 77,AN EARLY BYZANTINE MARBLE RELIEF FRAGMENT,CIRCA 4TH-5TH CENTURY A.D.,17 in. (43 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £21,250 ($28,603)"

In [13]:
head = [[
        #auction title/cat: 
        re.sub("[\n\r/]", "", soup.find_all("h2",{"class":"browse-sale-title"})[0].get_text(strip=True)),
        #auction id: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-number"})[0].get_text(strip=True)),
        #date: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #location: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #total sale: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"id":"spanTotal"})[0].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("div",{"id":"lots_for_sale"},"strong")[0].get_text(strip=True))
        ]]
df_head = pd.DataFrame(head*(len(lot_data)), columns = ['category','id','date','location','total_sale','nooflots'])

df_head

,category,id,date,location,total_sale,nooflots
0,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
1,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
2,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
3,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
4,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
5,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
6,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
7,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
8,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
9,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
10,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
11,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
12,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
13,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
14,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
15,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
16,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
17,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
18,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
19,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
20,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
21,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
22,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
23,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
24,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
25,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
26,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
27,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
28,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
29,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
30,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
31,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
32,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
33,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
34,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
35,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
36,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
37,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
38,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
39,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
40,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
41,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
42,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
43,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
44,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
45,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
46,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
47,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
48,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
49,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
50,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864

In [15]:
result = pd.concat([df_head, lot_data], axis=1, join="inner")
result

,category,id,date,location,total_sale,nooflots,0,1,2,3,4,5,6
0,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 4,AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD,"NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-106...",3 5/8 X 4 in. (9.2 x 10.2 cm.),,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £8,750 ($11,778)"
1,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 5,AN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL,"MIDDLE KINGDOM, EARLY 12TH DYNASTY, CIRCA 1981...",12 3/8 in. (31.5 cm.) high,,"estimate £30,000 - £50,000($39,960 - $66,600)","price realized £35,000 ($47,110)"
2,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 6,AN EGYPTIAN PAINTED CARTONNAGE MUMMY MASK,"NEW KINGDOM, 19TH DYNASTY, CIRCA 1292-1185 B.C.",8 ½ in. (21.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £18,750 ($25,238)"
3,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 7,AN EGYPTIAN TURQUOISE FAIENCE FLASK,"NEW KINGDOM, 18TH DYNASTY, CIRCA 1550-1292 B.C.",5 in. (12.8 cm.) high,,"estimate £15,000 - £25,000($19,980 - $33,300)","price realized £4,375 ($5,889)"
4,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 11,AN EGYPTIAN BRONZE CAT,"PTOLEMAIC PERIOD, CIRCA 332-30 B.C.",6 5/16 in. (16 cm.) high,,"estimate £15,000 - £25,000($19,980 - $33,300)","price realized £27,500 ($37,015)"
5,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 13,AN EGYPTIAN BRONZE OSIRIS-PTAH,"LATE PERIOD, 26TH DYNASTY, REIGN OF PSAMTIK I,...",8 ¼ in. (21 cm.) high,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £387,500 ($521,575)"
6,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 15,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH CENTURY B.C.",7 5/16 in. (18.6 cm.) high,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £50,000 ($67,300)"
7,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 16,A CYPRIOT POTTERY ANTHROPOMORPHIC JUG,"CYPRO-ARCHAIC I-II, CIRCA 600-480 B.C.",10 ¾ in. (27.3 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £21,250 ($28,603)"
8,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 17,A CYPRIOT BICHROME POTTERY JUG,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",14 1/8 in. (36.1 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £12,500 ($16,825)"
9,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 18,A CYPRIOT BICHROME POTTERY JUG,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",15 7/8 in. (40.1 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £10,000 ($13,460)"
10,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 19,A CYPRIOT LIMESTONE HEAD OF HERAKLES,"CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.",4 ½ in. (11.5 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £6,875 ($9,254)"
11,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 20,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"CLASSICAL PERIOD, CIRCA MID-5TH CENTURY B.C.",10 ½ in. (26.8 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £11,250 ($15,143)"
12,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 21,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",4 ½ in. (11.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £5,250 ($7,067)"
13,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 22,A CYPRIOT LIMESTONE HEAD OF A FEMALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",5 ¼ in. (13.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £5,250 ($7,067)"
14,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 24,A CYPRIOT LIMESTONE VOTIVE BUST OF A WOMAN,"CLASSICAL PERIOD, CIRCA 4TH CENTURY B.C.",17 3/8 in. (44.2 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £22,500 ($30,285)"
15,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 26,A GREEK BRONZE VOTIVE BULL,"CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.",4 in. (10 cm.) long,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £68,750 ($92,538)"
16,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 27,AN ATTIC BLACK-FIGURED BAND-CUP,"SIGNED BY TALEIDES AS POTTER, CIRCA 550-540 B.C.",8 7/8 in. (22.6 cm.) diam. excl. handles,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £37,500 ($50,475)"
17,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 28,AN ATTIC RED-FIGURED KYLIX,"ATTRIBUTED TO THE ANCONA PAINTER, CIRCA 470-46...",15 ½ in. (39.5 cm.) diam. incl. handles,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £17,500 ($23,555)"
18,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 29,AN ATTIC BLACK-FIGURED AMPHORA,"MANNER OF THE ANTIMENES PAINTER, CIRCA 530-520...",15 ¾ in. (40 cm.) high,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £68,750 ($92,538)"
19,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 31,AN ETRUSCAN BRONZE MIRROR,CIRCA 4TH-3RD CENTURY B.C.,8 11/16 in. (22.1 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £7,500 ($10,095)"
20,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 32,AN APULIAN RED-FIGURED PELIKE,CIRCA LATE 4TH CENTURY B.C.,12 ¾ in. (32.5 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £16,250 ($21,873)"
21,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 33,A GREEK BLACK-GLAZED BOAR ASKOS,"SOUTH ITALY, CIRCA 320-290 B.C.",6 ¼ in. (16 cm.) long,,"estimate £2,500 - £3,500($3,330 - $4,662)","price realized £4,375 ($5,889)"
22,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 34,AN APULIAN RED-FIGURED LOUTROPHOROS,"ATTRIBUTED TO THE GROUP OF RUVO 423, CIRCA SEC...",37 ½ in. (95.1 cm.) high,,"estimate £70,000 - £100,000($93,240 - $133,200)","price realized £312,500 ($420,625)"
23,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 38,AN ILLYRIAN BRONZE HELMET,"ARCHAIC PERIOD, CIRCA 6TH CENTURY B.C.",10 ½ in. (26.5 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £68,750 ($92,538)"
24,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 41,A GREEK MARBLE HEAD OF APHRODITE,"HELLENISTIC PERIOD, CIRCA 2ND CENTURY B.C.",6 in. (15.2 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £25,000 ($33,650)"
25,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 42,A GREEK MARBLE GODDESS,"HELLENISTIC PERIOD, CIRCA 3RD CENTURY B.C.",13 13/16 in. (35.1 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £12,500 ($16,825)"
26,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 43,A GREEK MARBLE FIGURE OF A DANCING MAENAD,"ROMAN PERIOD, CIRCA 1ST CENTURY B.C./A.D.",22 ¼ in. (56.5 cm.) high,,"estimate £50,000 - £70,000($66,600 - $93,240)","price realized £156,250 ($210,313)"
27,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 44,A ROMAN BRONZE HYPNOS,CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.,11 7/8 in. (30.2 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £32,500 ($43,745)"
28,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 46,A ROMAN BRONZE MASK OF A COMIC ACTOR,CIRCA 1ST CENTURY A.D.,5 5/8 in. (14.3 cm.) high,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £218,750 ($294,438)"
29,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 47,A ROMAN MARBLE TORSO OF HERCULES,CIRCA 1ST-2ND CENTURY A.D.,9 ¼ in. (23.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £38,750 ($52,158)"
30,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 49,A GALLO-ROMAN BLUE-GREEN BLOWN GLASS CINERARY URN,CIRCA 1ST-2ND CENTURY A.D.,10 ¾ in. (27.5 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £52,500 ($70,665)"
31,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 50,A ROMAN MARBLE TERMINAL FIGURE OF DIONYSUS,CIRCA 2ND CENTURY A.D.,59 ½ in. (151 cm.) high,,"estimate £700,000 - £1,000,000($932,400 - $1,3...","price realized £862,500 ($1,160,925)"
32,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 51,A ROMAN MARBLE HEAD OF VENUS,CIRCA 2ND-3RD CENTURY A.D.,10 3/8 in. (26.4 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £62,500 ($84,125)"
33,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 52,A ROMAN MARBLE HEAD OF A GODDESS,CIRCA 1ST CENTURY A.D.,10 13/16 in. (27.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £43,750 ($58,888)"
34,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 54,A ROMAN MARBLE VENUS,CIRCA 1ST-2ND CENTURY A.D.,50 in. (127 cm.) high,,"estimate £250,000 - £350,000($333,000 - $466,2...","price realized £550,000 ($740,300)"
35,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 55,A ROMAN BRONZE COW,CIRCA 1ST CENTURY B.C.,10 1/8 in. (25.5 cm.) long,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £37,500 ($50,475)"
36,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 56,A ROMAN BRONZE HORSE,CIRCA 2ND CENTURY A.D.,6 ¾ in. (17.2 cm) long,,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £27,500 ($37,015)"
37,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 57,A ROMAN BRONZE DRAPED LEFT ARM,CIRCA 3RD CENTURY A.D.,13 1/8 in. (33.5 cm.) long,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £30,000 ($40,380)"
38,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 58,A ROMAN BRONZE VENUS ANADYOMENE,CIRCA 2ND CENTURY A.D.,6 1/8 in. (15.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £1,875 ($2,524)"
39,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 59,A MONUMENTAL ROMAN GREY MARBLE HEAD OF MINERVA,CIRCA LATE 2ND CENTURY A.D.,25 ½ in. (65 cm.) high,,"estimate £500,000 - £800,000($666,000 - $1,065...","price realized £622,500 ($837,885)"
40,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 60,A ROMAN MARBLE SARCOPHAGUS FRAGMENT,CIRCA 1ST-2ND CENTURY A.D.,14 5/8 in. (37.2 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £16,250 ($21,873)"
41,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 62,A ROMAN ALABASTER HEAD OF SERAPIS,CIRCA 1ST-2ND CENTURY A.D.,3 7/8 in. (9.7 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £7,500 ($10,095)"
42,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 63,A ROMAN MARBLE TORSO OF A YOUTH,CIRCA 1ST CENTURY A.D.,20 ½ in. (52 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £75,000 ($100,950)"
43,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 64,A GREEK GOLD DIADEM,CIRCA FIRST HALF OF THE 4TH CENTURY B.C.,13 ¾ in. (35 cm.) long,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £100,000 ($134,600)"
44,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 66,A ROMAN GOLD SNAKE RING,CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.,3.4 in. (2 cm) wide max.,,"estimate £3,000 - £5,000($3,996 - $6,660)","price realized £10,625 ($14,301)"
45,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 68,A MINOAN BANDED AGATE LENTOID,"LATE MINOAN II-III, CIRCA 1430-1330 B.C.",¾ in. (2 cm.) wide,,"estimate £2,500 - £3,500($3,330 - $4,662)","price realized £8,125 ($10,936)"
46,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 70,A ROMAN ROCK CRYSTAL RINGSTONE WITH A PYGMY CA...,CIRCA 1ST CENTURY B.C.,¾ in. (2 cm.) high,,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £28,750 ($38,698)"
47,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 74,A BYZANTINE GOLD AND NIELLO RING,CIRCA 6TH-7TH CENTURY A.D.,Bezel: 11 mm. wide. Ring size: M,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £15,000 ($20,190)"
48,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 75,"A BYZANTINE GOLD, NIELLO AND GARNET CROSS",CIRCA 6TH-7TH CENTURY A.D.,1 ½ in. (4 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £10,000 ($13,460)"
49,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 76,A BYZANTINE GOLD AND NIELLO RING,CIRCA 6TH-7TH CENTURY A.D.,Bezel: 12 mm. wide. Ring size: T,,"estimate £3,000 - £5,000($3,996 - $6,660)","price realized £8,750 ($11,778)"
50,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 77,AN EARLY BYZANTINE MARBLE RELIEF FRAGMENT,CIRCA 4TH-5TH CENTURY A.D.,17 in. (43 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £21,250 ($28,603)"

-------

### Join all the code

In [16]:
antiquities = [29064, 29150, 28840, 29063, 28980, 28619, 28775, 28620, 28629, 28618, 28783, 28785, 28552, 28917, 28682, 28125, 28597, 28295, 28580, 28201, 28097, 28363, 28178, 28329, 28200, 27821, 27423, 27522, 27422, 27942, 27521, 26822, 26920, 26821, 26919, 26158, 27002, 26172, 26744, 26157, 26171, 25353, 25123, 25307, 25122, 25050, 24491, 24743, 24670, 24618, 24445, 24628, 24269, 24033, 24150, 24337, 24554, 23986, 24219, 24516, 24326, 24268, 23585, 23820, 17246, 23545, 23710, 23760, 23097, 23096, 23264, 23019, 23214, 23416, 22640, 22639, 22908, 22631, 22857, 22937, 22824, 22181, 22180, 22407, 22490, 22121, 22384]
#antiquities_results = []
emptydf = pd.DataFrame()
#lot_data = [] 

url_antiquities_print=[]
for k in antiquities:
    urll='https://www.christies.com/lotfinder/print_sale.aspx?saleid='+str(k)
    url_antiquities_print.append(urll)

In [22]:
appended_dataframe = pd.DataFrame(columns = ['category','id','date','location','total_sale','nooflots',
                                             'lot','title','descr','measures','empty','estimated','realized'])
                                             
for url in url_antiquities_print[:2]:
    #url = url_antiquities_print #iterate over the urll list 
    response = requests.get(url)
    response.status_code
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # get lot info 
    all_data = [] 
    for i in soup.find_all("tr"):
        all_data.append(i.text)
    all_data = [x.strip().split("\n") for x in all_data]
    #df = pd.DataFrame(all_data[1:])

    clean_data = []
    for i in all_data:
        lent=len(i)
        if lent==7:
            clean_data.append(i)
    
    lot_data = pd.DataFrame.from_records(clean_data, columns = ['lot','title','descr','measures','empty','estimated','realized'])
        
    # get header
    head = [[
        #auction title/cat: 
        re.sub("[\n\r/]", "", soup.find_all("h2",{"class":"browse-sale-title"})[0].get_text(strip=True)),
        #auction id: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-number"})[0].get_text(strip=True)),
        #date: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #location: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #total sale: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"id":"spanTotal"})[0].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("div",{"id":"lots_for_sale"},"strong")[0].get_text(strip=True))
        ]]
    df_head = pd.DataFrame(head*(len(lot_data)), columns = ['category','id','date','location','total_sale','nooflots'])

    # append
    result = pd.concat([df_head, lot_data], axis=1, join="inner")
    
    # antiquities_results.append(result)
    appended_dataframe.append(result)

The code before works until the result (we get the last url result) but not appending and sotring it

## Solve the appending error

In [32]:
appended_dataframe = pd.DataFrame()
                                             
for url in url_antiquities_print:
    #url = url_antiquities_print #iterate over the urll list 
    response = requests.get(url)
    response.status_code
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # get lot info 
    all_data = [] 
    for i in soup.find_all("tr"):
        all_data.append(i.text)
    all_data = [x.strip().split("\n") for x in all_data]
    #df = pd.DataFrame(all_data[1:])

    clean_data = []
    for i in all_data:
        lent=len(i)
        if lent==7:
            clean_data.append(i)
    
    lot_data = pd.DataFrame.from_records(clean_data, columns = ['lot','title','descr','measures','empty','estimated','realized'])
        
    # get header
    head = [[
        #auction title/cat: 
        re.sub("[\n\r/]", "", soup.find_all("h2",{"class":"browse-sale-title"})[0].get_text(strip=True)),
        #auction id: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-number"})[0].get_text(strip=True)),
        #date: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #location: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #total sale: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"id":"spanTotal"})[0].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("div",{"id":"lots_for_sale"},"strong")[0].get_text(strip=True))
        ]]
    df_head = pd.DataFrame(head*(len(lot_data)), columns = ['category','id','date','location','total_sale','nooflots'])

    # append
    result = pd.concat([df_head, lot_data], axis=1, join="inner")
    
    # antiquities_results.append(result)
    appended_dataframe = appended_dataframe.append(result)

In [33]:
appended_dataframe

,category,id,date,location,total_sale,nooflots,lot,title,descr,measures,empty,estimated,realized
0,Antiquities,Auction 19876,"8 December 2021, London","8 December 2021, London","SALE TOTAL: 6,407,750 (GBP)",152 Lotsfor Sale 19876,Lot 1,AN ATTIC BLACK-FIGURED TREFOIL-LIPPED OINOCHOE,"ATTRIBUTED TO THE GELA PAINTER, CIRCA 510-490 ...",6 3⁄4 in. (17.2 cm.) high,,"estimate £6,000 - £8,000($7,956 - $10,608)","price realized £8,125 ($10,749)"
1,Antiquities,Auction 19876,"8 December 2021, London","8 December 2021, London","SALE TOTAL: 6,407,750 (GBP)",152 Lotsfor Sale 19876,Lot 2,A GREEK MEGARIAN WARE POTTERY BOWL,"HELLENISTIC PERIOD, CIRCA 2ND CENTURY B.C.",5 5⁄8 in. (14.2 cm.) diameter,,estimate £400 - £600($530 - $795),"price realized £1,500 ($1,985)"
2,Antiquities,Auction 19876,"8 December 2021, London","8 December 2021, London","SALE TOTAL: 6,407,750 (GBP)",152 Lotsfor Sale 19876,Lot 3,AN ATTIC WHITE-GROUND LEKYTHOS,CIRCA MID 5TH CENTURY B.C.,11 1⁄2 in. (29.2 cm.) high,,"estimate £8,000 - £12,000($10,608 - $15,912)","price realized £18,750 ($24,806)"
3,Antiquities,Auction 19876,"8 December 2021, London","8 December 2021, London","SALE TOTAL: 6,407,750 (GBP)",152 Lotsfor Sale 19876,Lot 5,SEVEN GREEK TERRACOTTAS,"HELLENISTIC PERIOD, CIRCA 3RD-2ND CENTURY B.C.",4 3⁄8 in. (11 cm.) long max.,,"estimate £2,500 - £3,500($3,315 - $4,641)","price realized £4,375 ($5,788)"
4,Antiquities,Auction 19876,"8 December 2021, London","8 December 2021, London","SALE TOTAL: 6,407,750 (GBP)",152 Lotsfor Sale 19876,Lot 6,AN ETRUSCAN BRONZE HANDLE FRAGMENT,CIRCA 5TH-4TH CENTURY B.C.,8 3⁄8 in. (21.3 cm.) high,,"estimate £1,500 - £2,500($1,989 - $3,315)","price realized £2,500 ($3,308)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,Antiquities Including the Plesch Collection of...,Auction 5951,"28 April 2009, London, Sout...","28 April 2009, London, Sout...","SALE TOTAL: 1,036,687 (GBP)",200 Lotsfor Sale 5951,Lot 243,A GREEK STYLE POTTERY MULE HEAD RHYTON,AFTER THE ANTIQUE,8¼ in. (21 cm.) and 12 in. (30.5 cm.) high res...,,"estimate £600 - £900($872 - $1,309)","price realized £2,000 ($2,902)"
167,Antiquities Including the Plesch Collection of...,Auction 5951,"28 April 2009, London, Sout...","28 April 2009, London, Sout...","SALE TOTAL: 1,036,687 (GBP)",200 Lotsfor Sale 5951,Lot 244,A LARGE ATTIC BLACK GLAZED POTTERY HYDRIA,4TH CENTURY B.C.,24 in. (61 cm.) and 7½ in. (19 cm.) high respe...,,"estimate £3,000 - £5,000($4,362 - $7,270)","price realized £6,875 ($9,976)"
168,Antiquities Including the Plesch Collection of...,Auction 5951,"28 April 2009, London, Sout...","28 April 2009, London, Sout...","SALE TOTAL: 1,036,687 (GBP)",200 Lotsfor Sale 5951,Lot 245,"AN APULIAN RED-FIGURE FISH PLATE, ATTRIBUTED T...",CIRCA 330 B.C.,9 in. (23 cm.) diam.,,"estimate £1,500 - £2,500($2,181 - $3,635)","price realized £3,250 ($4,716)"
169,Antiquities Including the Plesch Collection of...,Auction 5951,"28 April 2009, London, Sout...","28 April 2009, London, Sout...","SALE TOTAL: 1,036,687 (GBP)",200 Lotsfor Sale 5951,Lot 246,"AN APULIAN RED-FIGURE KANTHAROS, ATTRIBUTED TO...",CIRCA 4TH CENTURY B.C.,13 in. (33 cm.) high,,"estimate £2,000 - £2,500($2,908 - $3,635)","price realized £4,750 ($6,892)"
170,Antiquities Including the Plesch Collection of...,Auction 5951,"28 April 2009, London, Sout...","28 April 2009, London, Sout...","SALE TOTAL: 1,036,687 (GBP)",200 Lotsfor Sale 5951,Lot 248,A GRAECO-ROMAN ARCHAISTIC MARBLE HERM HEAD OF ...,"CIRCA 1ST CENTURY B.C., AFTER A GREEK ORIGINAL...",8 in. (20.5 cm.) high,,"estimate £9,000 - £15,000($13,086 - $21,810)","price realized £15,625 ($22,672)"

In [34]:
len(appended_dataframe)

10379

In [35]:
appended_dataframe.reset_index(drop=True)

,category,id,date,location,total_sale,nooflots,lot,title,descr,measures,empty,estimated,realized
0,Antiquities,Auction 19876,"8 December 2021, London","8 December 2021, London","SALE TOTAL: 6,407,750 (GBP)",152 Lotsfor Sale 19876,Lot 1,AN ATTIC BLACK-FIGURED TREFOIL-LIPPED OINOCHOE,"ATTRIBUTED TO THE GELA PAINTER, CIRCA 510-490 ...",6 3⁄4 in. (17.2 cm.) high,,"estimate £6,000 - £8,000($7,956 - $10,608)","price realized £8,125 ($10,749)"
1,Antiquities,Auction 19876,"8 December 2021, London","8 December 2021, London","SALE TOTAL: 6,407,750 (GBP)",152 Lotsfor Sale 19876,Lot 2,A GREEK MEGARIAN WARE POTTERY BOWL,"HELLENISTIC PERIOD, CIRCA 2ND CENTURY B.C.",5 5⁄8 in. (14.2 cm.) diameter,,estimate £400 - £600($530 - $795),"price realized £1,500 ($1,985)"
2,Antiquities,Auction 19876,"8 December 2021, London","8 December 2021, London","SALE TOTAL: 6,407,750 (GBP)",152 Lotsfor Sale 19876,Lot 3,AN ATTIC WHITE-GROUND LEKYTHOS,CIRCA MID 5TH CENTURY B.C.,11 1⁄2 in. (29.2 cm.) high,,"estimate £8,000 - £12,000($10,608 - $15,912)","price realized £18,750 ($24,806)"
3,Antiquities,Auction 19876,"8 December 2021, London","8 December 2021, London","SALE TOTAL: 6,407,750 (GBP)",152 Lotsfor Sale 19876,Lot 5,SEVEN GREEK TERRACOTTAS,"HELLENISTIC PERIOD, CIRCA 3RD-2ND CENTURY B.C.",4 3⁄8 in. (11 cm.) long max.,,"estimate £2,500 - £3,500($3,315 - $4,641)","price realized £4,375 ($5,788)"
4,Antiquities,Auction 19876,"8 December 2021, London","8 December 2021, London","SALE TOTAL: 6,407,750 (GBP)",152 Lotsfor Sale 19876,Lot 6,AN ETRUSCAN BRONZE HANDLE FRAGMENT,CIRCA 5TH-4TH CENTURY B.C.,8 3⁄8 in. (21.3 cm.) high,,"estimate £1,500 - £2,500($1,989 - $3,315)","price realized £2,500 ($3,308)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10374,Antiquities Including the Plesch Collection of...,Auction 5951,"28 April 2009, London, Sout...","28 April 2009, London, Sout...","SALE TOTAL: 1,036,687 (GBP)",200 Lotsfor Sale 5951,Lot 243,A GREEK STYLE POTTERY MULE HEAD RHYTON,AFTER THE ANTIQUE,8¼ in. (21 cm.) and 12 in. (30.5 cm.) high res...,,"estimate £600 - £900($872 - $1,309)","price realized £2,000 ($2,902)"
10375,Antiquities Including the Plesch Collection of...,Auction 5951,"28 April 2009, London, Sout...","28 April 2009, London, Sout...","SALE TOTAL: 1,036,687 (GBP)",200 Lotsfor Sale 5951,Lot 244,A LARGE ATTIC BLACK GLAZED POTTERY HYDRIA,4TH CENTURY B.C.,24 in. (61 cm.) and 7½ in. (19 cm.) high respe...,,"estimate £3,000 - £5,000($4,362 - $7,270)","price realized £6,875 ($9,976)"
10376,Antiquities Including the Plesch Collection of...,Auction 5951,"28 April 2009, London, Sout...","28 April 2009, London, Sout...","SALE TOTAL: 1,036,687 (GBP)",200 Lotsfor Sale 5951,Lot 245,"AN APULIAN RED-FIGURE FISH PLATE, ATTRIBUTED T...",CIRCA 330 B.C.,9 in. (23 cm.) diam.,,"estimate £1,500 - £2,500($2,181 - $3,635)","price realized £3,250 ($4,716)"
10377,Antiquities Including the Plesch Collection of...,Auction 5951,"28 April 2009, London, Sout...","28 April 2009, London, Sout...","SALE TOTAL: 1,036,687 (GBP)",200 Lotsfor Sale 5951,Lot 246,"AN APULIAN RED-FIGURE KANTHAROS, ATTRIBUTED TO...",CIRCA 4TH CENTURY B.C.,13 in. (33 cm.) high,,"estimate £2,000 - £2,500($2,908 - $3,635)","price realized £4,750 ($6,892)"
10378,Antiquities Including the Plesch Collection of...,Auction 5951,"28 April 2009, London, Sout...","28 April 2009, London, Sout...","SALE TOTAL: 1,036,687 (GBP)",200 Lotsfor Sale 5951,Lot 248,A GRAECO-ROMAN ARCHAISTIC MARBLE HERM HEAD OF ...,"CIRCA 1ST CENTURY B.C., AFTER A GREEK ORIGINAL...",8 in. (20.5 cm.) high,,"estimate £9,000 - £15,000($13,086 - $21,810)","price realized £15,625 ($22,672)"

In [36]:
appended_dataframe.to_csv(r'appended_dataframe.csv', index = False, header = True)