### Import libraries

In [1]:
#  import libraries
from bs4 import BeautifulSoup
import requests
import re #regex
import pandas as pd
from tqdm.notebook import tqdm
import time
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium import webdriver
from lxml import etree
import lxml.html as lh

## Let's try: with one lot page

### Get the soup

In [2]:
# 2. find url and store it in avariable
url = "https://www.christies.com/lotfinder/print_sale.aspx?saleid=28619"

# 3. download html with a get request
response = requests.get(url)

#check response status code 
response.status_code

# create a beautiful soup
soup = BeautifulSoup(response.content, 'html.parser')

In [3]:
antiquities21 = [29064,29150,28840,29063,28980]
antiquities20 = [28619,28775,28620,28629,28618,28783,28785,28552,28917,28682]
antiquities19 = [28125,28597,28295,28580,28201,28097,28363,28178,28329,28200]
antiquities18 = [27821,27423,27522,27422,27942,27521]
antiquities17 = [26822,26920,26821,26919]
antiquities16 = [26158,27002,26172,26744,26157,26171]
antiquities15 = [25353,25123,25307,25122]
antiquities14 = [25050,24491,24743,24670,24618,24445,24628]
antiquities13 = [24269,24033,24150,24337,24554,23986,24219,24516,24326]
antiquities12 = [24268,23585,23820,17246,23545,23710,23760]
antiquities11 = [23097,23096,23264,23019,23214,23416]
antiquities10 = [22640,22639,22908,22631,22857,22937,22824]
antiquities09 = [22181,22180,22407,22490,22121,22384]

In [4]:
antiquities_list = [29064,29150,28840,29063,28980,
                    28619,28775,28620,28629,28618,28783,28785,28552,28917,28682,
                    28125,28597,28295,28580,28201,28097,28363,28178,28329,28200,
                    27821,27423,27522,27422,27942,27521,
                    26822,26920,26821,26919,
                    26158,27002,26172,26744,26157,26171,
                    25353,25123,25307,25122,
                    25050,24491,24743,24670,24618,24445,24628,
                    24269,24033,24150,24337,24554,23986,24219,24516,24326,
                    24268,23585,23820,17246,23545,23710,23760,
                    23097,23096,23264,23019,23214,23416,
                    22640,22639,22908,22631,22857,22937,22824,
                    22181,22180,22407,22490,22121,22384
                   ]
len(antiquities_list)

87

In [5]:
url_antiquities_print=[]
antiquities = [29064, 29150, 28840, 29063, 28980, 28619, 28775, 28620, 28629, 28618, 28783, 28785, 28552, 28917, 28682, 28125, 28597, 28295, 28580, 28201, 28097, 28363, 28178, 28329, 28200, 27821, 27423, 27522, 27422, 27942, 27521, 26822, 26920, 26821, 26919, 26158, 27002, 26172, 26744, 26157, 26171, 25353, 25123, 25307, 25122, 25050, 24491, 24743, 24670, 24618, 24445, 24628, 24269, 24033, 24150, 24337, 24554, 23986, 24219, 24516, 24326, 24268, 23585, 23820, 17246, 23545, 23710, 23760, 23097, 23096, 23264, 23019, 23214, 23416, 22640, 22639, 22908, 22631, 22857, 22937, 22824, 22181, 22180, 22407, 22490, 22121, 22384]
for k in antiquities:
            urll='https://www.christies.com/lotfinder/print_sale.aspx?saleid='+str(k)
            url_antiquities_print.append(urll)
len(url_antiquities_print)

87

In [6]:
fineart21 = [29200,29222,29234,29193,29230,29563]
# wishlist

In [7]:
#prettify the soup 
print(soup.prettify())

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <script type="text/javascript">
   var IsMobileApp = (navigator.userAgent.indexOf('mob-app')>-1) ? true : false
  </script>
  <!-- OneTrust Cookies Consent Notice (Staging, staging.christies.com, en-GB) start -->
  <script charset="UTF-8" src="" type="text/javascript">
  </script>
  <script type="text/javascript">
   function OptanonWrapper() {

            Optanon.InsertScript('/js/performance-cookies.js', 'head', null, null, 2);

            Optanon.InsertScript('/js/targeting-cookies.js', 'head', null, null, 4);

        }
  </script>
  <!-- OneTrust Cookies Consent Notice (Staging, staging.christies.com, en-GB) end -->
  <!-- MOBIFY - DO NOT ALTER - PASTE IMMEDIATELY AFTER OPENING HEAD TAG -->
  <script type="text/javascript">
   /*<![CDATA[*/(function(a) { function b(a, b) { if (+a) return ~a || (d.cookie = h + "=; path=/"); j = d.createElement(e), k = d.getElementsByTagName(e)[0], j.src = a, b && (j.onload = j.onerror = b), k.parentNode.insertBefore(j, k) } function c() { n.api || b(l.shift() || -1, c) } if (this.Mobify) return; var d = document, e = "script", f = "mobify", g = "." + f + ".com/", h = f + "-path", i = g + "un" + f + ".js", j, k, l = [!1, 1], m, n = this.Mobify = { points: [+(new Date)], tagVersion: [6, 1], ajs: "//a.mobify.com/christies-mobile/a.js" }, o = /((; )|#|&|^)mobify-path=([^&;]*)/g.exec(location.hash + "; " + d.cookie); o ? (m = o[3]) && ! +(m = o[2] && sessionStorage[h] || m) && (l = [!0, "//preview" + g + escape(m)]) : (l = a() || l, l[0] && l.push("//cdn" + i, "//files01" + i)), l.shift() ? (d.write('<plaintext style="display:none;">'), setTimeout(c)) : b(l[0]) })(function() { if (/ipad/i.test(navigator.userAgent)) { return [1, "//cdn.mobify.com/sites/christies-tablet/production/mobify.js"] } if (/ip(hone|od)|android.*(mobile)|blackberry.*applewebkit|bb1\d.*mobile/i.test(navigator.userAgent)) { return [1, "//cdn.mobify.com/sites/christies-mobile/production/mobify.js"] } return [0, Mobify.ajs] })/*]]>*/
  </script>
  <!-- END MOBIFY -->
  <title>
   Christie's
  </title>
  <link href="/css/site.print.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://www.christies.com/salelanding/index.aspx?lid=1&amp;intsaleid=28619&amp;saletitle=" rel="canonical"/>
 </head>
 <body>
  <div class="print-wrapper">
   <!-- ucomniture_a -->
   <!-- ===========================================
    This should be the first thing just after the  Body Tag
        OMNITURE CODE SECTION-A BEGIN
     ===========================================-->
   <script language="javascript" src="//assets.adobedtm.com/4f105c1434ad/6ef91fc289ec/launch-8bada67044f4.min.js" type="text/javascript">
   </script>
   <script language="javascript" type="text/javascript">
    var s = s || {};
   </script>
   <script language="JavaScript" type="text/javascript">
    s.prop37 = window.location.href
   </script>
   <!-- ===========================================
    OMNITURE CODE SECTION-A END
     ===========================================-->
   <!-- ===========================================
OMNITURE CODE SECTION-B BEGIN
===========================================-->
   <!-- SiteCatalyst code version: H.14.
Copyright 1997-2007 Omniture, Inc. More info available at
http://www.omniture.com -->
   <script language="JavaScript" type="text/javascript">
    <!--
/* You may give each page an identifying name, server, and channel on
the next lines. */
s.pageName = 'Lot Finder - Gallery Guide - Print'
s.channel = 'Lot Finder'
s.prop5 = 'New, Repeat'
s.prop6 = 'Not Logged In/No Account'
s.prop20 = '28619'
s.prop37 = 'https://www.christies.com/lotfinder/print_sale.aspx?saleid=28619'
s.prop59 = 'en-us'
s.eVar6 = '28619'
s.eVar22 = 'English'
//-->
   </script>
   <!-- End SiteCatalyst code version: H.14. -->
   <!-- ===========================================
OMNITURE CODE SECTION-B END
===========================================-->
   <!-- Machine Name: MAC02 -->
   <div class="mask">
   </div>
   <div class="text-center">
    <img class="logo" src="/images/print-friendly-logo.gif"/>
   </div>
   <br/>
   <ul id="sale_info_container">
    <li id="sale_info">
     <span class="sale-number">
      Auction
                18864
     </span>
     <h2 class="browse-sale-title">
      Antiquities
     </h2>
     <span class="sale-date sale-number-location1">
      16 December 2020,
                    London
     </span>
     <span id="spanTotal">
      <br/>
      <br/>
      SALE TOTAL: 4,337,125 (GBP)
     </span>
    </li>
   </ul>
   <table border="0" id="lot-list">
    <thead style="display: table-header-group">
     <tr>
      <th colspan="3" valign="top">
       <div id="lots_for_sale">
        <strong>
         55 Lots
        </strong>
        for Sale 18864
       </div>
      </th>
     </tr>
    </thead>
    <tr>
     <td class="thumb">
      <img src="https://www.christies.com/img/lotimages//2020/CKS/2020_CKS_18864_0004_000(an_egyptian_white_faience_tile_with_a_rekhyt_bird_new_kingdom_19th-20t054100).jpg?mode=max&amp;Width=77"/>
     </td>
     <td class="lot-info">
      <div class="left-border">
       <span class="lot-number">
        Lot 4
       </span>
       <br>
        <span class="lot-description">
         AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD
        </span>
        <br>
         <span class="lot-maker">
          NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.
         </span>
         <br/>
         <span class="medium-dimensions">
          3 5/8 X 4 in. (9.2 x 10.2 cm.)
          <br/>
         </span>
        </br>
       </br>
      </div>
     </td>
     <td class="estimate">
      <div class="left-border">
       <span class="estimate-title">
        estimate
       </span>
       <br>
        <span class="lot-description">
         £7,000 - £9,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($9,324 - $11,988)
        </span>
        <br/>
        <br/>
        <span class="estimate-title">
         price realized
        </span>
        <br/>
        <span class="lot-description">
         £8,750
        </span>
        <br/>
        <span class="estimate-secondary">
         ($11,778)
        </span>
       </br>
      </div>
     </td>
    </tr>
    <tr>
     <td class="thumb">
      <img src="https://www.christies.com/img/lotimages//2020/CKS/2020_CKS_18864_0005_001(an_egyptian_polychrome_wood_figure_of_an_official_middle_kingdom_early054110).jpg?mode=max&amp;Width=77"/>
     </td>
     <td class="lot-info">
      <div class="left-border">
       <span class="lot-number">
        Lot 5
       </span>
       <br/>
       <span class="lot-description">
        AN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL
       </span>
       <br/>
       <span class="lot-maker">
        MIDDLE KINGDOM, EARLY 12TH DYNASTY, CIRCA 1981-1802 B.C.
       </span>
       <br/>
       <span class="medium-dimensions">
        12 3/8 in. (31.5 cm.) high
        <br/>
       </span>
      </div>
     </td>
     <td class="estimate">
      <div class="left-border">
       <span class="estimate-title">
        estimate
       </span>
       <br>
        <span class="lot-description">
         £30,000 - £50,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($39,960 - $66,600)
        </span>
        <br/>
        <br/>
        <span class="estimate-title">
         price realized
        </span>
        <br/>
        <span class="lot-description">
         £35,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($47,110)
        </span>
       </br>
      </div>
     </td>
    </tr>
    <tr>
     <td class="thumb">
      <img src="https://www.christies.com/img/lotimages//2020/CKS/2020_CKS_18864_0006_000(an_egyptian_painted_cartonnage_mummy_mask_new_kingdom_19th_dynasty_cir054120).jpg?mode=max&amp;Width=77"/>
     </td>
     <td class="lot-info">
      <div class="left-border">
       <span class="lot-number">
        Lot 6
       </span>
       <br/>
       <span class="lot-description">
        AN EGYPTIAN PAINTED CARTONNAGE MUMMY MASK
       </span>
       <br/>
       <span class="lot-maker">
        NEW KINGDOM, 19TH DYNASTY, CIRCA 1292-1185 B.C.
       </span>
       <br/>
       <span class="medium-dimensions">
        8 ½ in. (21.5 cm.) high
        <br/>
       </span>
      </div>
     </td>
     <td class="estimate">
      <div class="left-border">
       <span class="estimate-title">
        estimate
       </span>
       <br>
        <span class="lot-description">
         £15,000 - £20,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($19,980 - $26,640)
        </span>
        <br/>
        <br/>
        <span class="estimate-title">
         price realized
        </span>
        <br/>
        <span class="lot-description">
         £18,750
        </span>
        <br/>
        <span class="estimate-secondary">
         ($25,238)
        </span>
       </br>
      </div>
     </td>
    </tr>
    <tr>
     <td class="thumb">
      <img src="https://www.christies.com/img/lotimages//2020/CKS/2020_CKS_18864_0007_000(an_egyptian_turquoise_faience_flask_new_kingdom_18th_dynasty_circa_155054124).jpg?mode=max&amp;Width=77"/>
     </td>
     <td class="lot-info">
      <div class="left-border">
       <span class="lot-number">
        Lot 7
       </span>
       <br/>
       <span class="lot-description">
        AN EGYPTIAN TURQUOISE FAIENCE FLASK
       </span>
       <br/>
       <span class="lot-maker">
        NEW KINGDOM, 18TH DYNASTY, CIRCA 1550-1292 B.C.
       </span>
       <br/>
       <span class="medium-dimensions">
        5 in. (12.8 cm.) high
        <br/>
       </span>
      </div>
     </td>
     <td class="estimate">
      <div class="left-border">
       <span class="estimate-title">
        estimate
       </span>
       <br>
        <span class="lot-description">
         £15,000 - £25,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($19,980 - $33,300)
        </span>
        <br/>
        <br/>
        <span class="estimate-title">
         price realized
        </span>
        <br/>
        <span class="lot-description">
         £4,375
        </span>
        <br/>
        <span class="estimate-secondary">
         ($5,889)
        </span>
       </br>
      </div>
     </td>
    </tr>
    <tr>
     <td class="thumb">
      <img src="https://www.christies.com/images/no-image-75.jpg"/>
     </td>
     <td class="lot-info">
      <div class="left-border">
       <span class="lot-number">
        Lot 9
       </span>
       <br/>
       <span class="lot-description">
        AN EGYPTIAN NUMMULITIC LIMESTONE FIGURE OF AN AMARNA PRINCESS
       </span>
       <br/>
       <span class="lot-maker">
        NEW KINGDOM, 18TH DYNASTY, REIGN OF AKHENATEN, CIRCA 1347-1345 B.C.
       </span>
       <br/>
       <span class="medium-dimensions">
        13 ½ in. (34.3 cm.) high
        <br/>
       </span>
      </div>
     </td>
     <td class="estimate">
      <div class="left-border">
       <span class="estimate-title">
        estimate
       </span>
       <br>
        <span class="lot-description">
        </span>
        <span class="estimate-secondary">
         ($532,800 - $799,200)
        </span>
        <br/>
        <span class="chr-withdrawn-lot">
         <p>
          This lot was withdrawn from the sale
         </p>
        </span>
       </br>
      </div>
     </td>
    </tr>
    <tr>
     <td class="thumb">
      <img src="https://www.christies.com/img/lotimages//2020/CKS/2020_CKS_18864_0011_000(an_egyptian_bronze_cat_ptolemaic_period_circa_332-30_bc054211).jpg?mode=max&amp;Width=77"/>
     </td>
     <td class="lot-info">
      <div class="left-border">
       <span class="lot-number">
        Lot 11
       </span>
       <br/>
       <span class="lot-description">
        AN EGYPTIAN BRONZE CAT
       </span>
       <br/>
       <span class="lot-maker">
        PTOLEMAIC PERIOD, CIRCA 332-30 B.C.
       </span>
       <br/>
       <span class="medium-dimensions">
        6 5/16 in. (16 cm.) high
        <br/>
       </span>
      </div>
     </td>
     <td class="estimate">
      <div class="left-border">
       <span class="estimate-title">
        estimate
       </span>
       <br>
        <span class="lot-description">
         £15,000 - £25,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($19,980 - $33,300)
        </span>
        <br/>
        <br/>
        <span class="estimate-title">
         price realized
        </span>
        <br/>
        <span class="lot-description">
         £27,500
        </span>
        <br/>
        <span class="estimate-secondary">
         ($37,015)
        </span>
       </br>
      </div>
     </td>
    </tr>
    <tr>
     <td class="thumb">
      <img src="https://www.christies.com/img/lotimages//2020/CKS/2020_CKS_18864_0013_000(an_egyptian_bronze_osiris-ptah_late_period_26th_dynasty_reign_of_psamt054225).jpg?mode=max&amp;Width=77"/>
     </td>
     <td class="lot-info">
      <div class="left-border">
       <span class="lot-number">
        Lot 13
       </span>
       <br/>
       <span class="lot-description">
        AN EGYPTIAN BRONZE OSIRIS-PTAH
       </span>
       <br/>
       <span class="lot-maker">
        LATE PERIOD, 26TH DYNASTY, REIGN OF PSAMTIK I, 664-610 B.C.
       </span>
       <br/>
       <span class="medium-dimensions">
        8 ¼ in. (21 cm.) high
        <br/>
       </span>
      </div>
     </td>
     <td class="estimate">
      <div class="left-border">
       <span class="estimate-title">
        estimate
       </span>
       <br>
        <span class="lot-description">
         £80,000 - £120,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($106,560 - $159,840)
        </span>
        <br/>
        <br/>
        <span class="estimate-title">
         price realized
        </span>
        <br/>
        <span class="lot-description">
         £387,500
        </span>
        <br/>
        <span class="estimate-secondary">
         ($521,575)
        </span>
       </br>
      </div>
     </td>
    </tr>
    <tr>
     <td class="thumb">
      <img src="https://www.christies.com/img/lotimages//2020/CKS/2020_CKS_18864_0015_001(a_cypriot_limestone_head_of_a_male_votary_archaic_period_circa_late_6t054337).jpg?mode=max&amp;Width=77"/>
     </td>
     <td class="lot-info">
      <div class="left-border">
       <span class="lot-number">
        Lot 15
       </span>
       <br/>
       <span class="lot-description">
        A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY
       </span>
       <br/>
       <span class="lot-maker">
        ARCHAIC PERIOD, CIRCA LATE 6TH CENTURY B.C.
       </span>
       <br/>
       <span class="medium-dimensions">
        7 5/16 in. (18.6 cm.) high
        <br/>
       </span>
      </div>
     </td>
     <td class="estimate">
      <div class="left-border">
       <span class="estimate-title">
        estimate
       </span>
       <br>
        <span class="lot-description">
         £40,000 - £60,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($53,280 - $79,920)
        </span>
        <br/>
        <br/>
        <span class="estimate-title">
         price realized
        </span>
        <br/>
        <span class="lot-description">
         £50,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($67,300)
        </span>
       </br>
      </div>
     </td>
    </tr>
    <tr>
     <td class="thumb">
      <img src="https://www.christies.com/img/lotimages//2020/CKS/2020_CKS_18864_0016_001(a_cypriot_pottery_anthropomorphic_jug_cypro-archaic_i-ii_circa_600-480054351).jpg?mode=max&amp;Width=77"/>
     </td>
     <td class="lot-info">
      <div class="left-border">
       <span class="lot-number">
        Lot 16
       </span>
       <br/>
       <span class="lot-description">
        A CYPRIOT POTTERY ANTHROPOMORPHIC JUG
       </span>
       <br/>
       <span class="lot-maker">
        CYPRO-ARCHAIC I-II, CIRCA 600-480 B.C.
       </span>
       <br/>
       <span class="medium-dimensions">
        10 ¾ in. (27.3 cm.) high
        <br/>
       </span>
      </div>
     </td>
     <td class="estimate">
      <div class="left-border">
       <span class="estimate-title">
        estimate
       </span>
       <br>
        <span class="lot-description">
         £6,000 - £8,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($7,992 - $10,656)
        </span>
        <br/>
        <br/>
        <span class="estimate-title">
         price realized
        </span>
        <br/>
        <span class="lot-description">
         £21,250
        </span>
        <br/>
        <span class="estimate-secondary">
         ($28,603)
        </span>
       </br>
      </div>
     </td>
    </tr>
    <tr>
     <td class="thumb">
      <img src="https://www.christies.com/img/lotimages//2020/CKS/2020_CKS_18864_0017_000(a_cypriot_bichrome_pottery_jug_archaic_period_circa_late_6th-early_5th054354).jpg?mode=max&amp;Width=77"/>
     </td>
     <td class="lot-info">
      <div class="left-border">
       <span class="lot-number">
        Lot 17
       </span>
       <br/>
       <span class="lot-description">
        A CYPRIOT BICHROME POTTERY JUG
       </span>
       <br/>
       <span class="lot-maker">
        ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.
       </span>
       <br/>
       <span class="medium-dimensions">
        14 1/8 in. (36.1 cm.) high
        <br/>
       </span>
      </div>
     </td>
     <td class="estimate">
      <div class="left-border">
       <span class="estimate-title">
        estimate
       </span>
       <br>
        <span class="lot-description">
         £6,000 - £8,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($7,992 - $10,656)
        </span>
        <br/>
        <br/>
        <span class="estimate-title">
         price realized
        </span>
        <br/>
        <span class="lot-description">
         £12,500
        </span>
        <br/>
        <span class="estimate-secondary">
         ($16,825)
        </span>
       </br>
      </div>
     </td>
    </tr>
    <tr>
     <td class="thumb">
      <img src="https://www.christies.com/img/lotimages//2020/CKS/2020_CKS_18864_0018_000(a_cypriot_bichrome_pottery_jug_archaic_period_circa_late_6th-early_5th054357).jpg?mode=max&amp;Width=77"/>
     </td>
     <td class="lot-info">
      <div class="left-border">
       <span class="lot-number">
        Lot 18
       </span>
       <br/>
       <span class="lot-description">
        A CYPRIOT BICHROME POTTERY JUG
       </span>
       <br/>
       <span class="lot-maker">
        ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.
       </span>
       <br/>
       <span class="medium-dimensions">
        15 7/8 in. (40.1 cm.) high
        <br/>
       </span>
      </div>
     </td>
     <td class="estimate">
      <div class="left-border">
       <span class="estimate-title">
        estimate
       </span>
       <br>
        <span class="lot-description">
         £5,000 - £7,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($6,660 - $9,324)
        </span>
        <br/>
        <br/>
        <span class="estimate-title">
         price realized
        </span>
        <br/>
        <span class="lot-description">
         £10,000
        </span>
        <br/>
        <span class="estimate-secondary">
         ($13,460)
        </span>
       </br>
      </div>
     </td>
    </tr>
    <tr>
     <td class="thumb">

In [8]:
# save prettify txt
with open('lot_test.txt', 'w', encoding='utf-8') as f_out:
    f_out.write(soup.prettify())

In [9]:
soup.find_all("h2",{"class":"browse-sale-title"})[0].text

'\r\n                    Antiquities'

In [10]:
soup.find_all("div",{"class":"left-border"})[0].text

'\nLot 4\nAN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD\nNEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.\n3 5/8 X 4 in. (9.2 x 10.2 cm.)\n'

In [11]:
soup.find_all("div",{"class":"left-border"})[1].text

'estimate £7,000 - £9,000($9,324 - $11,988) \nprice realized £8,750  ($11,778) '

### Get the whole info of one page - sale id 28619

#### Shared information for the whole lot

In [12]:
soup.find_all("ul")[0].get_text(strip=True)

'Auction\r\n                18864Antiquities16 December 2020,\r\n                    LondonSALE TOTAL: 4,337,125 (GBP)'

In [13]:
header = [] 
for i in soup.find_all("ul"):
    header.append(i.text)
#header = [x.strip().split("\n\r\n") for x in header]
header

['\nAuction\r\n                18864\n\r\n                    Antiquities\n\r\n                    16 December 2020,\r\n                    London\r\n                \n\nSALE TOTAL: 4,337,125 (GBP)\r\n\t\t\t\t\n\n']

In [14]:
header = str(header)
separated_string = header.splitlines()
separated_string

["['\\nAuction\\r\\n                18864\\n\\r\\n                    Antiquities\\n\\r\\n                    16 December 2020,\\r\\n                    London\\r\\n                \\n\\nSALE TOTAL: 4,337,125 (GBP)\\r\\n\\t\\t\\t\\t\\n\\n']"]

In [15]:
# get the auction title
soup.find_all("h2",{"class":"browse-sale-title"})[0].get_text(strip=True)

'Antiquities'

In [16]:
# get the auction id / # split numbers (last 5 characters? delete spaces + auction?)
soup.find_all("span",{"class":"sale-number"})[0].get_text(strip=True)

'Auction\r\n                18864'

In [17]:
# get the date / # split date 
soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)

'16 December 2020,\r\n                    London'

In [18]:
# get the location / #split place
soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)

'16 December 2020,\r\n                    London'

In [19]:
# get the total sale
soup.find_all("span",{"id":"spanTotal"})[0].get_text(strip=True)

'SALE TOTAL: 4,337,125 (GBP)'

In [20]:
# get the quantity of lots of the sale auction
soup.find_all("tr")[0].get_text(strip=True)

'55 Lotsfor Sale 18864'

In [21]:
soup.find_all("div",{"id":"lots_for_sale"},"strong")[0].get_text(strip=True)

'55 Lotsfor Sale 18864'

#### Specific Lot description

In [22]:
soup.find_all("div",{"class":"left-border"})[0].get_text(strip=True)

'Lot 4AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRDNEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.3 5/8 X 4 in. (9.2 x 10.2 cm.)'

In [23]:
# get the lot number
lot_no = soup.find_all("span",{"class":"lot-number"})[0].get_text(strip=True)
lot_no

'Lot 4'

In [24]:
# get the title
lot_title = soup.find_all("span",{"class":"lot-description"})[0].get_text(strip=True)
lot_title

'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD'

In [25]:
# get the lot description / maker / artist / dinasty 
lot_descr = soup.find_all("span",{"class":"lot-maker"})[0].get_text(strip=True)
lot_descr

'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.'

In [26]:
# get the measures
lot_meas = soup.find_all("span",{"class":"medium-dimensions"})[0].get_text(strip=True)
lot_meas

'3 5/8 X 4 in. (9.2 x 10.2 cm.)'

In [27]:
soup.find_all("div",{"class":"left-border"})[1].get_text(strip=True)

'estimate£7,000 - £9,000($9,324 - $11,988)price realized£8,750($11,778)'

In [28]:
# get the estimated price (strip min and max by dividing by -)
lot_est = soup.find_all("span",{"class":"lot-description"})[1].get_text(strip=True)
lot_est

'£7,000 - £9,000'

In [29]:
# get the price realized
lot_rea = soup.find_all("span",{"class":"lot-description"})[2].get_text(strip=True)
lot_rea

'£8,750'

#### Get the whole info of a page of lots

- Each lot has a **tr** tag
- The tr tag defines a row in an HTML table
- The lots go from **tr 1** until **trlen(lots_for_sale)** / **(len(tr)-1)**
- Each tr contains **3 td** (thumb, lot-info and estimate

In [30]:
# get the next lot number
soup.find_all("span",{"class":"lot-number"})[3].get_text(strip=True)

'Lot 7'

In [31]:
# what contains the first tr?
soup.find_all("tr")[0].get_text(strip=True)

'55 Lotsfor Sale 18864'

In [32]:
# what contains the second tr?
soup.find_all("tr")[1].get_text(strip=True)

'Lot 4AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRDNEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.3 5/8 X 4 in. (9.2 x 10.2 cm.)estimate£7,000 - £9,000($9,324 - $11,988)price realized£8,750($11,778)'

In [33]:
# what contains the last tr?
soup.find_all("tr")[55].get_text(strip=True)

'Lot 77AN EARLY BYZANTINE MARBLE RELIEF FRAGMENTCIRCA 4TH-5TH CENTURY A.D.17 in. (43 cm.) highestimate£8,000 - £12,000($10,656 - $15,984)price realized£21,250($28,603)'

In [34]:
# we need to know the length of tr to know how many lot pieces has the auction
tr_elements = soup.find_all("tr")
tr_length = int(len(tr_elements))
print(tr_length, type(tr_length))
nooflots = (tr_length - 1)
print(nooflots, type(nooflots))

56 <class 'int'>
55 <class 'int'>

In [35]:
# trs = soup.find_all('tr')

for tr in tr_elements[1:]: #skip first row (table header)
    lot = [
        #number: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-number"})[0].get_text(strip=True)),
        #title: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[0].get_text(strip=True)),
        #description: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-maker"})[0].get_text(strip=True)),
        #measures: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"medium-dimensions"})[0].get_text(strip=True)),
        #estimated price: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[1].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[2].get_text(strip=True))
    ]

In [36]:
lot

['Lot 4',
 'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
 'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
 '3 58 X 4 in. (9.2 x 10.2 cm.)',
 '£7,000 - £9,000',
 '£8,750']

In [37]:
# trs = soup.find_all('tr')

for tr in tr_elements[1:]: #skip first row (table header)
    lot = [
        #number: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-number"})[3].get_text(strip=True)),
        #title: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[3].get_text(strip=True)),
        #description: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-maker"})[3].get_text(strip=True)),
        #measures: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"medium-dimensions"})[3].get_text(strip=True)),
        #estimated price: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[4].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[5].get_text(strip=True))
    ]

In [38]:
lot

['Lot 7',
 'AN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL',
 'NEW KINGDOM, 18TH DYNASTY, CIRCA 1550-1292 B.C.',
 '5 in. (12.8 cm.) high',
 '£30,000 - £50,000',
 '£35,000']

In [39]:
for tr in tr_elements[1:]: #skip first row (table header)
    lot = [
        #number: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-number"})[1].get_text(strip=True)),
        #title: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[3].get_text(strip=True)),
        #description: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-maker"})[1].get_text(strip=True)),
        #measures: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"medium-dimensions"})[1].get_text(strip=True)),
        #estimated price: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[4].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[5].get_text(strip=True))
    ]

In [40]:
lot

['Lot 5',
 'AN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL',
 'MIDDLE KINGDOM, EARLY 12TH DYNASTY, CIRCA 1981-1802 B.C.',
 '12 38 in. (31.5 cm.) high',
 '£30,000 - £50,000',
 '£35,000']

In [41]:
for tr in tr_elements[1:]: #skip first row (table header)
    lot = [
        #number: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-number"})[6].get_text(strip=True)),
        #title: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[8].get_text(strip=True)),
        #description: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-maker"})[6].get_text(strip=True)),
        #measures: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"medium-dimensions"})[6].get_text(strip=True)),
        #estimated price: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[9].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[10].get_text(strip=True))
    ]

In [42]:
lot

['Lot 13',
 '£18,750',
 'LATE PERIOD, 26TH DYNASTY, REIGN OF PSAMTIK I, 664-610 B.C.',
 '8 ¼ in. (21 cm.) high',
 'AN EGYPTIAN TURQUOISE FAIENCE FLASK',
 '£15,000 - £25,000']

In [43]:
lots = []
for tr in tr_elements[1:]: #skip first row (table header)
    lot = [
        #number: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-number"})[6].get_text(strip=True)),
        #title: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[7].get_text(strip=True)),
        #description: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-maker"})[6].get_text(strip=True)),
        #measures: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"medium-dimensions"})[6].get_text(strip=True)),
        #estimated price: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[7].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[8].get_text(strip=True))
    ]

In [44]:
lots

[]

In [45]:
lots = []
for tr in tr_elements[1:]: #skip first row (table header)
    lot = [
        #number: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-number"})[0].get_text(strip=True)),
        #title: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[0].get_text(strip=True)),
        #description: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-maker"})[0].get_text(strip=True)),
        #measures: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"medium-dimensions"})[0].get_text(strip=True)),
        #estimated price: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[1].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[2].get_text(strip=True))
    ]
    lots.append(lot)

In [46]:
lots

[['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 58 X 4 in. (9.2 x 10.2 cm.)',
  '£7,000 - £9,000',
  '£8,750']]

### Selecting things before storing is not working so let's change the perspective... collect all tr in a list, convert it to a df and split by /n

In [47]:
all_data = [] 
for i in soup.find_all("tr"):
    all_data.append(i.text)

In [48]:
all_data
# now let's split the list items by js line break \n

['\n\n\n55 Lots for Sale 18864\r\n                        \n\n',
 '\n\n\n\n\nLot 4\nAN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD\nNEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.\n3 5/8 X 4 in. (9.2 x 10.2 cm.)\n\nestimate £7,000 - £9,000($9,324 - $11,988) \nprice realized £8,750  ($11,778) ',
 '\n\n\n\n\nLot 5\nAN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL\nMIDDLE KINGDOM, EARLY 12TH DYNASTY, CIRCA 1981-1802 B.C.\n12 3/8 in. (31.5 cm.) high\n\nestimate £30,000 - £50,000($39,960 - $66,600) \nprice realized £35,000  ($47,110) ',
 '\n\n\n\n\nLot 6\nAN EGYPTIAN PAINTED CARTONNAGE MUMMY MASK\nNEW KINGDOM, 19TH DYNASTY, CIRCA 1292-1185 B.C.\n8 ½ in. (21.5 cm.) high\n\nestimate £15,000 - £20,000($19,980 - $26,640) \nprice realized £18,750  ($25,238) ',
 '\n\n\n\n\nLot 7\nAN EGYPTIAN TURQUOISE FAIENCE FLASK\nNEW KINGDOM, 18TH DYNASTY, CIRCA 1550-1292 B.C.\n5 in. (12.8 cm.) high\n\nestimate £15,000 - £25,000($19,980 - $33,300) \nprice realized £4,375  ($5,889) ',
 '\n\n\n\n\nLot 9\nAN EGYPTIAN NUMMULITIC LIMESTONE FIGURE OF AN AMARNA PRINCESS\nNEW KINGDOM, 18TH DYNASTY, REIGN OF AKHENATEN, CIRCA 1347-1345 B.C.\n13 ½ in. (34.3 cm.) high\n\nestimate ($532,800 - $799,200) This lot was withdrawn from the sale',
 '\n\n\n\n\nLot 11\nAN EGYPTIAN BRONZE CAT\nPTOLEMAIC PERIOD, CIRCA 332-30 B.C.\n6 5/16 in. (16 cm.) high\n\nestimate £15,000 - £25,000($19,980 - $33,300) \nprice realized £27,500  ($37,015) ',
 '\n\n\n\n\nLot 13\nAN EGYPTIAN BRONZE OSIRIS-PTAH\nLATE PERIOD, 26TH DYNASTY, REIGN OF PSAMTIK I, 664-610 B.C.\n8 ¼ in. (21 cm.) high\n\nestimate £80,000 - £120,000($106,560 - $159,840) \nprice realized £387,500  ($521,575) ',
 '\n\n\n\n\nLot 15\nA CYPRIOT LIMESTONE HEAD OF A MALE VOTARY\nARCHAIC PERIOD, CIRCA LATE 6TH CENTURY B.C.\n7 5/16 in. (18.6 cm.) high\n\nestimate £40,000 - £60,000($53,280 - $79,920) \nprice realized £50,000  ($67,300) ',
 '\n\n\n\n\nLot 16\nA CYPRIOT POTTERY ANTHROPOMORPHIC JUG\nCYPRO-ARCHAIC I-II, CIRCA 600-480 B.C.\n10 ¾ in. (27.3 cm.) high\n\nestimate £6,000 - £8,000($7,992 - $10,656) \nprice realized £21,250  ($28,603) ',
 '\n\n\n\n\nLot 17\nA CYPRIOT BICHROME POTTERY JUG\nARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.\n14 1/8 in. (36.1 cm.) high\n\nestimate £6,000 - £8,000($7,992 - $10,656) \nprice realized £12,500  ($16,825) ',
 '\n\n\n\n\nLot 18\nA CYPRIOT BICHROME POTTERY JUG\nARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.\n15 7/8 in. (40.1 cm.) high\n\nestimate £5,000 - £7,000($6,660 - $9,324) \nprice realized £10,000  ($13,460) ',
 '\n\n\n\n\nLot 19\nA CYPRIOT LIMESTONE HEAD OF HERAKLES\nCLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.\n4 ½ in. (11.5 cm.) high\n\nestimate £5,000 - £7,000($6,660 - $9,324) \nprice realized £6,875  ($9,254) ',
 '\n\n\n\n\nLot 20\nA CYPRIOT LIMESTONE HEAD OF A MALE VOTARY\nCLASSICAL PERIOD, CIRCA MID-5TH CENTURY B.C.\n10 ½ in. (26.8 cm.) high\n\nestimate £10,000 - £15,000($13,320 - $19,980) \nprice realized £11,250  ($15,143) ',
 '\n\n\n\n\nLot 21\nA CYPRIOT LIMESTONE HEAD OF A MALE VOTARY\nARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.\n4 ½ in. (11.5 cm.) high\n\nestimate £4,000 - £6,000($5,328 - $7,992) \nprice realized £5,250  ($7,067) ',
 '\n\n\n\n\nLot 22\nA CYPRIOT LIMESTONE HEAD OF A FEMALE VOTARY\nARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.\n5 ¼ in. (13.5 cm.) high\n\nestimate £4,000 - £6,000($5,328 - $7,992) \nprice realized £5,250  ($7,067) ',
 '\n\n\n\n\nLot 24\nA CYPRIOT LIMESTONE VOTIVE BUST OF A WOMAN\nCLASSICAL PERIOD, CIRCA 4TH CENTURY B.C.\n17 3/8 in. (44.2 cm.) high\n\nestimate £20,000 - £30,000($26,640 - $39,960) \nprice realized £22,500  ($30,285) ',
 '\n\n\n\n\nLot 26\nA GREEK BRONZE VOTIVE BULL\nCLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.\n4 in. (10 cm.) long\n\nestimate £40,000 - £60,000($53,280 - $79,920) \nprice realized £68,750  ($92,538) ',
 '\n\n\n\n\nLot 27\nAN ATTIC BLACK-FIGURED BAND-CUP\nSIGNED BY TALEIDES AS POTTER, CIRCA 550-540 B.C.\n8 7/8 in. (22.6 cm.) diam. excl. handles\n\nestimate £10,000 - £15,000($13,320 - $19,980) \nprice realized £37,500  ($50,475) ',
 '\n\n\n\n\nLot 28\nAN ATTIC RED-FIGURED KYLIX\nATTRIBUTED TO THE ANCONA PAINTER, CIRCA 470-460 B.C.\n15 ½ in. (39.5 cm.) diam. incl. handles\n\nestimate £10,000 - £15,000($13,320 - $19,980) \nprice realized £17,500  ($23,555) ',
 '\n\n\n\n\nLot 29\nAN ATTIC BLACK-FIGURED AMPHORA\nMANNER OF THE ANTIMENES PAINTER, CIRCA 530-520 B.C.\n15 ¾ in. (40 cm.) high\n\nestimate £40,000 - £60,000($53,280 - $79,920) \nprice realized £68,750  ($92,538) ',
 '\n\n\n\n\nLot 31\nAN ETRUSCAN BRONZE MIRROR\nCIRCA 4TH-3RD CENTURY B.C.\n8 11/16 in. (22.1 cm.) high\n\nestimate £6,000 - £8,000($7,992 - $10,656) \nprice realized £7,500  ($10,095) ',
 '\n\n\n\n\nLot 32\nAN APULIAN RED-FIGURED PELIKE\nCIRCA LATE 4TH CENTURY B.C.\n12 ¾ in. (32.5 cm.) high\n\nestimate £8,000 - £12,000($10,656 - $15,984) \nprice realized £16,250  ($21,873) ',
 '\n\n\n\n\nLot 33\nA GREEK BLACK-GLAZED BOAR ASKOS\nSOUTH ITALY, CIRCA 320-290 B.C.\n6 ¼ in. (16 cm.) long\n\nestimate £2,500 - £3,500($3,330 - $4,662) \nprice realized £4,375  ($5,889) ',
 '\n\n\n\n\nLot 34\nAN APULIAN RED-FIGURED LOUTROPHOROS\nATTRIBUTED TO THE GROUP OF RUVO 423, CIRCA SECOND HALF OF THE 4TH CENTURY B.C.\n37 ½ in. (95.1 cm.) high\n\nestimate £70,000 - £100,000($93,240 - $133,200) \nprice realized £312,500  ($420,625) ',
 '\n\n\n\n\nLot 38\nAN ILLYRIAN BRONZE HELMET\nARCHAIC PERIOD, CIRCA 6TH CENTURY B.C.\n10 ½ in. (26.5 cm.) high\n\nestimate £20,000 - £30,000($26,640 - $39,960) \nprice realized £68,750  ($92,538) ',
 '\n\n\n\n\nLot 41\nA GREEK MARBLE HEAD OF APHRODITE\nHELLENISTIC PERIOD, CIRCA 2ND CENTURY B.C.\n6 in. (15.2 cm.) high\n\nestimate £10,000 - £15,000($13,320 - $19,980) \nprice realized £25,000  ($33,650) ',
 '\n\n\n\n\nLot 42\nA GREEK MARBLE GODDESS\nHELLENISTIC PERIOD, CIRCA 3RD CENTURY B.C.\n13 13/16 in. (35.1 cm.) high\n\nestimate £10,000 - £15,000($13,320 - $19,980) \nprice realized £12,500  ($16,825) ',
 '\n\n\n\n\nLot 43\nA GREEK MARBLE FIGURE OF A DANCING MAENAD\nROMAN PERIOD, CIRCA 1ST CENTURY B.C./A.D.\n22 ¼ in. (56.5 cm.) high\n\nestimate £50,000 - £70,000($66,600 - $93,240) \nprice realized £156,250  ($210,313) ',
 '\n\n\n\n\nLot 44\nA ROMAN BRONZE HYPNOS\nCIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.\n11 7/8 in. (30.2 cm.) high\n\nestimate £15,000 - £20,000($19,980 - $26,640) \nprice realized £32,500  ($43,745) ',
 '\n\n\n\n\nLot 45\nA ROMAN BRONZE MINERVA\nCIRCA 1ST CENTURY A.D.\n4 ¼ in. (10.8 cm.) high\n\nestimate ($39,960 - $66,600) This lot was withdrawn from the sale',
 '\n\n\n\n\nLot 46\nA ROMAN BRONZE MASK OF A COMIC ACTOR\nCIRCA 1ST CENTURY A.D.\n5 5/8 in. (14.3 cm.) high\n\nestimate £80,000 - £120,000($106,560 - $159,840) \nprice realized £218,750  ($294,438) ',
 '\n\n\n\n\nLot 47\nA ROMAN MARBLE TORSO OF HERCULES\nCIRCA 1ST-2ND CENTURY A.D.\n9 ¼ in. (23.5 cm.) high\n\nestimate £15,000 - £20,000($19,980 - $26,640) \nprice realized £38,750  ($52,158) ',
 '\n\n\n\n\nLot 49\nA GALLO-ROMAN BLUE-GREEN BLOWN GLASS CINERARY URN\nCIRCA 1ST-2ND CENTURY A.D.\n10 ¾ in. (27.5 cm.) high\n\nestimate £20,000 - £30,000($26,640 - $39,960) \nprice realized £52,500  ($70,665) ',
 '\n\n\n\n\nLot 50\nA ROMAN MARBLE TERMINAL FIGURE OF DIONYSUS\nCIRCA 2ND CENTURY A.D.\n59 ½ in. (151 cm.) high\n\nestimate £700,000 - £1,000,000($932,400 - $1,332,000) \nprice realized £862,500  ($1,160,925) ',
 '\n\n\n\n\nLot 51\nA ROMAN MARBLE HEAD OF VENUS\nCIRCA 2ND-3RD CENTURY A.D.\n10 3/8 in. (26.4 cm.) high\n\nestimate £20,000 - £30,000($26,640 - $39,960) \nprice realized £62,500  ($84,125) ',
 '\n\n\n\n\nLot 52\nA ROMAN MARBLE HEAD OF A GODDESS\nCIRCA 1ST CENTURY A.D.\n10 13/16 in. (27.5 cm.) high\n\nestimate £15,000 - £20,000($19,980 - $26,640) \nprice realized £43,750  ($58,888) ',
 '\n\n\n\n\nLot 53\nA ROMAN SILVER SHELL-SHAPED DISH\nCIRCA 3RD CENTURY A.D.\n6¾ in. (17 cm.) wide max.\n\nestimate ($53,280 - $79,920) This lot was withdrawn from the sale',
 '\n\n\n\n\nLot 54\nA ROMAN MARBLE VENUS\nCIRCA 1ST-2ND CENTURY A.D.\n50 in. (127 cm.) high\n\nestimate £250,000 - £350,000($333,000 - $466,200) \nprice realized £550,000  ($740,300) ',
 '\n\n\n\n\nLot 55\nA ROMAN BRONZE COW\nCIRCA 1ST CENTURY B.C.\n10 1/8 in. (25.5 cm.) long\n\nestimate £10,000 - £15,000($13,320 - $19,980) \nprice realized £37,500  ($50,475) ',
 '\n\n\n\n\nLot 56\nA ROMAN BRONZE HORSE\nCIRCA 2ND CENTURY A.D.\n6 ¾ in. (17.2 cm) long\n\nestimate £7,000 - £9,000($9,324 - $11,988) \nprice realized £27,500  ($37,015) ',
 '\n\n\n\n\nLot 57\nA ROMAN BRONZE DRAPED LEFT ARM\nCIRCA 3RD CENTURY A.D.\n13 1/8 in. (33.5 cm.) long\n\nestimate £20,000 - £30,000($26,640 - $39,960) \nprice realized £30,000  ($40,380) ',
 '\n\n\n\n\nLot 58\nA ROMAN BRONZE VENUS ANADYOMENE\nCIRCA 2ND CENTURY A.D.\n6 1/8 in. (15.5 cm.) high\n\nestimate £4,000 - £6,000($5,328 - $7,992) \nprice realized £1,875  ($2,524) ',
 '\n\n\n\n\nLot 59\nA MONUMENTAL ROMAN GREY MARBLE HEAD OF MINERVA\nCIRCA LATE 2ND CENTURY A.D.\n25 ½ in. (65 cm.) high\n\nestimate £500,000 - £800,000($666,000 - $1,065,600) \nprice realized £622,500  ($837,885) ',
 '\n\n\n\n\nLot 60\nA ROMAN MARBLE SARCOPHAGUS FRAGMENT\nCIRCA 1ST-2ND CENTURY A.D.\n14 5/8 in. (37.2 cm.) high\n\nestimate £8,000 - £12,000($10,656 - $15,984) \nprice realized £16,250  ($21,873) ',
 '\n\n\n\n\nLot 62\nA ROMAN ALABASTER HEAD OF SERAPIS\nCIRCA 1ST-2ND CENTURY A.D.\n3 7/8 in. (9.7 cm.) high\n\nestimate £5,000 - £7,000($6,660 - $9,324) \nprice realized £7,500  ($10,095) ',
 '\n\n\n\n\nLot 63\nA ROMAN MARBLE TORSO OF A YOUTH\nCIRCA 1ST CENTURY A.D.\n20 ½ in. (52 cm.) high\n\nestimate £20,000 - £30,000($26,640 - $39,960) \nprice realized £75,000  ($100,950) ',
 '\n\n\n\n\nLot 64\nA GREEK GOLD DIADEM\nCIRCA FIRST HALF OF THE 4TH CENTURY B.C.\n13 ¾ in. (35 cm.) long\n\nestimate £80,000 - £120,000($106,560 - $159,840) \nprice realized £100,000  ($134,600) ',
 '\n\n\n\n\nLot 65\nTWENTY-FOUR EGYPTIAN STEATITE SCARABS MOUNTED AS A SUITE OF JEWELLERY\nNEW KINGDOM, 1550-1069 B.C. AND LATER, WITH 19TH CENTURY MOUNTS\nNecklace: 18 in. (46 cm.) long \nBrooch: 3 ¼ in. (8.3 cm.) long \nEarrings: 2 ¼ in. (5.7 cm.) long\n\nestimate £8,000 - £12,000($10,656 - $15,984) \nprice realized £18,750  ($25,238) ',
 '\n\n\n\n\nLot 66\nA ROMAN GOLD SNAKE RING\nCIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.\n3.4 in. (2 cm) wide max.\n\nestimate £3,000 - £5,000($3,996 - $6,660) \nprice realized £10,625  ($14,301) ',
 '\n\n\n\n\nLot 68\nA MINOAN BANDED AGATE LENTOID\nLATE MINOAN II-III, CIRCA 1430-1330 B.C.\n¾ in. (2 cm.) wide\n\nestimate £2,500 - £3,500($3,330 - $4,662) \nprice realized £8,125  ($10,936) ',
 '\n\n\n\n\nLot 70\nA ROMAN ROCK CRYSTAL RINGSTONE WITH A PYGMY CARRYING A CICADA\nCIRCA 1ST CENTURY B.C.\n¾ in. (2 cm.) high\n\nestimate £7,000 - £9,000($9,324 - $11,988) \nprice realized £28,750  ($38,698) ',
 '\n\n\n\n\nLot 74\nA BYZANTINE GOLD AND NIELLO RING\nCIRCA 6TH-7TH CENTURY A.D.\nBezel: 11 mm. wide. Ring size: M\n\nestimate £6,000 - £8,000($7,992 - $10,656) \nprice realized £15,000  ($20,190) ',
 '\n\n\n\n\nLot 75\nA BYZANTINE GOLD, NIELLO AND GARNET CROSS\nCIRCA 6TH-7TH CENTURY A.D.\n1 ½ in. (4 cm.) high\n\nestimate £10,000 - £15,000($13,320 - $19,980) \nprice realized £10,000  ($13,460) ',
 '\n\n\n\n\nLot 76\nA BYZANTINE GOLD AND NIELLO RING\nCIRCA 6TH-7TH CENTURY A.D.\nBezel: 12 mm. wide. Ring size: T\n\nestimate £3,000 - £5,000($3,996 - $6,660) \nprice realized £8,750  ($11,778) ',
 '\n\n\n\n\nLot 77\nAN EARLY BYZANTINE MARBLE RELIEF FRAGMENT\nCIRCA 4TH-5TH CENTURY A.D.\n17 in. (43 cm.) high\n\nestimate £8,000 - £12,000($10,656 - $15,984) \nprice realized £21,250  ($28,603) ']

In [49]:
len(all_data)

56

In [50]:
df = pd.DataFrame(all_data, columns=['text']) 
df.head()

                                                text
0  \n\n\n55 Lots for Sale 18864\r\n              ...
1  \n\n\n\n\nLot 4\nAN EGYPTIAN WHITE FAIENCE TIL...
2  \n\n\n\n\nLot 5\nAN EGYPTIAN POLYCHROME WOOD F...
3  \n\n\n\n\nLot 6\nAN EGYPTIAN PAINTED CARTONNAG...
4  \n\n\n\n\nLot 7\nAN EGYPTIAN TURQUOISE FAIENCE...

In [51]:
df.dtypes

text    object
dtype: object

In [52]:
df['text'].astype(str)
df.head()

                                                text
0  \n\n\n55 Lots for Sale 18864\r\n              ...
1  \n\n\n\n\nLot 4\nAN EGYPTIAN WHITE FAIENCE TIL...
2  \n\n\n\n\nLot 5\nAN EGYPTIAN POLYCHROME WOOD F...
3  \n\n\n\n\nLot 6\nAN EGYPTIAN PAINTED CARTONNAG...
4  \n\n\n\n\nLot 7\nAN EGYPTIAN TURQUOISE FAIENCE...

In [53]:
all_data = [] 
for i in soup.find_all("tr"):
    all_data.append(i.text)

In [54]:
all_data = [x.strip().split("\n") for x in all_data]
all_data

[['55 Lots for Sale 18864'],
 ['Lot 4',
  'AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD',
  'NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-1069 B.C.',
  '3 5/8 X 4 in. (9.2 x 10.2 cm.)',
  '',
  'estimate £7,000 - £9,000($9,324 - $11,988) ',
  'price realized £8,750  ($11,778)'],
 ['Lot 5',
  'AN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL',
  'MIDDLE KINGDOM, EARLY 12TH DYNASTY, CIRCA 1981-1802 B.C.',
  '12 3/8 in. (31.5 cm.) high',
  '',
  'estimate £30,000 - £50,000($39,960 - $66,600) ',
  'price realized £35,000  ($47,110)'],
 ['Lot 6',
  'AN EGYPTIAN PAINTED CARTONNAGE MUMMY MASK',
  'NEW KINGDOM, 19TH DYNASTY, CIRCA 1292-1185 B.C.',
  '8 ½ in. (21.5 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £18,750  ($25,238)'],
 ['Lot 7',
  'AN EGYPTIAN TURQUOISE FAIENCE FLASK',
  'NEW KINGDOM, 18TH DYNASTY, CIRCA 1550-1292 B.C.',
  '5 in. (12.8 cm.) high',
  '',
  'estimate £15,000 - £25,000($19,980 - $33,300) ',
  'price realized £4,375  ($5,889)'],
 ['Lot 9',
  'AN EGYPTIAN NUMMULITIC LIMESTONE FIGURE OF AN AMARNA PRINCESS',
  'NEW KINGDOM, 18TH DYNASTY, REIGN OF AKHENATEN, CIRCA 1347-1345 B.C.',
  '13 ½ in. (34.3 cm.) high',
  '',
  'estimate ($532,800 - $799,200) This lot was withdrawn from the sale'],
 ['Lot 11',
  'AN EGYPTIAN BRONZE CAT',
  'PTOLEMAIC PERIOD, CIRCA 332-30 B.C.',
  '6 5/16 in. (16 cm.) high',
  '',
  'estimate £15,000 - £25,000($19,980 - $33,300) ',
  'price realized £27,500  ($37,015)'],
 ['Lot 13',
  'AN EGYPTIAN BRONZE OSIRIS-PTAH',
  'LATE PERIOD, 26TH DYNASTY, REIGN OF PSAMTIK I, 664-610 B.C.',
  '8 ¼ in. (21 cm.) high',
  '',
  'estimate £80,000 - £120,000($106,560 - $159,840) ',
  'price realized £387,500  ($521,575)'],
 ['Lot 15',
  'A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY',
  'ARCHAIC PERIOD, CIRCA LATE 6TH CENTURY B.C.',
  '7 5/16 in. (18.6 cm.) high',
  '',
  'estimate £40,000 - £60,000($53,280 - $79,920) ',
  'price realized £50,000  ($67,300)'],
 ['Lot 16',
  'A CYPRIOT POTTERY ANTHROPOMORPHIC JUG',
  'CYPRO-ARCHAIC I-II, CIRCA 600-480 B.C.',
  '10 ¾ in. (27.3 cm.) high',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £21,250  ($28,603)'],
 ['Lot 17',
  'A CYPRIOT BICHROME POTTERY JUG',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '14 1/8 in. (36.1 cm.) high',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £12,500  ($16,825)'],
 ['Lot 18',
  'A CYPRIOT BICHROME POTTERY JUG',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '15 7/8 in. (40.1 cm.) high',
  '',
  'estimate £5,000 - £7,000($6,660 - $9,324) ',
  'price realized £10,000  ($13,460)'],
 ['Lot 19',
  'A CYPRIOT LIMESTONE HEAD OF HERAKLES',
  'CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.',
  '4 ½ in. (11.5 cm.) high',
  '',
  'estimate £5,000 - £7,000($6,660 - $9,324) ',
  'price realized £6,875  ($9,254)'],
 ['Lot 20',
  'A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY',
  'CLASSICAL PERIOD, CIRCA MID-5TH CENTURY B.C.',
  '10 ½ in. (26.8 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £11,250  ($15,143)'],
 ['Lot 21',
  'A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '4 ½ in. (11.5 cm.) high',
  '',
  'estimate £4,000 - £6,000($5,328 - $7,992) ',
  'price realized £5,250  ($7,067)'],
 ['Lot 22',
  'A CYPRIOT LIMESTONE HEAD OF A FEMALE VOTARY',
  'ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTURY B.C.',
  '5 ¼ in. (13.5 cm.) high',
  '',
  'estimate £4,000 - £6,000($5,328 - $7,992) ',
  'price realized £5,250  ($7,067)'],
 ['Lot 24',
  'A CYPRIOT LIMESTONE VOTIVE BUST OF A WOMAN',
  'CLASSICAL PERIOD, CIRCA 4TH CENTURY B.C.',
  '17 3/8 in. (44.2 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £22,500  ($30,285)'],
 ['Lot 26',
  'A GREEK BRONZE VOTIVE BULL',
  'CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.',
  '4 in. (10 cm.) long',
  '',
  'estimate £40,000 - £60,000($53,280 - $79,920) ',
  'price realized £68,750  ($92,538)'],
 ['Lot 27',
  'AN ATTIC BLACK-FIGURED BAND-CUP',
  'SIGNED BY TALEIDES AS POTTER, CIRCA 550-540 B.C.',
  '8 7/8 in. (22.6 cm.) diam. excl. handles',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £37,500  ($50,475)'],
 ['Lot 28',
  'AN ATTIC RED-FIGURED KYLIX',
  'ATTRIBUTED TO THE ANCONA PAINTER, CIRCA 470-460 B.C.',
  '15 ½ in. (39.5 cm.) diam. incl. handles',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £17,500  ($23,555)'],
 ['Lot 29',
  'AN ATTIC BLACK-FIGURED AMPHORA',
  'MANNER OF THE ANTIMENES PAINTER, CIRCA 530-520 B.C.',
  '15 ¾ in. (40 cm.) high',
  '',
  'estimate £40,000 - £60,000($53,280 - $79,920) ',
  'price realized £68,750  ($92,538)'],
 ['Lot 31',
  'AN ETRUSCAN BRONZE MIRROR',
  'CIRCA 4TH-3RD CENTURY B.C.',
  '8 11/16 in. (22.1 cm.) high',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £7,500  ($10,095)'],
 ['Lot 32',
  'AN APULIAN RED-FIGURED PELIKE',
  'CIRCA LATE 4TH CENTURY B.C.',
  '12 ¾ in. (32.5 cm.) high',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £16,250  ($21,873)'],
 ['Lot 33',
  'A GREEK BLACK-GLAZED BOAR ASKOS',
  'SOUTH ITALY, CIRCA 320-290 B.C.',
  '6 ¼ in. (16 cm.) long',
  '',
  'estimate £2,500 - £3,500($3,330 - $4,662) ',
  'price realized £4,375  ($5,889)'],
 ['Lot 34',
  'AN APULIAN RED-FIGURED LOUTROPHOROS',
  'ATTRIBUTED TO THE GROUP OF RUVO 423, CIRCA SECOND HALF OF THE 4TH CENTURY B.C.',
  '37 ½ in. (95.1 cm.) high',
  '',
  'estimate £70,000 - £100,000($93,240 - $133,200) ',
  'price realized £312,500  ($420,625)'],
 ['Lot 38',
  'AN ILLYRIAN BRONZE HELMET',
  'ARCHAIC PERIOD, CIRCA 6TH CENTURY B.C.',
  '10 ½ in. (26.5 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £68,750  ($92,538)'],
 ['Lot 41',
  'A GREEK MARBLE HEAD OF APHRODITE',
  'HELLENISTIC PERIOD, CIRCA 2ND CENTURY B.C.',
  '6 in. (15.2 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £25,000  ($33,650)'],
 ['Lot 42',
  'A GREEK MARBLE GODDESS',
  'HELLENISTIC PERIOD, CIRCA 3RD CENTURY B.C.',
  '13 13/16 in. (35.1 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £12,500  ($16,825)'],
 ['Lot 43',
  'A GREEK MARBLE FIGURE OF A DANCING MAENAD',
  'ROMAN PERIOD, CIRCA 1ST CENTURY B.C./A.D.',
  '22 ¼ in. (56.5 cm.) high',
  '',
  'estimate £50,000 - £70,000($66,600 - $93,240) ',
  'price realized £156,250  ($210,313)'],
 ['Lot 44',
  'A ROMAN BRONZE HYPNOS',
  'CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.',
  '11 7/8 in. (30.2 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £32,500  ($43,745)'],
 ['Lot 45',
  'A ROMAN BRONZE MINERVA',
  'CIRCA 1ST CENTURY A.D.',
  '4 ¼ in. (10.8 cm.) high',
  '',
  'estimate ($39,960 - $66,600) This lot was withdrawn from the sale'],
 ['Lot 46',
  'A ROMAN BRONZE MASK OF A COMIC ACTOR',
  'CIRCA 1ST CENTURY A.D.',
  '5 5/8 in. (14.3 cm.) high',
  '',
  'estimate £80,000 - £120,000($106,560 - $159,840) ',
  'price realized £218,750  ($294,438)'],
 ['Lot 47',
  'A ROMAN MARBLE TORSO OF HERCULES',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '9 ¼ in. (23.5 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £38,750  ($52,158)'],
 ['Lot 49',
  'A GALLO-ROMAN BLUE-GREEN BLOWN GLASS CINERARY URN',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '10 ¾ in. (27.5 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £52,500  ($70,665)'],
 ['Lot 50',
  'A ROMAN MARBLE TERMINAL FIGURE OF DIONYSUS',
  'CIRCA 2ND CENTURY A.D.',
  '59 ½ in. (151 cm.) high',
  '',
  'estimate £700,000 - £1,000,000($932,400 - $1,332,000) ',
  'price realized £862,500  ($1,160,925)'],
 ['Lot 51',
  'A ROMAN MARBLE HEAD OF VENUS',
  'CIRCA 2ND-3RD CENTURY A.D.',
  '10 3/8 in. (26.4 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £62,500  ($84,125)'],
 ['Lot 52',
  'A ROMAN MARBLE HEAD OF A GODDESS',
  'CIRCA 1ST CENTURY A.D.',
  '10 13/16 in. (27.5 cm.) high',
  '',
  'estimate £15,000 - £20,000($19,980 - $26,640) ',
  'price realized £43,750  ($58,888)'],
 ['Lot 53',
  'A ROMAN SILVER SHELL-SHAPED DISH',
  'CIRCA 3RD CENTURY A.D.',
  '6¾ in. (17 cm.) wide max.',
  '',
  'estimate ($53,280 - $79,920) This lot was withdrawn from the sale'],
 ['Lot 54',
  'A ROMAN MARBLE VENUS',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '50 in. (127 cm.) high',
  '',
  'estimate £250,000 - £350,000($333,000 - $466,200) ',
  'price realized £550,000  ($740,300)'],
 ['Lot 55',
  'A ROMAN BRONZE COW',
  'CIRCA 1ST CENTURY B.C.',
  '10 1/8 in. (25.5 cm.) long',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £37,500  ($50,475)'],
 ['Lot 56',
  'A ROMAN BRONZE HORSE',
  'CIRCA 2ND CENTURY A.D.',
  '6 ¾ in. (17.2 cm) long',
  '',
  'estimate £7,000 - £9,000($9,324 - $11,988) ',
  'price realized £27,500  ($37,015)'],
 ['Lot 57',
  'A ROMAN BRONZE DRAPED LEFT ARM',
  'CIRCA 3RD CENTURY A.D.',
  '13 1/8 in. (33.5 cm.) long',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £30,000  ($40,380)'],
 ['Lot 58',
  'A ROMAN BRONZE VENUS ANADYOMENE',
  'CIRCA 2ND CENTURY A.D.',
  '6 1/8 in. (15.5 cm.) high',
  '',
  'estimate £4,000 - £6,000($5,328 - $7,992) ',
  'price realized £1,875  ($2,524)'],
 ['Lot 59',
  'A MONUMENTAL ROMAN GREY MARBLE HEAD OF MINERVA',
  'CIRCA LATE 2ND CENTURY A.D.',
  '25 ½ in. (65 cm.) high',
  '',
  'estimate £500,000 - £800,000($666,000 - $1,065,600) ',
  'price realized £622,500  ($837,885)'],
 ['Lot 60',
  'A ROMAN MARBLE SARCOPHAGUS FRAGMENT',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '14 5/8 in. (37.2 cm.) high',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £16,250  ($21,873)'],
 ['Lot 62',
  'A ROMAN ALABASTER HEAD OF SERAPIS',
  'CIRCA 1ST-2ND CENTURY A.D.',
  '3 7/8 in. (9.7 cm.) high',
  '',
  'estimate £5,000 - £7,000($6,660 - $9,324) ',
  'price realized £7,500  ($10,095)'],
 ['Lot 63',
  'A ROMAN MARBLE TORSO OF A YOUTH',
  'CIRCA 1ST CENTURY A.D.',
  '20 ½ in. (52 cm.) high',
  '',
  'estimate £20,000 - £30,000($26,640 - $39,960) ',
  'price realized £75,000  ($100,950)'],
 ['Lot 64',
  'A GREEK GOLD DIADEM',
  'CIRCA FIRST HALF OF THE 4TH CENTURY B.C.',
  '13 ¾ in. (35 cm.) long',
  '',
  'estimate £80,000 - £120,000($106,560 - $159,840) ',
  'price realized £100,000  ($134,600)'],
 ['Lot 65',
  'TWENTY-FOUR EGYPTIAN STEATITE SCARABS MOUNTED AS A SUITE OF JEWELLERY',
  'NEW KINGDOM, 1550-1069 B.C. AND LATER, WITH 19TH CENTURY MOUNTS',
  'Necklace: 18 in. (46 cm.) long ',
  'Brooch: 3 ¼ in. (8.3 cm.) long ',
  'Earrings: 2 ¼ in. (5.7 cm.) long',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £18,750  ($25,238)'],
 ['Lot 66',
  'A ROMAN GOLD SNAKE RING',
  'CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.',
  '3.4 in. (2 cm) wide max.',
  '',
  'estimate £3,000 - £5,000($3,996 - $6,660) ',
  'price realized £10,625  ($14,301)'],
 ['Lot 68',
  'A MINOAN BANDED AGATE LENTOID',
  'LATE MINOAN II-III, CIRCA 1430-1330 B.C.',
  '¾ in. (2 cm.) wide',
  '',
  'estimate £2,500 - £3,500($3,330 - $4,662) ',
  'price realized £8,125  ($10,936)'],
 ['Lot 70',
  'A ROMAN ROCK CRYSTAL RINGSTONE WITH A PYGMY CARRYING A CICADA',
  'CIRCA 1ST CENTURY B.C.',
  '¾ in. (2 cm.) high',
  '',
  'estimate £7,000 - £9,000($9,324 - $11,988) ',
  'price realized £28,750  ($38,698)'],
 ['Lot 74',
  'A BYZANTINE GOLD AND NIELLO RING',
  'CIRCA 6TH-7TH CENTURY A.D.',
  'Bezel: 11 mm. wide. Ring size: M',
  '',
  'estimate £6,000 - £8,000($7,992 - $10,656) ',
  'price realized £15,000  ($20,190)'],
 ['Lot 75',
  'A BYZANTINE GOLD, NIELLO AND GARNET CROSS',
  'CIRCA 6TH-7TH CENTURY A.D.',
  '1 ½ in. (4 cm.) high',
  '',
  'estimate £10,000 - £15,000($13,320 - $19,980) ',
  'price realized £10,000  ($13,460)'],
 ['Lot 76',
  'A BYZANTINE GOLD AND NIELLO RING',
  'CIRCA 6TH-7TH CENTURY A.D.',
  'Bezel: 12 mm. wide. Ring size: T',
  '',
  'estimate £3,000 - £5,000($3,996 - $6,660) ',
  'price realized £8,750  ($11,778)'],
 ['Lot 77',
  'AN EARLY BYZANTINE MARBLE RELIEF FRAGMENT',
  'CIRCA 4TH-5TH CENTURY A.D.',
  '17 in. (43 cm.) high',
  '',
  'estimate £8,000 - £12,000($10,656 - $15,984) ',
  'price realized £21,250  ($28,603)']]

In [55]:
df = pd.DataFrame(all_data[1:])
df

,0,1,2,3,4,5,6,7,8
0,Lot 4,AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD,"NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-106...",3 5/8 X 4 in. (9.2 x 10.2 cm.),,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £8,750 ($11,778)",None,None
1,Lot 5,AN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL,"MIDDLE KINGDOM, EARLY 12TH DYNASTY, CIRCA 1981...",12 3/8 in. (31.5 cm.) high,,"estimate £30,000 - £50,000($39,960 - $66,600)","price realized £35,000 ($47,110)",None,None
2,Lot 6,AN EGYPTIAN PAINTED CARTONNAGE MUMMY MASK,"NEW KINGDOM, 19TH DYNASTY, CIRCA 1292-1185 B.C.",8 ½ in. (21.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £18,750 ($25,238)",None,None
3,Lot 7,AN EGYPTIAN TURQUOISE FAIENCE FLASK,"NEW KINGDOM, 18TH DYNASTY, CIRCA 1550-1292 B.C.",5 in. (12.8 cm.) high,,"estimate £15,000 - £25,000($19,980 - $33,300)","price realized £4,375 ($5,889)",None,None
4,Lot 9,AN EGYPTIAN NUMMULITIC LIMESTONE FIGURE OF AN ...,"NEW KINGDOM, 18TH DYNASTY, REIGN OF AKHENATEN,...",13 ½ in. (34.3 cm.) high,,"estimate ($532,800 - $799,200) This lot was wi...",None,None,None
5,Lot 11,AN EGYPTIAN BRONZE CAT,"PTOLEMAIC PERIOD, CIRCA 332-30 B.C.",6 5/16 in. (16 cm.) high,,"estimate £15,000 - £25,000($19,980 - $33,300)","price realized £27,500 ($37,015)",None,None
6,Lot 13,AN EGYPTIAN BRONZE OSIRIS-PTAH,"LATE PERIOD, 26TH DYNASTY, REIGN OF PSAMTIK I,...",8 ¼ in. (21 cm.) high,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £387,500 ($521,575)",None,None
7,Lot 15,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH CENTURY B.C.",7 5/16 in. (18.6 cm.) high,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £50,000 ($67,300)",None,None
8,Lot 16,A CYPRIOT POTTERY ANTHROPOMORPHIC JUG,"CYPRO-ARCHAIC I-II, CIRCA 600-480 B.C.",10 ¾ in. (27.3 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £21,250 ($28,603)",None,None
9,Lot 17,A CYPRIOT BICHROME POTTERY JUG,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",14 1/8 in. (36.1 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £12,500 ($16,825)",None,None
10,Lot 18,A CYPRIOT BICHROME POTTERY JUG,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",15 7/8 in. (40.1 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £10,000 ($13,460)",None,None
11,Lot 19,A CYPRIOT LIMESTONE HEAD OF HERAKLES,"CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.",4 ½ in. (11.5 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £6,875 ($9,254)",None,None
12,Lot 20,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"CLASSICAL PERIOD, CIRCA MID-5TH CENTURY B.C.",10 ½ in. (26.8 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £11,250 ($15,143)",None,None
13,Lot 21,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",4 ½ in. (11.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £5,250 ($7,067)",None,None
14,Lot 22,A CYPRIOT LIMESTONE HEAD OF A FEMALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",5 ¼ in. (13.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £5,250 ($7,067)",None,None
15,Lot 24,A CYPRIOT LIMESTONE VOTIVE BUST OF A WOMAN,"CLASSICAL PERIOD, CIRCA 4TH CENTURY B.C.",17 3/8 in. (44.2 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £22,500 ($30,285)",None,None
16,Lot 26,A GREEK BRONZE VOTIVE BULL,"CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.",4 in. (10 cm.) long,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £68,750 ($92,538)",None,None
17,Lot 27,AN ATTIC BLACK-FIGURED BAND-CUP,"SIGNED BY TALEIDES AS POTTER, CIRCA 550-540 B.C.",8 7/8 in. (22.6 cm.) diam. excl. handles,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £37,500 ($50,475)",None,None
18,Lot 28,AN ATTIC RED-FIGURED KYLIX,"ATTRIBUTED TO THE ANCONA PAINTER, CIRCA 470-46...",15 ½ in. (39.5 cm.) diam. incl. handles,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £17,500 ($23,555)",None,None
19,Lot 29,AN ATTIC BLACK-FIGURED AMPHORA,"MANNER OF THE ANTIMENES PAINTER, CIRCA 530-520...",15 ¾ in. (40 cm.) high,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £68,750 ($92,538)",None,None
20,Lot 31,AN ETRUSCAN BRONZE MIRROR,CIRCA 4TH-3RD CENTURY B.C.,8 11/16 in. (22.1 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £7,500 ($10,095)",None,None
21,Lot 32,AN APULIAN RED-FIGURED PELIKE,CIRCA LATE 4TH CENTURY B.C.,12 ¾ in. (32.5 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £16,250 ($21,873)",None,None
22,Lot 33,A GREEK BLACK-GLAZED BOAR ASKOS,"SOUTH ITALY, CIRCA 320-290 B.C.",6 ¼ in. (16 cm.) long,,"estimate £2,500 - £3,500($3,330 - $4,662)","price realized £4,375 ($5,889)",None,None
23,Lot 34,AN APULIAN RED-FIGURED LOUTROPHOROS,"ATTRIBUTED TO THE GROUP OF RUVO 423, CIRCA SEC...",37 ½ in. (95.1 cm.) high,,"estimate £70,000 - £100,000($93,240 - $133,200)","price realized £312,500 ($420,625)",None,None
24,Lot 38,AN ILLYRIAN BRONZE HELMET,"ARCHAIC PERIOD, CIRCA 6TH CENTURY B.C.",10 ½ in. (26.5 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £68,750 ($92,538)",None,None
25,Lot 41,A GREEK MARBLE HEAD OF APHRODITE,"HELLENISTIC PERIOD, CIRCA 2ND CENTURY B.C.",6 in. (15.2 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £25,000 ($33,650)",None,None
26,Lot 42,A GREEK MARBLE GODDESS,"HELLENISTIC PERIOD, CIRCA 3RD CENTURY B.C.",13 13/16 in. (35.1 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £12,500 ($16,825)",None,None
27,Lot 43,A GREEK MARBLE FIGURE OF A DANCING MAENAD,"ROMAN PERIOD, CIRCA 1ST CENTURY B.C./A.D.",22 ¼ in. (56.5 cm.) high,,"estimate £50,000 - £70,000($66,600 - $93,240)","price realized £156,250 ($210,313)",None,None
28,Lot 44,A ROMAN BRONZE HYPNOS,CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.,11 7/8 in. (30.2 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £32,500 ($43,745)",None,None
29,Lot 45,A ROMAN BRONZE MINERVA,CIRCA 1ST CENTURY A.D.,4 ¼ in. (10.8 cm.) high,,"estimate ($39,960 - $66,600) This lot was with...",None,None,None
30,Lot 46,A ROMAN BRONZE MASK OF A COMIC ACTOR,CIRCA 1ST CENTURY A.D.,5 5/8 in. (14.3 cm.) high,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £218,750 ($294,438)",None,None
31,Lot 47,A ROMAN MARBLE TORSO OF HERCULES,CIRCA 1ST-2ND CENTURY A.D.,9 ¼ in. (23.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £38,750 ($52,158)",None,None
32,Lot 49,A GALLO-ROMAN BLUE-GREEN BLOWN GLASS CINERARY URN,CIRCA 1ST-2ND CENTURY A.D.,10 ¾ in. (27.5 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £52,500 ($70,665)",None,None
33,Lot 50,A ROMAN MARBLE TERMINAL FIGURE OF DIONYSUS,CIRCA 2ND CENTURY A.D.,59 ½ in. (151 cm.) high,,"estimate £700,000 - £1,000,000($932,400 - $1,3...","price realized £862,500 ($1,160,925)",None,None
34,Lot 51,A ROMAN MARBLE HEAD OF VENUS,CIRCA 2ND-3RD CENTURY A.D.,10 3/8 in. (26.4 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £62,500 ($84,125)",None,None
35,Lot 52,A ROMAN MARBLE HEAD OF A GODDESS,CIRCA 1ST CENTURY A.D.,10 13/16 in. (27.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £43,750 ($58,888)",None,None
36,Lot 53,A ROMAN SILVER SHELL-SHAPED DISH,CIRCA 3RD CENTURY A.D.,6¾ in. (17 cm.) wide max.,,"estimate ($53,280 - $79,920) This lot was with...",None,None,None
37,Lot 54,A ROMAN MARBLE VENUS,CIRCA 1ST-2ND CENTURY A.D.,50 in. (127 cm.) high,,"estimate £250,000 - £350,000($333,000 - $466,2...","price realized £550,000 ($740,300)",None,None
38,Lot 55,A ROMAN BRONZE COW,CIRCA 1ST CENTURY B.C.,10 1/8 in. (25.5 cm.) long,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £37,500 ($50,475)",None,None
39,Lot 56,A ROMAN BRONZE HORSE,CIRCA 2ND CENTURY A.D.,6 ¾ in. (17.2 cm) long,,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £27,500 ($37,015)",None,None
40,Lot 57,A ROMAN BRONZE DRAPED LEFT ARM,CIRCA 3RD CENTURY A.D.,13 1/8 in. (33.5 cm.) long,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £30,000 ($40,380)",None,None
41,Lot 58,A ROMAN BRONZE VENUS ANADYOMENE,CIRCA 2ND CENTURY A.D.,6 1/8 in. (15.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £1,875 ($2,524)",None,None
42,Lot 59,A MONUMENTAL ROMAN GREY MARBLE HEAD OF MINERVA,CIRCA LATE 2ND CENTURY A.D.,25 ½ in. (65 cm.) high,,"estimate £500,000 - £800,000($666,000 - $1,065...","price realized £622,500 ($837,885)",None,None
43,Lot 60,A ROMAN MARBLE SARCOPHAGUS FRAGMENT,CIRCA 1ST-2ND CENTURY A.D.,14 5/8 in. (37.2 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £16,250 ($21,873)",None,None
44,Lot 62,A ROMAN ALABASTER HEAD OF SERAPIS,CIRCA 1ST-2ND CENTURY A.D.,3 7/8 in. (9.7 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £7,500 ($10,095)",None,None
45,Lot 63,A ROMAN MARBLE TORSO OF A YOUTH,CIRCA 1ST CENTURY A.D.,20 ½ in. (52 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £75,000 ($100,950)",None,None
46,Lot 64,A GREEK GOLD DIADEM,CIRCA FIRST HALF OF THE 4TH CENTURY B.C.,13 ¾ in. (35 cm.) long,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £100,000 ($134,600)",None,None
47,Lot 65,TWENTY-FOUR EGYPTIAN STEATITE SCARABS MOUNTED ...,"NEW KINGDOM, 1550-1069 B.C. AND LATER, WITH 19...",Necklace: 18 in. (46 cm.) long,Brooch: 3 ¼ in. (8.3 cm.) long,Earrings: 2 ¼ in. (5.7 cm.) long,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £18,750 ($25,238)"
48,Lot 66,A ROMAN GOLD SNAKE RING,CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.,3.4 in. (2 cm) wide max.,,"estimate £3,000 - £5,000($3,996 - $6,660)","price realized £10,625 ($14,301)",None,None
49,Lot 68,A MINOAN BANDED AGATE LENTOID,"LATE MINOAN II-III, CIRCA 1430-1330 B.C.",¾ in. (2 cm.) wide,,"estimate £2,500 - £3,500($3,330 - $4,662)","price realized £8,125 ($10,936)",None,None
50,Lot 70,A ROMAN ROCK CRYSTAL RINGSTONE WITH A PYGMY CA...,CIRCA 1ST CENTURY B.C.,¾ in. (2 cm.) high,,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £28,750 ($38,698)",None,None
51,Lot 74,A BYZANTINE GOLD AND NIELLO RING,CIRCA 6TH-7TH CENTURY A.D.,Bezel: 11 mm. wide. Ring size: M,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £15,000 ($20,190)",None,None
52,Lot 75,"A BYZANTINE GOLD, NIELLO AND GARNET CROSS",CIRCA 6TH-7TH CENTURY A.D.,1 ½ in. (4 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £10,000 ($13,460)",None,None
53,Lot 76,A BYZANTINE GOLD AND NIELLO RING,CIRCA 6TH-7TH CENTURY A.D.,Bezel: 12 mm. wide. Ring size: T,,"estimate £3,000 - £5,000($3,996 - $6,660)","price realized £8,750 ($11,778)",None,None
54,Lot 77,AN EARLY BYZANTINE MARBLE RELIEF FRAGMENT,CIRCA 4TH-5TH CENTURY A.D.,17 in. (43 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £21,250 ($28,603)",None,None

In [56]:
df2 = pd.DataFrame(all_data[:1])
df2

                        0
0  55 Lots for Sale 18864

Delete the rows with more than 6 (0:5) columns: 
- deleting from the list before adding to the table (the ones longer than expected)? 
- selecting the ones that are not None in the last two columns and deleting the rows (because it indicates the info is

In [57]:
df[8].unique()

array([None, 'price realized £18,750  ($25,238)'], dtype=object)

In [58]:
# in this auction event the lot that didn't fit the columns is the 47
df.loc[[47]]

,0,1,2,3,4,5,6,7,8
47,Lot 65,TWENTY-FOUR EGYPTIAN STEATITE SCARABS MOUNTED ...,"NEW KINGDOM, 1550-1069 B.C. AND LATER, WITH 19...",Necklace: 18 in. (46 cm.) long,Brooch: 3 ¼ in. (8.3 cm.) long,Earrings: 2 ¼ in. (5.7 cm.) long,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £18,750 ($25,238)"

In [59]:
df.isnull().any()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
dtype: bool

In [60]:
dfa = df[pd.notnull(df[8])]
dfa

,0,1,2,3,4,5,6,7,8
47,Lot 65,TWENTY-FOUR EGYPTIAN STEATITE SCARABS MOUNTED ...,"NEW KINGDOM, 1550-1069 B.C. AND LATER, WITH 19...",Necklace: 18 in. (46 cm.) long,Brooch: 3 ¼ in. (8.3 cm.) long,Earrings: 2 ¼ in. (5.7 cm.) long,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £18,750 ($25,238)"

In [61]:
len(dfa)

1

In [62]:
# filter rows where a particular column is empty
dfb = df[df[8].str.len() > 0]
dfb

,0,1,2,3,4,5,6,7,8
47,Lot 65,TWENTY-FOUR EGYPTIAN STEATITE SCARABS MOUNTED ...,"NEW KINGDOM, 1550-1069 B.C. AND LATER, WITH 19...",Necklace: 18 in. (46 cm.) long,Brooch: 3 ¼ in. (8.3 cm.) long,Earrings: 2 ¼ in. (5.7 cm.) long,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £18,750 ($25,238)"

It is best to perform the clean-up steps once we have all the data. Automating the cleaning steps could work against us if not all the scraped lot pages are the same.

### Join Header info with lots info

In [63]:
head = [[
    #auction title: 
    re.sub("[\n\r/]", "", soup.find_all("h2",{"class":"browse-sale-title"})[0].get_text(strip=True)),
    #auction id: 
    re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-number"})[0].get_text(strip=True)),
    #date: 
    re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
    #location: 
    re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
    #total sale: 
    re.sub("[\n\r/]", "", soup.find_all("span",{"id":"spanTotal"})[0].get_text(strip=True)),
    #price realized: 
    re.sub("[\n\r/]", "", soup.find_all("div",{"id":"lots_for_sale"},"strong")[0].get_text(strip=True))
    ]]
head

[['Antiquities',
  'Auction                18864',
  '16 December 2020,                    London',
  '16 December 2020,                    London',
  'SALE TOTAL: 4,337,125 (GBP)',
  '55 Lotsfor Sale 18864']]

In [64]:
# convert the head to a df
df3 = pd.DataFrame(head*(len(df)))
df3

,0,1,2,3,4,5
0,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
1,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
2,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
3,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
4,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
5,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
6,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
7,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
8,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
9,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
10,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
11,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
12,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
13,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
14,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
15,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
16,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
17,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
18,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
19,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
20,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
21,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
22,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
23,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
24,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
25,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
26,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
27,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
28,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
29,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
30,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
31,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
32,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
33,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
34,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
35,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
36,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
37,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
38,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
39,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
40,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
41,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
42,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
43,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
44,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
45,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
46,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
47,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
48,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
49,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
50,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
51,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
52,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
53,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864
54,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864

In [65]:
len(df3)

55

In [66]:
len(df)

55

In [67]:
# join all df (head + info and then all data )

In [68]:
result = pd.concat([df3, df], axis=1, join="inner")
result

,0,1,2,3,4,5,0,1,2,3,4,5,6,7,8
0,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 4,AN EGYPTIAN WHITE FAIENCE TILE WITH A REKHYT BIRD,"NEW KINGDOM, 19TH-20TH DYNASTY, CIRCA 1292-106...",3 5/8 X 4 in. (9.2 x 10.2 cm.),,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £8,750 ($11,778)",None,None
1,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 5,AN EGYPTIAN POLYCHROME WOOD FIGURE OF AN OFFICIAL,"MIDDLE KINGDOM, EARLY 12TH DYNASTY, CIRCA 1981...",12 3/8 in. (31.5 cm.) high,,"estimate £30,000 - £50,000($39,960 - $66,600)","price realized £35,000 ($47,110)",None,None
2,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 6,AN EGYPTIAN PAINTED CARTONNAGE MUMMY MASK,"NEW KINGDOM, 19TH DYNASTY, CIRCA 1292-1185 B.C.",8 ½ in. (21.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £18,750 ($25,238)",None,None
3,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 7,AN EGYPTIAN TURQUOISE FAIENCE FLASK,"NEW KINGDOM, 18TH DYNASTY, CIRCA 1550-1292 B.C.",5 in. (12.8 cm.) high,,"estimate £15,000 - £25,000($19,980 - $33,300)","price realized £4,375 ($5,889)",None,None
4,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 9,AN EGYPTIAN NUMMULITIC LIMESTONE FIGURE OF AN ...,"NEW KINGDOM, 18TH DYNASTY, REIGN OF AKHENATEN,...",13 ½ in. (34.3 cm.) high,,"estimate ($532,800 - $799,200) This lot was wi...",None,None,None
5,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 11,AN EGYPTIAN BRONZE CAT,"PTOLEMAIC PERIOD, CIRCA 332-30 B.C.",6 5/16 in. (16 cm.) high,,"estimate £15,000 - £25,000($19,980 - $33,300)","price realized £27,500 ($37,015)",None,None
6,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 13,AN EGYPTIAN BRONZE OSIRIS-PTAH,"LATE PERIOD, 26TH DYNASTY, REIGN OF PSAMTIK I,...",8 ¼ in. (21 cm.) high,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £387,500 ($521,575)",None,None
7,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 15,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH CENTURY B.C.",7 5/16 in. (18.6 cm.) high,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £50,000 ($67,300)",None,None
8,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 16,A CYPRIOT POTTERY ANTHROPOMORPHIC JUG,"CYPRO-ARCHAIC I-II, CIRCA 600-480 B.C.",10 ¾ in. (27.3 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £21,250 ($28,603)",None,None
9,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 17,A CYPRIOT BICHROME POTTERY JUG,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",14 1/8 in. (36.1 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £12,500 ($16,825)",None,None
10,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 18,A CYPRIOT BICHROME POTTERY JUG,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",15 7/8 in. (40.1 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £10,000 ($13,460)",None,None
11,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 19,A CYPRIOT LIMESTONE HEAD OF HERAKLES,"CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.",4 ½ in. (11.5 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £6,875 ($9,254)",None,None
12,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 20,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"CLASSICAL PERIOD, CIRCA MID-5TH CENTURY B.C.",10 ½ in. (26.8 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £11,250 ($15,143)",None,None
13,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 21,A CYPRIOT LIMESTONE HEAD OF A MALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",4 ½ in. (11.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £5,250 ($7,067)",None,None
14,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 22,A CYPRIOT LIMESTONE HEAD OF A FEMALE VOTARY,"ARCHAIC PERIOD, CIRCA LATE 6TH-EARLY 5TH CENTU...",5 ¼ in. (13.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £5,250 ($7,067)",None,None
15,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 24,A CYPRIOT LIMESTONE VOTIVE BUST OF A WOMAN,"CLASSICAL PERIOD, CIRCA 4TH CENTURY B.C.",17 3/8 in. (44.2 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £22,500 ($30,285)",None,None
16,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 26,A GREEK BRONZE VOTIVE BULL,"CLASSICAL PERIOD, CIRCA EARLY 5TH CENTURY B.C.",4 in. (10 cm.) long,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £68,750 ($92,538)",None,None
17,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 27,AN ATTIC BLACK-FIGURED BAND-CUP,"SIGNED BY TALEIDES AS POTTER, CIRCA 550-540 B.C.",8 7/8 in. (22.6 cm.) diam. excl. handles,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £37,500 ($50,475)",None,None
18,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 28,AN ATTIC RED-FIGURED KYLIX,"ATTRIBUTED TO THE ANCONA PAINTER, CIRCA 470-46...",15 ½ in. (39.5 cm.) diam. incl. handles,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £17,500 ($23,555)",None,None
19,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 29,AN ATTIC BLACK-FIGURED AMPHORA,"MANNER OF THE ANTIMENES PAINTER, CIRCA 530-520...",15 ¾ in. (40 cm.) high,,"estimate £40,000 - £60,000($53,280 - $79,920)","price realized £68,750 ($92,538)",None,None
20,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 31,AN ETRUSCAN BRONZE MIRROR,CIRCA 4TH-3RD CENTURY B.C.,8 11/16 in. (22.1 cm.) high,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £7,500 ($10,095)",None,None
21,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 32,AN APULIAN RED-FIGURED PELIKE,CIRCA LATE 4TH CENTURY B.C.,12 ¾ in. (32.5 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £16,250 ($21,873)",None,None
22,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 33,A GREEK BLACK-GLAZED BOAR ASKOS,"SOUTH ITALY, CIRCA 320-290 B.C.",6 ¼ in. (16 cm.) long,,"estimate £2,500 - £3,500($3,330 - $4,662)","price realized £4,375 ($5,889)",None,None
23,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 34,AN APULIAN RED-FIGURED LOUTROPHOROS,"ATTRIBUTED TO THE GROUP OF RUVO 423, CIRCA SEC...",37 ½ in. (95.1 cm.) high,,"estimate £70,000 - £100,000($93,240 - $133,200)","price realized £312,500 ($420,625)",None,None
24,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 38,AN ILLYRIAN BRONZE HELMET,"ARCHAIC PERIOD, CIRCA 6TH CENTURY B.C.",10 ½ in. (26.5 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £68,750 ($92,538)",None,None
25,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 41,A GREEK MARBLE HEAD OF APHRODITE,"HELLENISTIC PERIOD, CIRCA 2ND CENTURY B.C.",6 in. (15.2 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £25,000 ($33,650)",None,None
26,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 42,A GREEK MARBLE GODDESS,"HELLENISTIC PERIOD, CIRCA 3RD CENTURY B.C.",13 13/16 in. (35.1 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £12,500 ($16,825)",None,None
27,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 43,A GREEK MARBLE FIGURE OF A DANCING MAENAD,"ROMAN PERIOD, CIRCA 1ST CENTURY B.C./A.D.",22 ¼ in. (56.5 cm.) high,,"estimate £50,000 - £70,000($66,600 - $93,240)","price realized £156,250 ($210,313)",None,None
28,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 44,A ROMAN BRONZE HYPNOS,CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.,11 7/8 in. (30.2 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £32,500 ($43,745)",None,None
29,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 45,A ROMAN BRONZE MINERVA,CIRCA 1ST CENTURY A.D.,4 ¼ in. (10.8 cm.) high,,"estimate ($39,960 - $66,600) This lot was with...",None,None,None
30,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 46,A ROMAN BRONZE MASK OF A COMIC ACTOR,CIRCA 1ST CENTURY A.D.,5 5/8 in. (14.3 cm.) high,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £218,750 ($294,438)",None,None
31,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 47,A ROMAN MARBLE TORSO OF HERCULES,CIRCA 1ST-2ND CENTURY A.D.,9 ¼ in. (23.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £38,750 ($52,158)",None,None
32,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 49,A GALLO-ROMAN BLUE-GREEN BLOWN GLASS CINERARY URN,CIRCA 1ST-2ND CENTURY A.D.,10 ¾ in. (27.5 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £52,500 ($70,665)",None,None
33,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 50,A ROMAN MARBLE TERMINAL FIGURE OF DIONYSUS,CIRCA 2ND CENTURY A.D.,59 ½ in. (151 cm.) high,,"estimate £700,000 - £1,000,000($932,400 - $1,3...","price realized £862,500 ($1,160,925)",None,None
34,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 51,A ROMAN MARBLE HEAD OF VENUS,CIRCA 2ND-3RD CENTURY A.D.,10 3/8 in. (26.4 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £62,500 ($84,125)",None,None
35,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 52,A ROMAN MARBLE HEAD OF A GODDESS,CIRCA 1ST CENTURY A.D.,10 13/16 in. (27.5 cm.) high,,"estimate £15,000 - £20,000($19,980 - $26,640)","price realized £43,750 ($58,888)",None,None
36,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 53,A ROMAN SILVER SHELL-SHAPED DISH,CIRCA 3RD CENTURY A.D.,6¾ in. (17 cm.) wide max.,,"estimate ($53,280 - $79,920) This lot was with...",None,None,None
37,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 54,A ROMAN MARBLE VENUS,CIRCA 1ST-2ND CENTURY A.D.,50 in. (127 cm.) high,,"estimate £250,000 - £350,000($333,000 - $466,2...","price realized £550,000 ($740,300)",None,None
38,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 55,A ROMAN BRONZE COW,CIRCA 1ST CENTURY B.C.,10 1/8 in. (25.5 cm.) long,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £37,500 ($50,475)",None,None
39,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 56,A ROMAN BRONZE HORSE,CIRCA 2ND CENTURY A.D.,6 ¾ in. (17.2 cm) long,,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £27,500 ($37,015)",None,None
40,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 57,A ROMAN BRONZE DRAPED LEFT ARM,CIRCA 3RD CENTURY A.D.,13 1/8 in. (33.5 cm.) long,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £30,000 ($40,380)",None,None
41,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 58,A ROMAN BRONZE VENUS ANADYOMENE,CIRCA 2ND CENTURY A.D.,6 1/8 in. (15.5 cm.) high,,"estimate £4,000 - £6,000($5,328 - $7,992)","price realized £1,875 ($2,524)",None,None
42,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 59,A MONUMENTAL ROMAN GREY MARBLE HEAD OF MINERVA,CIRCA LATE 2ND CENTURY A.D.,25 ½ in. (65 cm.) high,,"estimate £500,000 - £800,000($666,000 - $1,065...","price realized £622,500 ($837,885)",None,None
43,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 60,A ROMAN MARBLE SARCOPHAGUS FRAGMENT,CIRCA 1ST-2ND CENTURY A.D.,14 5/8 in. (37.2 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £16,250 ($21,873)",None,None
44,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 62,A ROMAN ALABASTER HEAD OF SERAPIS,CIRCA 1ST-2ND CENTURY A.D.,3 7/8 in. (9.7 cm.) high,,"estimate £5,000 - £7,000($6,660 - $9,324)","price realized £7,500 ($10,095)",None,None
45,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 63,A ROMAN MARBLE TORSO OF A YOUTH,CIRCA 1ST CENTURY A.D.,20 ½ in. (52 cm.) high,,"estimate £20,000 - £30,000($26,640 - $39,960)","price realized £75,000 ($100,950)",None,None
46,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 64,A GREEK GOLD DIADEM,CIRCA FIRST HALF OF THE 4TH CENTURY B.C.,13 ¾ in. (35 cm.) long,,"estimate £80,000 - £120,000($106,560 - $159,840)","price realized £100,000 ($134,600)",None,None
47,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 65,TWENTY-FOUR EGYPTIAN STEATITE SCARABS MOUNTED ...,"NEW KINGDOM, 1550-1069 B.C. AND LATER, WITH 19...",Necklace: 18 in. (46 cm.) long,Brooch: 3 ¼ in. (8.3 cm.) long,Earrings: 2 ¼ in. (5.7 cm.) long,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £18,750 ($25,238)"
48,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 66,A ROMAN GOLD SNAKE RING,CIRCA 1ST CENTURY B.C.-1ST CENTURY A.D.,3.4 in. (2 cm) wide max.,,"estimate £3,000 - £5,000($3,996 - $6,660)","price realized £10,625 ($14,301)",None,None
49,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 68,A MINOAN BANDED AGATE LENTOID,"LATE MINOAN II-III, CIRCA 1430-1330 B.C.",¾ in. (2 cm.) wide,,"estimate £2,500 - £3,500($3,330 - $4,662)","price realized £8,125 ($10,936)",None,None
50,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 70,A ROMAN ROCK CRYSTAL RINGSTONE WITH A PYGMY CA...,CIRCA 1ST CENTURY B.C.,¾ in. (2 cm.) high,,"estimate £7,000 - £9,000($9,324 - $11,988)","price realized £28,750 ($38,698)",None,None
51,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 74,A BYZANTINE GOLD AND NIELLO RING,CIRCA 6TH-7TH CENTURY A.D.,Bezel: 11 mm. wide. Ring size: M,,"estimate £6,000 - £8,000($7,992 - $10,656)","price realized £15,000 ($20,190)",None,None
52,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 75,"A BYZANTINE GOLD, NIELLO AND GARNET CROSS",CIRCA 6TH-7TH CENTURY A.D.,1 ½ in. (4 cm.) high,,"estimate £10,000 - £15,000($13,320 - $19,980)","price realized £10,000 ($13,460)",None,None
53,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 76,A BYZANTINE GOLD AND NIELLO RING,CIRCA 6TH-7TH CENTURY A.D.,Bezel: 12 mm. wide. Ring size: T,,"estimate £3,000 - £5,000($3,996 - $6,660)","price realized £8,750 ($11,778)",None,None
54,Antiquities,Auction 18864,"16 December 2020, London","16 December 2020, London","SALE TOTAL: 4,337,125 (GBP)",55 Lotsfor Sale 18864,Lot 77,AN EARLY BYZANTINE MARBLE RELIEF FRAGMENT,CIRCA 4TH-5TH CENTURY A.D.,17 in. (43 cm.) high,,"estimate £8,000 - £12,000($10,656 - $15,984)","price realized £21,250 ($28,603)",None,None

In [69]:
len(result)

55

### Lot scrape function

In [70]:
def get_url():
    # 2. find url and store it in avariable
    url = "https://www.christies.com/lotfinder/print_sale.aspx?saleid=28619"
    # 3. download html with a get request
    response = requests.get(url)
    #check response status code 
    response.status_code
    # create a beautiful soup
    soup = BeautifulSoup(response.content, 'html.parser')
get_url()

In [71]:
for i in lot_data:
    print(len(i))

NameError: name 'lot_data' is not defined

In [72]:
# get print page lot data 
def page_lot_data(soup):
    lot_data = [] 
    for i in soup.find_all("tr"):
        lot_data.append(i.text)
   
    lot_data = [x.strip().split("\n") for x in lot_data]
   
    
    df_lot = pd.DataFrame(lot_data[1:], columns = ['lot','title','descr','measures','empty','estimated','realizes'])
    return df_lot
page_lot_data(soup)

ValueError: 7 columns passed, passed data had 9 columns

In [ ]:
# get print page header data 
def page_header(soup):
    head = [[
        #auction title: 
        re.sub("[\n\r/]", "", soup.find_all("h2",{"class":"browse-sale-title"})[0].get_text(strip=True)),
        #auction id: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-number"})[0].get_text(strip=True)),
        #date: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #location: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #total sale: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[2].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("div",{"id":"lots_for_sale"},"strong")[0].get_text(strip=True))
        ]]
    df_head = pd.DataFrame(head*(len(df_lot)), columns = ['category','id','date','location','total_sale','nooflots'])
    return df_head
page_header(soup)

In [ ]:
# concat header + lot data
def concat_hl():
    result = pd.concat([df_head, df_lot], axis=1, join="inner")
    return result
concat_hl()

In [ ]:
def one_page():
    page_lot_data()
    page_header()
    concat_hl()
    return result
one_page()

In [73]:
# this gets the data of the single lots 
url = "https://www.christies.com/lotfinder/print_sale.aspx?saleid=28619"
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, 'html.parser')

lot_data = [] 
for i in soup.find_all("tr"):
    lot_data.append(i.text)
lot_data = [x.strip().split("\n") for x in lot_data]
df_lot = pd.DataFrame(lot_data[1:], columns=['lot','title','descr','measures','empty','estimated','realizes'])

head = [[
        #auction title: 
        re.sub("[\n\r/]", "", soup.find_all("h2",{"class":"browse-sale-title"})[0].get_text(strip=True)),
        #auction id: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-number"})[0].get_text(strip=True)),
        #date: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #location: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #total sale: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[2].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("div",{"id":"lots_for_sale"},"strong")[0].get_text(strip=True))
        ]]
df_head = pd.DataFrame(head*(len(df_lot)), columns = ['category','id','date','location','total_sale','nooflots'])

result = pd.concat([df_head, df_lot], axis=1, join="inner")

ValueError: 7 columns passed, passed data had 9 columns

In [ ]:
result

### Get the whole info of the list

In [ ]:
antiquities = [29064, 29150, 28840, 29063, 28980, 28619, 28775, 28620, 28629, 28618, 28783, 28785, 28552, 28917, 28682, 28125, 28597, 28295, 28580, 28201, 28097, 28363, 28178, 28329, 28200, 27821, 27423, 27522, 27422, 27942, 27521, 26822, 26920, 26821, 26919, 26158, 27002, 26172, 26744, 26157, 26171, 25353, 25123, 25307, 25122, 25050, 24491, 24743, 24670, 24618, 24445, 24628, 24269, 24033, 24150, 24337, 24554, 23986, 24219, 24516, 24326, 24268, 23585, 23820, 17246, 23545, 23710, 23760, 23097, 23096, 23264, 23019, 23214, 23416, 22640, 22639, 22908, 22631, 22857, 22937, 22824, 22181, 22180, 22407, 22490, 22121, 22384]
#antiquities_results = []
emptydf = pd.DataFrame()
#lot_data = [] 

url_antiquities_print=[]
for k in antiquities:
    urll='https://www.christies.com/lotfinder/print_sale.aspx?saleid='+str(k)
    url_antiquities_print.append(urll)

In [ ]:
url_antiquities_print

In [ ]:
# this gets the data of the single lots 
# soup each link
#lot_data = [] 
result = []
appended_dataframe = pd.DataFrame(columns = ['category','id','date','location','total_sale','nooflots','lot','title',
                                             'descr','measures','empty','estimated','realizes'])

for url in url_antiquities_print[:2]:
    #url = url_antiquities_print #iterate over the urll list 
    response = requests.get(url)
    response.status_code
    soup = BeautifulSoup(response.content, 'html.parser')
    
    df_lot = page_lot_data(soup)
    # extract the lot and head data
    #lot_data = [] 
    #for i in soup.find_all("tr"):
        #lot_data.append(i.text)
    #lot_data_2 = [x.strip().split("\n") for x in lot_data]
    #df_lot = pd.DataFrame(lot_data_2[1:])

    df_head = page_header(soup)
    #head = [[
            #auction title: 
            #re.sub("[\n\r/]", "", soup.find_all("h2",{"class":"browse-sale-title"})[0].get_text(strip=True)),
            #auction id: 
            #re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-number"})[0].get_text(strip=True)),
            #date: 
            #re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
            #location: 
            #re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
            #total sale: 
            #re.sub("[\n\r/]", "", soup.find_all("span",{"class":"lot-description"})[2].get_text(strip=True)),
            #price realized: 
            #re.sub("[\n\r/]", "", soup.find_all("div",{"id":"lots_for_sale"},"strong")[0].get_text(strip=True))
            #]]
    #df_head = pd.DataFrame(head*(len(df_lot)))

    # concat lot and head data 
    result = pd.concat([df_head, df_lot], axis=1, join="inner")

    # concat / store page data
    # antiquities_results.append(result)
    appended_dataframe.append(result)
    #appended_dataframe = appended_dataframe.append(result)
    #appended_dataframe = pd.concat([result])
#appended_dataframe = pd.concat(appended_dataframe)

In [ ]:
appended_dataframe

In [ ]:
# out from the loop
antiquities_results = pd.concat(antiquities_results)
#antiquities_results.to_csv(r'appended.csv', index = False, header = True)
#antiquities_df.reset_index(drop=True, inplace=True)

In [ ]:
# concat the tables
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:
all_data = [] 
for i in soup.find_all("tr"):
    all_data.append(i.text)
all_data = [x.strip().split("\n") for x in all_data]
#df = pd.DataFrame(all_data[1:])

In [ ]:
clean_data = []
for i in all_data:
    lent=len(i)
    if lent==7:
        clean_data.append(i)

In [ ]:
lot_data = pd.DataFrame.from_records(clean_data, columns = ['lot','title','descr','measures','empty','estimated','realized'])

In [ ]:
head = [[
        #auction title/cat: 
        re.sub("[\n\r/]", "", soup.find_all("h2",{"class":"browse-sale-title"})[0].get_text(strip=True)),
        #auction id: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-number"})[0].get_text(strip=True)),
        #date: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #location: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"class":"sale-date"})[0].get_text(strip=True)),
        #total sale: 
        re.sub("[\n\r/]", "", soup.find_all("span",{"id":"spanTotal"})[0].get_text(strip=True)),
        #price realized: 
        re.sub("[\n\r/]", "", soup.find_all("div",{"id":"lots_for_sale"},"strong")[0].get_text(strip=True))
        ]]
df_head = pd.DataFrame(head*(len(lot_data)), columns = ['category','id','date','location','total_sale','nooflots'])

In [ ]:
result = pd.concat([df_head, lot_data], axis=1, join="inner")

### Get the whole info of all the lists

In [ ]:
antiquities21 = [29064,29150,28840,29063,28980]
antiquities20 = [28619,28775,28620,28629,28618,28783,28785,28552,28917,28682]
antiquities19 = [28125,28597,28295,28580,28201,28097,28363,28178,28329,28200]
antiquities18 = [27821,27423,27522,27422,27942,27521]
antiquities17 = [26822,26920,26821,26919]
antiquities16 = [26158,27002,26172,26744,26157,26171]
antiquities15 = [25353,25123,25307,25122]
antiquities14 = [25050,24491,24743,24670,24618,24445,24628]
antiquities13 = [24269,24033,24150,24337,24554,23986,24219,24516,24326]
antiquities12 = [24268,23585,23820,17246,23545,23710,23760]
antiquities11 = [23097,23096,23264,23019,23214,23416]
antiquities10 = [22640,22639,22908,22631,22857,22937,22824]
antiquities09 = [22181,22180,22407,22490,22121,22384]

## APPENDIX

In [ ]:
soup.find('h2').get_text(strip=True)

In [ ]:
soup.find('h1').get_text(strip=True)

In [ ]:
soup.find('header').get_text(strip=True)

In [ ]:
a_tags = soup.find_all('a')
a_tags

In [ ]:
driver.find_elements_by_class_name('chr-lot-tile__link')

#.text.encode('ascii', 'ignore').strip()

In [ ]:
from selenium import webdriver
driver = webdriver.Chrome(executable_path= r'C:\Users\glori\Documents\ironhack\final_project\chromedriver.exe')

In [ ]:
product_titles = driver.find_elements_by_class_name('title') 

for title in product_titles: 
    print(title.text)

In [ ]:
item_url_list = []
driver = webdriver.Chrome('C:\Program Files (x86)\Google\Chrome\Application\chrome.exe')

for sub_url in sub_url_list[0:1001]: 
    try:
        driver.get(sub_url)
        try:
            driver.find_element_by_class('christies-icon_close closeiframe').click()  
        except:
            pass            
        try:
            element = driver.find_element_by_id("loadAllUpcomingPast")
            hov = ActionChains(driver).move_to_element(element)
            hov.perform()
            element.click()  
            print('loaded all')          
        except:
            pass     
        time.sleep(5)
        a_list1 = driver.find_elements_by_class_name("cta-image")
        print(len(a_list1))
        
        item_url_sub = map(lambda x: x.get_attribute('href').\
                           encode('ascii', 'ignore').strip(), a_list1)
        
        item_url_list1.append(item_url_sub)
    except:
        print(driver.current_url)
        pass
    
driver.close()

## Let's try: with the whole lot pages

### Read the csv links

### Get the soup

### Query the soup

In [ ]:
# save prettify txt
with open('ant.txt', 'w', encoding='utf-8') as f_out:
    f_out.write(soup.prettify())

In [ ]:
# define iterations 23 years + 12 months = 276
iterations=list(range(1,13,1))

In [ ]:
# check the iterations work

iterations

In [ ]:
from time import sleep

# simple example 
for i in range(5):
    print(i)
    sleep(3)

In [ ]:
# To make it more "human", we can randomize the waiting time:

from random import randint

In [ ]:
for i in range(5):
    print(i)
    wait_time=randint(1,4)
    print("i will sleep now for"+str(wait_time)+'seconds')
    sleep(wait_time)

In [ ]:
pages =[]
#assemble urls
for i in iterations:
    month =str(i)
    url="https://www.christies.com/en/results?year=2021&month=" + month
#download html with get request
    response = requests.get(url)
#monitor the status codes for each page 
    print("status=" +str(response.status_code))
#store pages into a list 
    pages.append(response)
#respectful nap time 
    wait_time=randint(1,4)
    print("i will sleep for..." +str(wait_time) +" seconds now")
    sleep(wait_time)

In [ ]:
a_tags = soup.find_all("a", {"class":"chr-event-tile__title"})

for a in a_tags:
    print(a.get("href"))
    print(a.get_text())

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
BeautifulSoup(pages[0].content,"html.parser")

In [ ]:
eventlink =[]
eventname=[]
pages_parsed=[]

for i in range(len(pages)):
    pages_parsed.append(BeautifulSoup(pages[i].content,"html.parser"))
    christies_html=pages_parsed[i].select("h4")
    #for each movie, store title and synopsis into the lists
    for j in range(len(christies_html)):
        eventlink.append(christies_html[j].select("data-srcset"))
        eventname.append(christies_html[j].select("h4.a"))

# check output
print(len(eventlink))
print(len(eventname))

bstest1 = pd.DataFrame({'eventlink':eventlink,'eventname':eventname})